Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

private function
  case_studies/coadds/get_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add back private detection figure function here
  case_studies/sdss_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small changes to improve scatter shade figure
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

simplify tqdm usage
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

enable precision/recall figure on galsim simulated blends for mag
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new figures and data
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
Due: none

add histogram for galaxy residual figure
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

classification figure on matched galaxy added
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove commented out code
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

detection and classification figures on galsim blends of stars and galaxies (#709)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/models/galsim_decoder.py
  bliss/plotting.py
  bliss/reporting.py
  case_studies/coadds/coadds.py
  case_studies/coadds/config/config.yaml
  case_studies/coadds/get_dataset.py
  case_studies/coadds/get_results.py
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/get_figures.py
  poetry.lock
  tests/case_studies/galsim_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

detection and classification figures on galsim blends of stars and galaxies (#709)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/models/galsim_decoder.py
  bliss/plotting.py
  bliss/reporting.py
  case_studies/coadds/coadds.py
  case_studies/coadds/config/config.yaml
  case_studies/coadds/get_dataset.py
  case_studies/coadds/get_results.py
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/get_figures.py
  case_studies/sdss_galaxies/get_figures.py
  poetry.lock
  tests/case_studies/galsim_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix workflow files
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

fix all workflow files
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

fix workflow files (#711)
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

no pipx
  .github/workflows/case_studies.yml
Due: trailing-whitespace, end-of-file-fixer

no pipx in case study workflow (#713)
  .github/workflows/case_studies.yml
Due: trailing-whitespace, end-of-file-fixer

use python 3.10 because why not
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

pipx was not the issue, seems to be in the setup. let's try pipx with force
  .github/workflows/case_studies.yml
Due: trailing-whitespace, end-of-file-fixer

updates that might help
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

correct vresion
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

Fix case study run (#714)
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

toy example draft
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

description of plocs
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add loc_sd as an output
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Update case_studies.yml
  .github/workflows/case_studies.yml
Due: trailing-whitespace, end-of-file-fixer

use `loc_sd` in catalog and add `locs` to dictionary output of `get_tile_params_at_coord`
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

some corrections to toy figure data creation
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

toy separation is a new figure in config
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

save notebook where plots are progressing
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
Due: trailing-whitespace, end-of-file-fixer

fix bias again
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fixed notebook :D
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
Due: trailing-whitespace, end-of-file-fixer

code for plotting and plots added
  case_studies/galsim_galaxies/figures/toy_separation.png
  case_studies/galsim_galaxies/figures/toy_separation_measurements.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

plots updated in notebook
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
Due: trailing-whitespace, end-of-file-fixer

wrapping up figure
  case_studies/galsim_galaxies/figures/toy_separation.png
  case_studies/galsim_galaxies/figures/toy_separation_measurements.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Galaxy pair separation figure (#712)
  bliss/catalog.py
  bliss/encoder.py
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Galaxy pair separation figure (#712)
  bliss/catalog.py
  bliss/encoder.py
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/figures/toy_separation.png
  case_studies/galsim_galaxies/figures/toy_separation_measurements.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
