Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

plots seem to work now
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove old results files
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder_results
  case_studies/sdss_galaxies/models/sdss_sleep_results
Due: trailing-whitespace, end-of-file-fixer

don't add configuration items twice
  case_studies/sdss_galaxies/tests/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

move stored latents to case_studies
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
Due: none

added latents_simulated_sdss_galaxies to lfs
  .gitattributes
Due: trailing-whitespace, end-of-file-fixer

store latent variables in project folder
  bliss/utils.py
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Move tests not specific to sdss galaxies into main folder
  tests/test_encoder_forward.py
  tests/test_fnp.py
  tests/test_kl_pq.py
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Don't load default generate config since it overwrites dataset params
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

extra line
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

investigating cause of style change (seaborn)
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add missing newline
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

make test override one line
  case_studies/sdss_galaxies/tests/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update poetry and pre-commit
  .pre-commit-config.yaml
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

pylint error disable
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

extra line
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

change format to PNG
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix potential error when adding more/less limits in sdss reconstruction figures
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

downgrade pytorch lightning until fixed in another pr
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

now pytest works but why?
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

specified in pyproject toml now
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

Remove unneeded models/convert_checkpoints.py
  case_studies/sdss_galaxies/models/convert_checkpoints.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

More elegant way of getting state_dict from pytorch lightning
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Dump checkpoint monitor data along with state dict
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added timestamp
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

linting
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix linting mistake
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

comment on plots.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

each figure can set its own theme
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Make paper images png (#409)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/main.py
  case_studies/sdss_galaxies/plots.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Hydra refactor fixes (#410)
  bliss/train.py
  case_studies/sdss_galaxies/models/convert_checkpoints.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove unneeded prob_galaxy argument from ImageDecoder
  bliss/models/decoder.py
  case_studies/sdss_galaxies/config/config.yaml
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove unneeded prob_galaxy argument from ImageDecoder (#411)
  bliss/models/decoder.py
  case_studies/sdss_galaxies/config/config.yaml
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove optimizer.py and configure optimizer in each model
  bliss/models/binary.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/optimizer.py
  bliss/sleep.py
  bliss/train.py
  bliss/tune.py
  bliss/utils.py
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies/tests/conftest.py
  tests/conftest.py
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove optimizer.py and configure optimizer in each model (#412)
  bliss/models/binary.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/optimizer.py
  bliss/sleep.py
  bliss/train.py
  bliss/tune.py
  bliss/utils.py
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies/tests/conftest.py
  tests/conftest.py
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
