Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

manual optimization; 64 batch size fits in memory
  bliss/convnet.py
  bliss/encoder.py
  case_studies/dependent_tiling/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

only checkerboard for brightest source (layer 1, not 2); condition on log flux too, so nontrivial conditioning for layer 2; sample broken
  bliss/catalog.py
  bliss/convnet.py
  bliss/encoder.py
  bliss/plotting.py
  case_studies/dependent_tiling/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed dastardly bug by adding parentheses; separate CNN for layer2; sparser logging
  bliss/convnet.py
  bliss/encoder.py
  bliss/image_normalizer.py
  bliss/train.py
  bliss/variational_layer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

20percent working again
  bliss/catalog.py
  bliss/convnet.py
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

debugging recall metric
  bliss/encoder.py
  bliss/variational_layer.py
  case_studies/dependent_tiling/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

make checkerboard_net exactly like old code
  bliss/convnet.py
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

match master num nn parameters exactly
  bliss/convnet.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

comment out second_net
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

reversed context order to match master branch
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

problem fixed, I think! conditionally sampling correctly now
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

removed no-longer-used sample function
  bliss/encoder.py
  bliss/variational_layer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added two_layers switch
  bliss/conf/base_config.yaml
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed bug in filter_tile_catalog_by_flux
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new infer and log_metrics methods in encoder
  .pylintrc
  bliss/encoder.py
  bliss/metrics.py
  case_studies/dependent_tiling/m2.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed unfiltered target_cat bug
  bliss/encoder.py
  case_studies/dependent_tiling/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove commented out code
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

m2 defaults to r and i bands
  case_studies/dependent_tiling/config.yaml
Due: trailing-whitespace, end-of-file-fixer

avoid referencing target_cat2 if not two_layers
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed tests
  bliss/conf/base_config.yaml
  bliss/encoder.py
  data/pretrained_models/clahed_logged_20percent.pt
  tests/test_catalogs.py
  tests/test_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed flawed dict comprehension syntax
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

set clahe_min_stdev in the config yaml
  bliss/conf/base_config.yaml
  bliss/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adjust limits to be more inline with Bastien's
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adjust limits to be more inline with Bastien's
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

advancing the m2 case study
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/image_normalizer.py
  case_studies/dependent_tiling/config.yaml
  case_studies/dependent_tiling/m2.ipynb
  case_studies/dependent_tiling/m2.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

moved adaptive tiling to case study
  case_studies/adaptive_tiling/config.yaml
  case_studies/adaptive_tiling/test_region_encoder.py
Due: isort, pylint, flake8, mypy, darglint, black

add galcheat
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

OneSqDeg excluded
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

notebook with toy examples
  case_studies/galsim_galaxies/notebooks/back-of-the-envelope.ipynb
Due: trailing-whitespace, end-of-file-fixer

update poetry
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

fixed problem I recently added to image_normalizer
  bliss/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

imgs -> images
  bliss/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

disable redundant-keyword-arg one place
  case_studies/adaptive_tiling/region_encoder.py
Due: isort, pylint, flake8, mypy, darglint, black

multiple sources per tile (#942)
  .pylintrc
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/convnet.py
  bliss/data_augmentation.py
  bliss/encoder.py
  bliss/image_normalizer.py
  bliss/metrics.py
  bliss/plotting.py
  bliss/surveys/dc2.py
  bliss/train.py
  bliss/variational_layer.py
  case_studies/adaptive_tiling/config.yaml
  case_studies/adaptive_tiling/region_encoder.py
  case_studies/adaptive_tiling/test_region_encoder.py
  case_studies/dependent_tiling/config.yaml
  case_studies/dependent_tiling/m2.ipynb
  case_studies/dependent_tiling/m2.pt
  data/pretrained_models/clahed_logged_20percent.pt
  tests/test_catalogs.py
  tests/test_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

multiple sources per tile (#942)
  .pylintrc
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/convnet.py
  bliss/data_augmentation.py
  bliss/encoder.py
  bliss/image_normalizer.py
  bliss/metrics.py
  bliss/plotting.py
  bliss/surveys/dc2.py
  bliss/train.py
  bliss/variational_layer.py
  case_studies/adaptive_tiling/config.yaml
  case_studies/adaptive_tiling/region_encoder.py
  case_studies/adaptive_tiling/test_region_encoder.py
  case_studies/dependent_tiling/config.yaml
  case_studies/dependent_tiling/m2.ipynb
  tests/test_catalogs.py
  tests/test_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

save
  case_studies/galsim_galaxies/notebooks/back-of-the-envelope.ipynb
Due: trailing-whitespace, end-of-file-fixer

Pretraining on crowded starfield experiments
  case_studies/crowded_starfield/__init__.py
  case_studies/crowded_starfield/config.yaml
  case_studies/crowded_starfield/config_predict.yaml
  case_studies/crowded_starfield/config_train.yaml
  case_studies/crowded_starfield/pretrain_crowded_field_demo.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

makes predictions on m2
  bliss/api.py
  bliss/encoder.py
  bliss/predict.py
  case_studies/dependent_tiling/m2.ipynb
  tests/test_api.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tests passing
  .flake8
  bliss/predict.py
  case_studies/dependent_tiling/config.yaml
  case_studies/dependent_tiling/m2.ipynb
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

minor
  case_studies/dependent_tiling/m2.ipynb
Due: trailing-whitespace, end-of-file-fixer

working on m2 notebook
  case_studies/dependent_tiling/m2.ipynb
Due: trailing-whitespace, end-of-file-fixer
