Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

improve figures with gridlines
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

improve figures with gridlines
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

moved trained encoder to pretrained_models
  case_studies/README.md
  case_studies/summer_template/config.yaml
  data/pretrained_models/sdss_encoder.pt
  data/pretrained_models/sdss_encoder.pt.log.json
Due: trailing-whitespace, end-of-file-fixer

changed decoder to generate non-square images
  bliss/simulator/decoder.py
  case_studies/summer_template/config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added nms case study
  case_studies/nms/config.yaml
  case_studies/nms/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

simplified overly complicated inheritance structure
  bliss/simulator/decoder.py
  case_studies/nms/config.yaml
  case_studies/summer_template/config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

merge ImagePrior and GalaxyPrior in the process of resolving a log-of-zero issue
  bliss/simulator/prior.py
  case_studies/nms/config.yaml
  case_studies/summer_template/config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

more refactoring of prior.py
  bliss/simulator/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

removed unused argument from Encoder
  bliss/encoder.py
  case_studies/nms/config.yaml
  case_studies/summer_template/config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

switch back to reporting mean of loss terms
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix project path
  case_studies/nms/config.yaml
Due: trailing-whitespace, end-of-file-fixer

back to loss terms as a fraction of num relevant sources
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

draw on existing image and don't sample bulge_q == 0
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove nms case study
  case_studies/nms/config.yaml
  case_studies/nms/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

refactor simulator (prior and decoder) (#734)
  bliss/encoder.py
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  case_studies/README.md
  case_studies/summer_template/config.yaml
  data/pretrained_models/sdss_encoder.pt.log.json
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

refactor simulator (prior and decoder) (#734)
  bliss/encoder.py
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  case_studies/README.md
  case_studies/summer_template/config.yaml
  data/pretrained_models/sdss_encoder.pt
  data/pretrained_models/sdss_encoder.pt.log.json
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove some large files from git-lfs that we aren't using
  data/sdss/3900/6/745/fpM-003900-g6-0745.fits
  data/sdss/3900/6/745/fpM-003900-i6-0745.fits
  data/sdss/3900/6/745/fpM-003900-r6-0745.fits
  data/sdss/3900/6/745/fpM-003900-u6-0745.fits
  data/sdss/3900/6/745/fpM-003900-z6-0745.fits
  data/sdss/3900/6/745/frame-g-003900-6-0745.fits
  data/sdss/3900/6/745/frame-i-003900-6-0745.fits
  data/sdss/3900/6/745/frame-r-003900-6-0745.fits
  data/sdss/3900/6/745/frame-u-003900-6-0745.fits
  data/sdss/3900/6/745/frame-z-003900-6-0745.fits
  data/sdss/3900/6/745/photoObj-003900-6-0745.fits
  data/sdss/3900/6/745/psField-003900-6-0745.fits
  data/sdss/5313/3/117/fpM-005313-g3-0117.fits
  data/sdss/5313/3/117/fpM-005313-i3-0117.fits
  data/sdss/5313/3/117/fpM-005313-r3-0117.fits
  data/sdss/5313/3/117/fpM-005313-u3-0117.fits
  data/sdss/5313/3/117/fpM-005313-z3-0117.fits
  data/sdss/5313/3/117/frame-g-005313-3-0117.fits
  data/sdss/5313/3/117/frame-i-005313-3-0117.fits
  data/sdss/5313/3/117/frame-r-005313-3-0117.fits
  data/sdss/5313/3/117/frame-u-005313-3-0117.fits
  data/sdss/5313/3/117/frame-z-005313-3-0117.fits
  data/sdss/5313/3/117/photoObj-005313-3-0117.fits
  data/sdss/5313/3/117/psField-005313-3-0117.fits
  data/sdss/5313/3/photoField-005313-3.fits
  data/sweep-330m005-340p000.fits
  data/true_hubble_m2.npz
Due: none

remove some large files from git-lfs that we aren't using (#735)
  data/sdss/3900/6/745/fpM-003900-g6-0745.fits
  data/sdss/3900/6/745/fpM-003900-i6-0745.fits
  data/sdss/3900/6/745/fpM-003900-r6-0745.fits
  data/sdss/3900/6/745/fpM-003900-u6-0745.fits
  data/sdss/3900/6/745/fpM-003900-z6-0745.fits
  data/sdss/3900/6/745/frame-g-003900-6-0745.fits
  data/sdss/3900/6/745/frame-i-003900-6-0745.fits
  data/sdss/3900/6/745/frame-r-003900-6-0745.fits
  data/sdss/3900/6/745/frame-u-003900-6-0745.fits
  data/sdss/3900/6/745/frame-z-003900-6-0745.fits
  data/sdss/3900/6/745/photoObj-003900-6-0745.fits
  data/sdss/3900/6/745/psField-003900-6-0745.fits
  data/sdss/5313/3/117/fpM-005313-g3-0117.fits
  data/sdss/5313/3/117/fpM-005313-i3-0117.fits
  data/sdss/5313/3/117/fpM-005313-r3-0117.fits
  data/sdss/5313/3/117/fpM-005313-u3-0117.fits
  data/sdss/5313/3/117/fpM-005313-z3-0117.fits
  data/sdss/5313/3/117/frame-g-005313-3-0117.fits
  data/sdss/5313/3/117/frame-i-005313-3-0117.fits
  data/sdss/5313/3/117/frame-r-005313-3-0117.fits
  data/sdss/5313/3/117/frame-u-005313-3-0117.fits
  data/sdss/5313/3/117/frame-z-005313-3-0117.fits
  data/sdss/5313/3/117/photoObj-005313-3-0117.fits
  data/sdss/5313/3/117/psField-005313-3-0117.fits
  data/sdss/5313/3/photoField-005313-3.fits
  data/sweep-330m005-340p000.fits
  data/true_hubble_m2.npz
Due: none

Update README.md
  README.md
Due: trailing-whitespace, end-of-file-fixer

Update README.md (#736)
  README.md
Due: trailing-whitespace, end-of-file-fixer

updated loading decals catalog from file; added unit tests
  .flake8
  .gitignore
  bliss/surveys/decals.py
  data/decals/tractor-3366m010.fits
  tests/basic_config.yaml
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Added decals RA/DEC to plocs conversion, more integration tests.
  bliss/surveys/decals.py
  data/decals/cutout_336.635_-0.9600.fits
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add test for comparing bliss catalog with SDSS frame
  bliss/predict.py
  tests/basic_config.yaml
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

initialize encoder with pretrained weights by default
  bliss/train.py
  case_studies/summer_template/config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

use the same run-camcol-field for testing
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer

initialize encoder with pretrained weights by default (#742)
  bliss/train.py
  case_studies/summer_template/config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

return point estimates for galaxy parameters too
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

flake8
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

galsim point estimates (#743)
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add base hydra config to be extended
  case_studies/summer_template/config.yaml
  conf/base_config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Add base hydra config to be extended (#744)
  case_studies/summer_template/config.yaml
  conf/base_config.yaml
  tests/basic_config.yaml
Due: trailing-whitespace, end-of-file-fixer

constrain the location mean to the unit box
  bliss/unconstrained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

assert that we're not inadvertently training batchnorm with a tiny batch
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

move testing specific configs out of conftest.py and into the testing config file
  tests/basic_config.yaml
  tests/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
