Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

good idea to add validation loss to README
  models/README.md
Due: trailing-whitespace, end-of-file-fixer

avoid warning when n_batches < log_every_n_steps
  config/training/cpu.yaml
  config/training/default.yaml
  config/training/m2.yaml
  config/training/test_plotting.yaml
  config/training/unittest.yaml
Due: trailing-whitespace, end-of-file-fixer

revert two last commits
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added random and worst images to galaxy_net reconstruction plots
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

we should be using PSF at center of the frame if we are predicting on the whole frame
  bliss/datasets/galsim_galaxies.py
  config/dataset/sdss_catalog_galaxies.yaml
  config/dataset/sdss_galaxies.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add number of epochs too
  models/README.md
Due: trailing-whitespace, end-of-file-fixer

now all sdss files use stripe82_centered_psf.npy by default
  config/model/binary_sdss.yaml
  config/model/galaxy-encoder_sdss.yaml
  config/model/sleep_sdss_detection.yaml
Due: trailing-whitespace, end-of-file-fixer

consistency in names for configs
  config/model/galaxy_encoder_sdss.yaml
Due: trailing-whitespace, end-of-file-fixer

fix test after renaming'
  tests/test_galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correct typos
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add some plotting defaults
  case_studies/sdss_galaxies/plot_defaults.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

incorrect dataset
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correct bug of copying tensor
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add noiseless version of galaxies for figures
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

start notebook for figures related to autoencoder (but need latex)
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
Due: trailing-whitespace, end-of-file-fixer

Revert "revert two last commits"
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

can modify width and padding
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

change file locations
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
  case_studies/sdss_galaxies/figures/autoencoder-figures.ipynb
  case_studies/sdss_galaxies/figures/plot_defaults.py
  case_studies/sdss_galaxies/plot_defaults.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

latex works now
  case_studies/sdss_galaxies/figures/plot_defaults.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added a couple of figures with latex
  case_studies/sdss_galaxies/figures/autoencoder-figures.ipynb
Due: trailing-whitespace, end-of-file-fixer

deleted unused galsim code
  bliss/datasets/galsim_galaxies.py
  tests/test_galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

psf_file didn't really work so remove it for now
  bliss/models/decoder.py
  config/model/binary_sdss.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/sleep_sdss_detection.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove more useless galsim_galaxies stuff
  bliss/generate.py
  bliss/train.py
  config/dataset/saved_galaxies.yaml
  config/dataset/sdss_catalog_galaxies.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small bug in decoder.py after reverting changes
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added new PSF image and changed corresponding YAML file
  config/dataset/sdss_galaxies.yaml
  data/psField-000094-1-0012-PSF-image.npy
Due: trailing-whitespace, end-of-file-fixer

need to use only the first band from the psf
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

upate autoencoder with new PSF model
  models/README.md
  models/sdss_autoencoder.ckpt
Due: trailing-whitespace, end-of-file-fixer

usually use 0.04 for blending purposes
  config/model/galaxy_encoder_sdss.yaml
Due: trailing-whitespace, end-of-file-fixer

updated models with new autoencoder and README
  models/README.md
  models/sdss_binary.ckpt
  models/sdss_galaxy_encoder.ckpt
  models/sdss_sleep.ckpt
Due: trailing-whitespace, end-of-file-fixer

update models
  models/README.md
  models/sdss_galaxy_encoder.ckpt
  models/sdss_sleep.ckpt
  models/sleep_sdss.ckpt
Due: trailing-whitespace, end-of-file-fixer

fix names and notebook
  case_studies/sdss_galaxies/aggregate-results.ipynb
  case_studies/sdss_galaxies/reconstruction_results.ipynb
  models/sdss_sleep.ckpt
Due: trailing-whitespace, end-of-file-fixer

no changes
  case_studies/sdss_galaxies/aggregate-results.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update README
  case_studies/sdss_galaxies/aggregate-results.ipynb
  models/README.md
Due: trailing-whitespace, end-of-file-fixer

simplify config file
  config/model/binary_sdss.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/sleep_sdss_detection.yaml
Due: trailing-whitespace, end-of-file-fixer

galaxy notebook
  case_studies/sdss_galaxies/derek_galaxies.ipynb
Due: trailing-whitespace, end-of-file-fixer

need to use correct relative path otherwise fails
  models/sdss_sleep.ckpt
Due: none

added NVAE to repo
  case_studies/NVAE/.gitignore
  case_studies/NVAE/LICENSE
  case_studies/NVAE/README.md
  case_studies/NVAE/datasets.py
  case_studies/NVAE/distributions.py
  case_studies/NVAE/evaluate.py
  case_studies/NVAE/img/celebahq.png
  case_studies/NVAE/img/model_diagram.png
  case_studies/NVAE/lmdb_datasets.py
  case_studies/NVAE/model.py
  case_studies/NVAE/neural_ar_operations.py
  case_studies/NVAE/neural_operations.py
  case_studies/NVAE/requirements.txt
  case_studies/NVAE/scripts/Dockerfile
  case_studies/NVAE/scripts/convert_tfrecord_to_lmdb.py
  case_studies/NVAE/scripts/create_celeba64_lmdb.py
  case_studies/NVAE/scripts/create_ffhq_lmdb.py
  case_studies/NVAE/thirdparty/LICENSE_PyTorch
  case_studies/NVAE/thirdparty/LICENSE_apache
  case_studies/NVAE/thirdparty/LICENSE_torchvision
  case_studies/NVAE/thirdparty/__init__.py
  case_studies/NVAE/thirdparty/adamax.py
  case_studies/NVAE/thirdparty/functions.py
  case_studies/NVAE/thirdparty/inplaced_sync_batchnorm.py
  case_studies/NVAE/thirdparty/lsun.py
  case_studies/NVAE/thirdparty/swish.py
  case_studies/NVAE/train.py
  case_studies/NVAE/utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

no significant changes
  case_studies/sdss_galaxies/aggregate-results.ipynb
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer
