Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

update great lake script
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sbatch
Due: none

update great lake script
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sbatch
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake_debug.sbatch
  case_studies/dc2_mdt/inference.py
  case_studies/dc2_mdt/test_command.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

this was working well for bspline; need to implement mdn
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update config and scripts
  case_studies/dc2_mdt/exp_record.md
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sh
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake_debug.sbatch
  case_studies/dc2_mdt/great_lake_train_scripts/single_infer.sbatch
  case_studies/dc2_mdt/inference.ipynb
  case_studies/dc2_mdt/mdt_config/simple_net_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_train_config_debug.yaml
  case_studies/dc2_mdt/run_dc2_mdt.sh
Due: trailing-whitespace, end-of-file-fixer

update script
  case_studies/dc2_mdt/great_lake_train_scripts/single_infer.sbatch
Due: none

add multi gpus infer
  case_studies/dc2_mdt/great_lake_train_scripts/multi_gpus_single_infer.sbatch
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sh
  case_studies/dc2_mdt/inference.ipynb
  case_studies/dc2_mdt/multi_gpus_infer.py
  case_studies/dc2_mdt/run_dc2_mdt.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added working mdn example
  bliss/main.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/redshift_mdn.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

working with Jacksons new dataset; cleaned up logging; about to launch jobs across data splits
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

restored discrete and sample metrics for cts and discrete runs; no more bspline/mdn on this branch
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update 2PCF figures
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure8.ipynb
Due: none

regular update
  bliss/encoder/encoder.py
  case_studies/dc2_cataloging/craft_ci.ipynb
  case_studies/dc2_cataloging/test_blendedness_and_mag_dist.ipynb
  case_studies/dc2_mdt/craft_ci.ipynb
  case_studies/dc2_mdt/exp_record.md
  case_studies/dc2_mdt/m2_great_lake_train_scripts/run_great_lake.sbatch
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_train_config_gl.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_ori_bliss_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_ori_bliss_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_ori_bliss_train_config_gl.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_simple_net_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_simple_net_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_simple_net_train_config_gl.yaml
  case_studies/dc2_mdt/preprocess_m2.ipynb
  case_studies/dc2_mdt/run_dc2_mdt.sh
  case_studies/dc2_mdt/test_m2.ipynb
  case_studies/dc2_mdt/utils/convnet_layers.py
  case_studies/dc2_mdt/utils/encoder.py
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/simple_net.py
  case_studies/dc2_mdt/utils/transform.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

stashing; launched one split; about to make plots
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

some work on evaluation for continuous; checkpoints mse is really low, bizarre
  case_studies/redshift/evaluation/continuous_eval.yaml
  case_studies/redshift/evaluation/evaluate_cts.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

stash quick; need to understand metric logging more, it's not working well right now. Need to automate bin labeling
  case_studies/redshift/evaluation/discrete_eval.yaml
  case_studies/redshift/evaluation/evaluate_discrete.py
  case_studies/redshift/evaluation/plots_bliss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

plots were looking reasonable for continuous; need to run and add discrete now
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_continuous.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

plots working; need more principled way of passing timestamps to make plots
  case_studies/redshift/evaluation/discrete_eval.yaml
  case_studies/redshift/evaluation/evaluate_discrete.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_discrete.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixing filename for lightning; I think we weren't monitoring correctly
  case_studies/redshift/redshift_discrete.yaml
Due: trailing-whitespace, end-of-file-fixer

good stash
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

again, weird naming with the mse metric threw off the runs. Running bspline and mdn again
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_mdn.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

regular update
  case_studies/dc2_cataloging/train_config_debug.yaml
  case_studies/dc2_mdt/exp_record.md
  case_studies/dc2_mdt/m2_bliss_infer.ipynb
  case_studies/dc2_mdt/m2_craft_ci.ipynb
  case_studies/dc2_mdt/m2_mdt_config/m2_cond_true_bliss_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_cond_true_bliss_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_train_config.yaml
  case_studies/dc2_mdt/m2_multi_gpus_infer.py
  case_studies/dc2_mdt/mdt_config/mdt_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_ar_net_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_cond_true_net_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_speed_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_train_config.yaml
  case_studies/dc2_mdt/run_dc2_mdt.sh
  case_studies/dc2_mdt/run_m2_infer.sh
  case_studies/dc2_mdt/test_schedule.ipynb
  case_studies/dc2_mdt/utils/encoder.py
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/resample.py
  case_studies/dc2_mdt/utils/reverse_markov_learning.py
  case_studies/dc2_mdt/utils/rml_encoder.py
  case_studies/dc2_mdt/utils/simple_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

use vmap to accelerate training
  case_studies/dc2_mdt/exp_record.md
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_train_config.yaml
  case_studies/dc2_mdt/utils/mdt_models.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

upload great lake script
  case_studies/dc2_mdt/m2_great_lake_train_scripts/run_mdt_rml.sbatch
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_train_config_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

update great lake script
  case_studies/dc2_mdt/m2_great_lake_train_scripts/run_mdt_rml.sbatch
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_train_config_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

some tweaks that enabled jackson's plot creation
  case_studies/redshift/evaluation/discrete_eval.yaml
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

worked for evaluation; seems bpsline better than mdn on brighter objects; going to trim metrics to redshift 0-1 or simliar
  case_studies/redshift/evaluation/bspline_eval.yaml
  case_studies/redshift/evaluation/evaluate_bspline.py
  case_studies/redshift/evaluation/evaluate_mdn.py
  case_studies/redshift/evaluation/mdn_eval.yaml
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_mdn.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

made some switches to metrics to only compute on zero-one. We're switching to full log files of predictions now using new method save_preds of encoder
  case_studies/redshift/evaluation/evaluate_bspline.py
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/evaluate_mdn.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_mdn.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

parquet writer is working now
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Sace PSF config and related notebook updates.
  case_studies/galaxy_clustering/notebooks/DESPSFEx.ipynb
  case_studies/galaxy_clustering/psfextraction/config.psfex
  case_studies/galaxy_clustering/psfextraction/psfextract.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

using parquet files for making metrics now
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/generate_catalog.ipynb
  case_studies/redshift/artifact_creation.yaml
  case_studies/redshift/artifacts/catalog_generation.py
  case_studies/redshift/artifacts/data_generation.py
  case_studies/redshift/artifacts/flexzboost_data_generation.py
  case_studies/redshift/redshift_flexzboost/flexzboost_fast.py
  case_studies/redshift/redshift_flexzboost/plot_rail.py
  case_studies/redshift/redshift_flexzboost/redshift_losses.py
  case_studies/redshift/redshift_flexzboost/test_rail.py
  case_studies/redshift/redshift_flexzboost/train_rail.py
  case_studies/redshift/redshift_flexzboost/using_sklearn.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed import
  case_studies/redshift/redshift_flexzboost/test_rail.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
