Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

typos
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies/config/training/sdss_sleep.yaml
Due: trailing-whitespace, end-of-file-fixer

suppress log warning
  case_studies/sdss_galaxies/tests/test_sdss_blended_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small bug from rebasing
  bliss/models/galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

deprecated argumenta
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer

warnings cleaned in pyproject.toml
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

fixes from Derek's most recent PR on optimizers
  bliss/sleep.py
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_sleep.yaml
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

one last bug
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update poetry and pre-commit
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

multi gpu marker removed since we don't use it
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

remove deprecatd keyword argument
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies/config/training/sdss_sleep.yaml
  tests/m2/m2.yaml
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer

extra stuff from marker
  tests/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

pin lower pytorch version
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

remove tune and ray dependencies
  bliss/tune.py
  poetry.lock
  pyproject.toml
  tests/m2/test_tune.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

we don't want batch_norm to mess up residual encoder with optimizer_closure
  bliss/models/galaxy_net.py
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

smal typo
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
Due: trailing-whitespace, end-of-file-fixer

new tensor class location in pytorch
  bliss/models/decoder.py
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Retrained SDSS galaxy encoder
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
Due: none

Fix galaxy VAE configs and changes
  bliss/models/vae/galaxy_net.py
  case_studies/sdss_galaxies_vae/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae_flow.yaml
  case_studies/sdss_galaxies_vae/tests/__init__.py
  case_studies/sdss_galaxies_vae/tests/conftest.py
  case_studies/sdss_galaxies_vae/tests/test_galaxy_encoder.py
  case_studies/sdss_galaxies_vae/tests/test_galaxy_vae.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove prior argument
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer

try downgrading pytorch lightning too and torch to 1.8
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

upgrade pytorch-lightning again
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

remove tune.py and ray dependency so torch can be updated (#407)
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/location_encoder.py
  bliss/sleep.py
  bliss/train.py
  bliss/tune.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies/tests/test_sdss_blended_galaxies.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/m2/m2.yaml
  tests/m2/test_tune.py
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

retrained sleep (galaxy_encoder)
  case_studies/sdss_galaxies/models/sdss_sleep.pt
Due: none

added JSON files
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_sleep.pt.log.json
Due: none

retrained Galaxy VAE
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
Due: none

gonna retrain everything
  bliss/models/vae/galaxy_flow.py
  case_studies/sdss_galaxies_vae/Makefile
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/main.py
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Added back weightnorm option for VAE
  bliss/models/galaxy_net.py
  bliss/models/vae/galaxy_net.py
  case_studies/sdss_galaxies_vae/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make use of batch norm a toggle
  bliss/models/vae/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

wrap linear layers in weightnorm instead of batchnorm
  bliss/models/vae/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add back lost forward method
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

retrained sdss_galaxy_encode_real
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder_real.pt.log.json
Due: none

Retrained models using weightnorm version
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt.log.json
Due: none

Fix testing and linting errors
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/predict.py
  bliss/sleep.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added blank __init__.py for pytest
  case_studies/sdss_galaxies/__init__.py
  case_studies/sdss_galaxies_vae/__init__.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

checkpoint_callback -> enable_checkpointing in VAE config
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae_flow.yaml
Due: trailing-whitespace, end-of-file-fixer

Refactor reconstruction and put it under tests
  bliss/inference.py
  bliss/sleep.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/sdss_galaxies_vae/tests/test_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Don't run reconstruction plot in test since CI doesn't have latex
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/sdss_galaxies_vae/tests/test_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Actually do a reconstruction in the test without making plot
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add test for galaxy flow
  case_studies/sdss_galaxies_vae/tests/test_galaxy_flow.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
