Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

got great overlap result
  case_studies/overlap/overlap.ipynb
Due: trailing-whitespace, end-of-file-fixer

minimum reproduceable example showing problem with current approach
  case_studies/overlap/overlap.ipynb
Due: trailing-whitespace, end-of-file-fixer

starting study of tile overlap
  case_studies/overlap/overlap.ipynb
Due: trailing-whitespace, end-of-file-fixer

more changes
  bliss/catalog.py
  bliss/encoder.py
  case_studies/overlap/overlap.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

progress
  case_studies/overlap/overlap.ipynb
Due: trailing-whitespace, end-of-file-fixer

done for day
  case_studies/overlap/Overlapping Tiles Demo Nov 15.ipynb
Due: trailing-whitespace, end-of-file-fixer

updates
  case_studies/overlap/Overlapping Tiles Demo Meeting Nov 17.ipynb
Due: trailing-whitespace, end-of-file-fixer

executive summary
  case_studies/overlap/Overlapping Tiles Demo Nov 15.ipynb
Due: trailing-whitespace, end-of-file-fixer

meeting update
  case_studies/overlap/Overlapping Tiles Demo Meeting Nov 17.ipynb
Due: trailing-whitespace, end-of-file-fixer

changes before meeting
  case_studies/overlap/Overlapping Tiles Demo Meeting Nov 17.ipynb
  case_studies/overlap/Overlapping Tiles Demo Nov 15.ipynb
  case_studies/overlap/catalog.pt
  case_studies/overlap/catalog_with_stuff.pt
Due: trailing-whitespace, end-of-file-fixer

good progress, just need to clean up the notebook
  case_studies/overlap/Overlapping Tiles Demo Nov 15.ipynb
  case_studies/overlap/overlap.ipynb
Due: trailing-whitespace, end-of-file-fixer

new plotting file consolidating functions for figures
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

some additions to consolidate case studies functions
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

separate out case studies for current paper, with new Figure class
  case_studies/galsim_galaxies/Makefile
  case_studies/galsim_galaxies/README.md
  case_studies/galsim_galaxies/config/__init__.py
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/config/generate/sdss_individual_galaxies.yaml
  case_studies/galsim_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/galsim_galaxies/config/training/sdss_binary.yaml
  case_studies/galsim_galaxies/config/training/sdss_detection_encoder.yaml
  case_studies/galsim_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/galsim_galaxies/figures.py
  case_studies/galsim_galaxies/figures/blend_detection_metrics.png
  case_studies/galsim_galaxies/figures/random_recon.png
  case_studies/galsim_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/galsim_galaxies/figures/worst_recon.png
  case_studies/galsim_galaxies/models/README.md
  case_studies/galsim_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/galsim_galaxies/models/sdss_binary.pt
  case_studies/galsim_galaxies/models/sdss_binary.pt.log.json
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.pdf
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/galsim_galaxies/notebooks/full-galsim-decoder.ipynb
  case_studies/galsim_galaxies/notebooks/outline.ipynb
  case_studies/galsim_galaxies/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

other half is for future SDSS paper
  case_studies/sdss_galaxies/README.md
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/generate/sdss_individual_galaxies.yaml
  case_studies/sdss_galaxies/figures.py
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/README.md
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.pdf
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/sdss_galaxies/notebooks/decals.ipynb
  case_studies/sdss_galaxies/notebooks/frame-plotly-decals.ipynb
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
  case_studies/sdss_galaxies/notebooks/icml-figures2022.ipynb
  case_studies/sdss_galaxies/notebooks/outline.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/plots/__init__.py
  case_studies/sdss_galaxies/plots/autoencoder.py
  case_studies/sdss_galaxies/plots/bliss_figures.py
  case_studies/sdss_galaxies/plots/galaxy_distribution.py
  case_studies/sdss_galaxies/plots/main.py
  case_studies/sdss_galaxies/plots/sdss_detection_metrics.py
  case_studies/sdss_galaxies/plots/sdss_reconstruction.py
  case_studies/sdss_galaxies/plots/sim_blend_metrics.py
  case_studies/strong_lensing/plots/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make set_rc_params public for now
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

temporary fixes for coadds
  case_studies/coadds/get_results.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor coadds figure with now figure class
  case_studies/sdss_galaxies/figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correct imports
  bliss/generate.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  case_studies/coadds/coadds.py
  case_studies/coadds/get_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

unnecessary whitespace
  .pylintrc
Due: trailing-whitespace, end-of-file-fixer

reproducing previous results in galsim_galaxies case study
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/figures.py
  case_studies/galsim_galaxies/figures/ae_bin_residuals.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/blend_detection_metrics.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/random_recon.png
  case_studies/galsim_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/galsim_galaxies/figures/worst_recon.png
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

overwrite is bool type
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

resolve in next PR
  case_studies/coadds/coadds.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

resolve in next PR
  case_studies/coadds/get_results.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

dataset
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
Due: none

inmutable constant
  case_studies/galsim_galaxies/figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

sdss bliss figures works now
  case_studies/galsim_galaxies/get_figures.py
  case_studies/sdss_galaxies/figures/bliss_mag2_scatter.png
  case_studies/sdss_galaxies/figures/bliss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/photo_mag2_scatter.png
  case_studies/sdss_galaxies/figures/photo_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/sdss_bliss_classification_bins.png
  case_studies/sdss_galaxies/figures/sdss_bliss_classification_cuts.png
  case_studies/sdss_galaxies/figures/sdss_bliss_detection_bins.png
  case_studies/sdss_galaxies/figures/sdss_bliss_detection_cuts.png
  case_studies/sdss_galaxies/figures/sdss_photo_classification_bins.png
  case_studies/sdss_galaxies/figures/sdss_photo_classification_cuts.png
  case_studies/sdss_galaxies/figures/sdss_photo_detection_bins.png
  case_studies/sdss_galaxies/figures/sdss_photo_detection_cuts.png
  case_studies/sdss_galaxies/figures/sdss_recon_sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_recon_sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_recon_sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_recon_sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_recon_sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon_sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon_sdss_recon1.png
  case_studies/sdss_galaxies/get_figures.py
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

delete old figures
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
Due: none

small correction in Derek's case study
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

plotting update
  bliss/models/binary.py
  bliss/models/lensing_binary_encoder.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

typing
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix tests
  tests/case_studies/galsim_galaxies/conftest.py
  tests/case_studies/galsim_galaxies/test_binary.py
  tests/case_studies/galsim_galaxies/test_decoder_ellipticity.py
  tests/case_studies/galsim_galaxies/test_detection_encoder.py
  tests/case_studies/galsim_galaxies/test_full_galsim_decoder.py
  tests/case_studies/galsim_galaxies/test_galaxy_autoencoder.py
  tests/case_studies/galsim_galaxies/test_galaxy_blend.py
  tests/case_studies/galsim_galaxies/test_galaxy_encoder.py
  tests/case_studies/galsim_galaxies/test_galaxy_prior.py
  tests/case_studies/galsim_galaxies/test_generate.py
  tests/case_studies/galsim_galaxies/test_reporting.py
  tests/case_studies/sdss_galaxies/test_full_galsim_decoder.py
  tests/case_studies/sdss_galaxies/test_galaxy_autoencoder.py
  tests/test_sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

relative imports won't work
  case_studies/coadds/get_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

missed new main file
  case_studies/galsim_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

revive later if we want to retry homogenization but no immediate plans to do so
  case_studies/psf_homogenization/__init__.py
  case_studies/psf_homogenization/config/__init__.py
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/config/training/sdss_detection_encoder_homo.yaml
  case_studies/psf_homogenization/config/training/sdss_detection_encoder_unhomo.yaml
  case_studies/psf_homogenization/galsim_galaxies_homo.py
  case_studies/psf_homogenization/homogenization.py
  case_studies/psf_homogenization/main.py
  case_studies/psf_homogenization/notebook/full_galsim_decoder.ipynb
  case_studies/psf_homogenization/notebook/model_test_new.ipynb
  case_studies/psf_homogenization/notebook/test_psf_images.ipynb
  case_studies/psf_homogenization/run_experiment.sh
  tests/case_studies/psf_homogenization/test_homo.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

case studies only include python files (for pip)
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

missing type
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

one more type missing
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
