Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

Remove testing folder
  bliss/train.py
  config/config.yaml
  config/testing/default.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Added sleep phase and default training settings
  config/config.yaml
  config/training/sdss_sleep.yaml
Due: trailing-whitespace, end-of-file-fixer

got sdss_binary up and running with new system
  config/config.yaml
  config/training/sdss_binary.yaml
Due: trailing-whitespace, end-of-file-fixer

got ToyGaussian dataset added
  config/config.yaml
  tests/conftest.py
  tests/test_binary.py
  tests/test_galaxy_autoencoder.py
  tests_broken/test_plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Delete config model folder
  config/config.yaml
  config/model/binary_sdss.yaml
  config/model/decoder/1galaxy_1star.yaml
  config/model/decoder/1tile.yaml
  config/model/decoder/galaxy_basic.yaml
  config/model/decoder/m2.yaml
  config/model/decoder/sdss_standard.yaml
  config/model/decoder/star_basic.yaml
  config/model/encoder/1galaxy_1star.yaml
  config/model/encoder/1tile.yaml
  config/model/encoder/galaxy_basic.yaml
  config/model/encoder/m2.yaml
  config/model/encoder/sdss_standard.yaml
  config/model/encoder/star_basic.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/galaxy_net.yaml
  config/model/prior/1galaxy_1star.yaml
  config/model/prior/1tile.yaml
  config/model/prior/galaxy_basic.yaml
  config/model/prior/m2.yaml
  config/model/prior/sdss_standard.yaml
  config/model/prior/star_basic.yaml
  config/model/sleep_1galaxy_1star.yaml
  config/model/sleep_galaxy_basic.yaml
  config/model/sleep_m2.yaml
  config/model/sleep_sdss_detection.yaml
  config/model/sleep_star_basic.yaml
  config/model/sleep_star_one_tile.yaml
Due: trailing-whitespace, end-of-file-fixer

get test_galaxy_autoencoder.py working
  tests/test_galaxy_autoencoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

got test_binary working
  config/config.yaml
  tests/conftest.py
  tests/test_binary.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix whitespace errors in config.yaml
  config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

directly save .pt file in right folder
  bliss/train.py
  config/config.yaml
  config/training/sdss_autoencoder.yaml
  config/training/sdss_binary.yaml
  config/training/sdss_galaxy_encoder.yaml
  config/training/sdss_galaxy_encoder_real.yaml
  config/training/sdss_sleep.yaml
  models/Makefile
  models/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

converted checkpoints to .pt states
  .gitattributes
  models/convert_checkpoints.py
  models/sdss_autoencoder.pt
  models/sdss_binary.pt
  models/sdss_galaxy_encoder.pt
  models/sdss_galaxy_encoder_real.pt
  models/sdss_sleep.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

None for weight_save_path
  tests/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

got prior working (but predict is broken)
  bliss/datasets/simulated.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/sleep.py
  bliss/train.py
  config/config.yaml
  models/convert_checkpoints.py
  tests/conftest.py
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove references to .ckpt and replace by loading state dict
  bliss/datasets/sdss_blended_galaxies.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/predict.py
  config/config.yaml
  config/training/sdss_galaxy_encoder_real.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove checkpoint files
  models/sdss_autoencoder.ckpt
  models/sdss_binary.ckpt
  models/sdss_galaxy_encoder.ckpt
  models/sdss_galaxy_encoder_real.ckpt
  models/sdss_sleep.ckpt
Due: none

make sure checkpoint is initially loaded on CPU
  bliss/datasets/sdss_blended_galaxies.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Use Hydra instantiate with LocationEncoder
  bliss/sleep.py
  config/config.yaml
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Use Hydra instantiate with ImageDecoder
  bliss/datasets/simulated.py
  bliss/sleep.py
  config/config.yaml
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use properly in galaxy_encoder
  bliss/models/galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Convert model checkpoints to state dicts and utilize Hydra's instantiate (#401)
  .gitattributes
  bliss/datasets/sdss_blended_galaxies.py
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/predict.py
  bliss/sleep.py
  bliss/train.py
  config/config.yaml
  config/training/sdss_autoencoder.yaml
  config/training/sdss_binary.yaml
  config/training/sdss_galaxy_encoder.yaml
  config/training/sdss_galaxy_encoder_real.yaml
  config/training/sdss_sleep.yaml
  models/Makefile
  models/convert_checkpoints.py
  models/run_experiment.sh
  tests/conftest.py
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Convert model checkpoints to state dicts and utilize Hydra's instantiate (#401)
  .gitattributes
  bliss/datasets/sdss_blended_galaxies.py
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/predict.py
  bliss/sleep.py
  bliss/train.py
  config/config.yaml
  config/training/sdss_autoencoder.yaml
  config/training/sdss_binary.yaml
  config/training/sdss_galaxy_encoder.yaml
  config/training/sdss_galaxy_encoder_real.yaml
  config/training/sdss_sleep.yaml
  models/Makefile
  models/convert_checkpoints.py
  models/run_experiment.sh
  models/sdss_autoencoder.ckpt
  models/sdss_autoencoder.pt
  models/sdss_binary.ckpt
  models/sdss_binary.pt
  models/sdss_galaxy_encoder.ckpt
  models/sdss_galaxy_encoder.pt
  models/sdss_galaxy_encoder_real.ckpt
  models/sdss_galaxy_encoder_real.pt
  models/sdss_sleep.ckpt
  models/sdss_sleep.pt
  tests/conftest.py
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix bug where wrong object was being saved after training.
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

mark stale after 355 days
  .github/workflows/stale.yml
Due: trailing-whitespace, end-of-file-fixer

moved models to case_studies; probably everything is broken
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/models/README.md
  case_studies/sdss_galaxies/models/convert_checkpoints.py
  case_studies/sdss_galaxies/models/results
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder_results
  case_studies/sdss_galaxies/models/sdss_sleep.pt
  case_studies/sdss_galaxies/models/sdss_sleep_results
  case_studies/sdss_galaxies/run_experiment.sh
  models/Makefile
  models/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fixed pathing issue in prior
  .gitattributes
  bliss/models/prior.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/tests/__init__.py
  case_studies/sdss_galaxies/tests/conftest.py
  case_studies/sdss_galaxies/tests/test_binary.py
  case_studies/sdss_galaxies/tests/test_encoder_forward.py
  case_studies/sdss_galaxies/tests/test_fnp.py
  case_studies/sdss_galaxies/tests/test_galaxy_autoencoder.py
  case_studies/sdss_galaxies/tests/test_galaxy_encoder.py
  case_studies/sdss_galaxies/tests/test_generate.py
  case_studies/sdss_galaxies/tests/test_kl_pq.py
  case_studies/sdss_galaxies/tests/test_location_encoder.py
  case_studies/sdss_galaxies/tests/test_metrics.py
  case_studies/sdss_galaxies/tests/test_predict.py
  case_studies/sdss_galaxies/tests/test_reporting.py
  case_studies/sdss_galaxies/tests/test_sdss.py
  case_studies/sdss_galaxies/tests/test_sdss_blended_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

plots look 'mostly' the same
  .gitattributes
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

linting fix
  bliss/models/prior.py
  tests/conftest.py
  tests/m2/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

moved config to case_studies and got the help screen up!
  case_studies/sdss_galaxies/config/__init__.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/generate/sdss_individual_galaxies.yaml
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix m2 paths
  tests/conftest.py
  tests/m2/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix a few more pathing issues
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
Due: trailing-whitespace, end-of-file-fixer

Add 'project' path for finding models
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

black
  bliss/models/prior.py
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add case_studies to GH actions
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

Remove main bliss command
  bliss/main.py
  bliss/utils.py
  case_studies/sdss_galaxies/main.py
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix SDSS path
  bliss/predict.py
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Updated SDSS galaxy Makefile
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer

Make way for new files
  case_studies/sdss_galaxies/README.md
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
