Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

don't need devcontainer
  .devcontainer/devcontainer.json
Due: trailing-whitespace, end-of-file-fixer

documentation
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

more examples from dataset
  case_studies/galsim_galaxies/notebooks/example-blends.ipynb
Due: trailing-whitespace, end-of-file-fixer

slight optimization
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update torch and remove useless dependencies
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

removed uneeded models and fix optimizer params
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

fixup configs for different models
  case_studies/galsim_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/galsim_galaxies/config/training/sdss_binary.yaml
  case_studies/galsim_galaxies/config/training/sdss_detection_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

delete old figure
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
Due: none

delete old psf file from sdss no longer needed
  data/sdss/94/1/12/psField-000094-1-0012.fits
Due: none

README no longer useful
  case_studies/galsim_galaxies/models/README.md
Due: trailing-whitespace, end-of-file-fixer

remove old figures and models
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/galsim_galaxies/models/sdss_binary.pt
  case_studies/galsim_galaxies/models/sdss_binary.pt.log.json
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.pdf
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

don't need VAE for paper scope
  bliss/models/vae/__init__.py
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/galaxy_vae.py
  bliss/models/vae/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

delte coadd case study temporarily
  case_studies/coadds/README.md
  case_studies/coadds/align.py
  case_studies/coadds/coadds.py
  case_studies/coadds/config/config.yaml
  case_studies/coadds/get_dataset.py
  case_studies/coadds/get_results.py
  case_studies/coadds/main.py
  case_studies/coadds/notebooks/alignment_example.ipynb
  case_studies/coadds/train.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

don't need coadd sdss catalog class anymore
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

lsst instead of sdss, eventually
  bliss/datasets/lsst.py
  bliss/datasets/sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

propagate name change
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/reporting.py
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

no flow or vae anymore
  bliss/models/galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Create galaxy_clustering.md
  case_studies/galaxy_clustering/galaxy_clustering.md
Due: trailing-whitespace, end-of-file-fixer

Rename galaxy_clustering.md to README.md
  case_studies/galaxy_clustering/README.md
Due: trailing-whitespace, end-of-file-fixer

Update README.md
  case_studies/galaxy_clustering/README.md
Due: trailing-whitespace, end-of-file-fixer

Commit prior for clustering.
  case_studies/galaxy_clustering/cluster_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

default lsst psf in i-band used for everything
  bliss/datasets/lsst.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

we don't need simulated anymore as only using galsim datasets
  bliss/datasets/simulated.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

psf decode only uses galsim psfs now
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

cleanup
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jk
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update lensing-specific config, prior, catalog, simulated_dataset
  case_studies/weak_lensing/config.yaml
  case_studies/weak_lensing/lensing_catalog.py
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_prior.py
  case_studies/weak_lensing/lensing_simulated_dataset.py
  case_studies/weak_lensing/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

more thorough M2 case study (#953)
  .pre-commit-config.yaml
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/main.py
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  bliss/simulator/simulated_dataset.py
  case_studies/dependent_tiling/m2.ipynb
  case_studies/dependent_tiling/m2_config.yaml
  case_studies/dependent_tiling/moving_star.ipynb
  case_studies/dependent_tiling/multiple_sources.ipynb
  case_studies/dependent_tiling/two_point_metric.py
  case_studies/prior_elicitation/flux_prior.ipynb
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add files via upload
  bliss/simulator/cluster_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update and rename cluster_prior.py to prior_cluster.py
  bliss/simulator/prior_cluster.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add files via upload
  case_studies/galaxy_clustering/m2_config.yaml
  case_studies/galaxy_clustering/prior_cluster.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update lensing prior hyperparameters and tile catalog
  case_studies/weak_lensing/lensing_catalog.py
  case_studies/weak_lensing/lensing_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update prior and create notebook for generating lensed images
  case_studies/weak_lensing/generate_images.ipynb
  case_studies/weak_lensing/lensing_catalog.py
  case_studies/weak_lensing/lensing_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Make copy of decoder.py so we can modify render_galaxy
  case_studies/weak_lensing/lensing_decoder.py
  case_studies/weak_lensing/lensing_simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add galsim.lens() to decoder; shear and convergence now in config and prior
  case_studies/weak_lensing/generate_images.ipynb
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_decoder.py
  case_studies/weak_lensing/lensing_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Finished notebook for generating images with lensed galaxies
  case_studies/weak_lensing/generate_images.ipynb
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
