Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

remove uneeded catalog objects
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

dataset wroks with datamodule now
  bliss/datasets/blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

testing stuff
  case_studies/galsim_galaxies/notebooks/btk-sample.ipynb
Due: trailing-whitespace, end-of-file-fixer

change to not sdss or latents saving
  case_studies/galsim_galaxies/Makefile
Due: trailing-whitespace, end-of-file-fixer

we no longer generate, use get_datasets
  case_studies/galsim_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update README with actual script
  case_studies/galsim_galaxies/README.md
Due: trailing-whitespace, end-of-file-fixer

update config with correct checkpoints and filenames
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

correct datamodules/datasets and no longer sdss; also reduce epochs as more galaxies per epoch now
  case_studies/galsim_galaxies/config/training/autoencoder.yaml
  case_studies/galsim_galaxies/config/training/binary_encoder.yaml
  case_studies/galsim_galaxies/config/training/detection_encoder.yaml
  case_studies/galsim_galaxies/config/training/galaxy_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

fix names
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

fix single galaxy figure and blend figure setup
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

binary is now binary_encoder everywhere
  case_studies/galsim_galaxies/config/training/binary_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

made num_knots a hyperparam and changed loss calcs
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_prior.py
  case_studies/weak_lensing/lensing_variational_dist.py
  data/sdss/2334/6/13/fpM-002334-g6-0013.fits
  data/sdss/2334/6/13/fpM-002334-i6-0013.fits
  data/sdss/2334/6/13/fpM-002334-r6-0013.fits
  data/sdss/2334/6/13/fpM-002334-u6-0013.fits
  data/sdss/2334/6/13/fpM-002334-z6-0013.fits
  data/sdss/2334/6/13/frame-g-002334-6-0013.fits
  data/sdss/2334/6/13/frame-i-002334-6-0013.fits
  data/sdss/2334/6/13/frame-r-002334-6-0013.fits
  data/sdss/2334/6/13/frame-u-002334-6-0013.fits
  data/sdss/2334/6/13/frame-z-002334-6-0013.fits
  data/sdss/2334/6/13/psField-002334-6-0013.fits
  data/sdss/2334/6/photoField-002334-6.fits
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

better to centralize background calculation in one place
  bliss/datasets/lsst.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update btk
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

use lsst library when possible
  bliss/datasets/blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

use lsst library when possible
  bliss/datasets/single_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

toy separation figure is fixed now
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Removed galaxy vars from loss, detection metrics from config
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix a few bugs in config
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

add tensorboard which is useful for monitoring progress
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

need all flots when saving
  case_studies/galsim_galaxies/get_datasets.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

a few small fixes to atueoncoder figure
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

refactor so it can be used in case of mistakes
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix typos
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

don't need seaborn
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

don't need Helvetica specifically
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix bug in Figure class
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adapt to new corrected Figure class
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new ae figures (might not be included)
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_random_recon.png
  case_studies/galsim_galaxies/figures/ae_worst_recon.png
Due: none

natural order
  case_studies/galsim_galaxies/Makefile
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

remove scheduler
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Encoder using simplenet.
  case_studies/galaxy_clustering/encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Added muti processing.
  case_studies/galaxy_clustering/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

enforce n_sources is a long
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove space
  bliss/datasets/blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix scheduler error
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

only fields that are actually passed into nn (images) need to be floats necessarily
  case_studies/galsim_galaxies/get_datasets.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix docstring
  bliss/datasets/lsst.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

bigger batchsize and I run out of memory
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

more tests
  case_studies/galsim_galaxies/notebooks/btk-sample.ipynb
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
