Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Add average_keep_distance metric for distance only on good matches (#780)
  bliss/metrics.py
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Incorporate changes to data generation/loading
  bliss/encoder.py
  bliss/simulator/simulated_dataset.py
  case_studies/optimize_encoder_727/config.yaml
  get_median_speed.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Configure for use with new bliss executable
  case_studies/727_optimize_encoder/main.py
  case_studies/optimize_encoder_727/__init__.py
  case_studies/optimize_encoder_727/config.yaml
  case_studies/summer_template/__init__.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add multirun config to optimize encoder hyperparams
  case_studies/727_optimize_encoder/config.yaml
  case_studies/727_optimize_encoder/main.py
  conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Incorporate changes to data generation/loading
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Configure different tuning experiments
  bliss/encoder.py
  bliss/simulator/simulated_dataset.py
  case_studies/optimize_encoder_727/config.yaml
  case_studies/optimize_encoder_727/exp_batch_size/__init__.py
  case_studies/optimize_encoder_727/exp_batch_size/config.yaml
  case_studies/optimize_encoder_727/exp_batch_size/reps-10GB.log
  case_studies/optimize_encoder_727/exp_pretrain/__init__.py
  case_studies/optimize_encoder_727/exp_pretrain/config.yaml
  case_studies/optimize_encoder_727/exp_pretrain/reps.log
  case_studies/optimize_encoder_727/scripts/repeat_and_aggregate.sh
  data/pretrained_models/sdss-pretrained-0.02.pt
  data/pretrained_models/sdss-pretrained-0.06.pt
  data/pretrained_models/sdss-pretrained-0.1.pt
  data/pretrained_models/sdss-pretrained-0.2.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Configure different tuning experiments
  bliss/encoder.py
  bliss/simulator/simulated_dataset.py
  case_studies/optimize_encoder_727/exp_anchor_size/__init__.py
  case_studies/optimize_encoder_727/exp_anchor_size/config.yaml
  case_studies/optimize_encoder_727/exp_nnhead/__init__.py
  case_studies/optimize_encoder_727/exp_nnhead/config.yaml
  case_studies/optimize_encoder_727/exp_nnhead/reps.log
  case_studies/optimize_encoder_727/exp_pretrain/reps.log
  case_studies/optimize_encoder_727/exp_scheduler/__init__.py
  case_studies/optimize_encoder_727/exp_scheduler/config.yaml
  data/pretrained_models/sdss-pretrained-50GB-0.02-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.02.pt
  data/pretrained_models/sdss-pretrained-50GB-0.06-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.06.pt
  data/pretrained_models/sdss-pretrained-50GB-0.1-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.1.pt
  data/pretrained_models/sdss-pretrained-50GB-0.2-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.2.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Try OneCycleLR with various max_lr
  bliss/encoder.py
  bliss/simulator/simulated_dataset.py
  bliss/train.py
  case_studies/optimize_encoder_727/exp_imgsize_padding/__init__.py
  case_studies/optimize_encoder_727/exp_imgsize_padding/config.yaml
  case_studies/optimize_encoder_727/exp_imgsize_padding/config_pretrain.yaml
  case_studies/optimize_encoder_727/scripts/get_best_val_loss.sh
  case_studies/optimize_encoder_727/scripts/get_median_speed.sh
  case_studies/optimize_encoder_727/scripts/results.sh
  data/pretrained_models/sdss-pretrained-50GB-0.02-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.02.pt
  data/pretrained_models/sdss-pretrained-50GB-0.06-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.06.pt
  data/pretrained_models/sdss-pretrained-50GB-0.1-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.1.pt
  data/pretrained_models/sdss-pretrained-50GB-0.2-val-per-epoch.pt
  data/pretrained_models/sdss-pretrained-50GB-0.2.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Plot images during training only on first validation batch
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Allow config overrides in parallel generate script
  case_studies/diskrw_gsimages_721/config.yaml
  scripts/generate_data_in_parallel.sh
Due: trailing-whitespace, end-of-file-fixer

Update script usage comment
  scripts/generate_data_in_parallel.sh
Due: none

Allow config overrides in parallel generate script (#781)
  case_studies/diskrw_gsimages_721/config.yaml
  scripts/generate_data_in_parallel.sh
Due: trailing-whitespace, end-of-file-fixer

Add galaxy classification metrics
  bliss/metrics.py
  bliss/simulator/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add test for classification metrics
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Metrics for galaxy parameters (#784)
  bliss/encoder.py
  bliss/metrics.py
  bliss/simulator/decoder.py
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Save psf parameters to cached data; add new input channels to encoder
  bliss/encoder.py
  bliss/generate.py
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

blend example with centroids notebook
  case_studies/galsim_galaxies/notebooks/example-blends.ipynb
  case_studies/galsim_galaxies/notebooks/outline.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add user-facing API and tutorial docs
  bliss/api.py
  bliss/conf/__init__.py
  bliss/conf/base_config.yaml
  bliss/conf/igs.py
  case_studies/astropy_integration_730/tutorial.ipynb
  case_studies/catalog_comparison/config.yaml
  case_studies/diskrw_gsimages_721/config.yaml
  case_studies/summer_template/config.yaml
  main.py
  pyproject.toml
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add requests library to dependencies
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Fix test_api accelerator device; add docs
  case_studies/astropy_integration_730/tutorial.ipynb
  docs/docsrc/api/bliss.rst
  docs/docsrc/conf.py
  docs/docsrc/index.rst
  tests/test_api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Store state and call fxns from BlissClient object
  bliss/api.py
  bliss/surveys/Makefile
  bliss/surveys/sdss_download.py
  case_studies/astropy_integration_730/tutorial.ipynb
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Complete basic E2E user API
  bliss/api.py
  bliss/surveys/Makefile
  bliss/surveys/sdss_download.py
  case_studies/astropy_integration_730/tutorial.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Show probabilistic preds; add tests
  bliss/api.py
  bliss/predict.py
  case_studies/astropy_integration_730/tutorial.ipynb
  tests/test_api.py
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Publish 0.2.0; fix docs
  bliss/api.py
  docs/docsrc/conf.py
  docs/docsrc/tutorials/index.rst
  docs/docsrc/tutorials/notebooks/tutorial.ipynb
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

730 AstroPy Integration - User API & Tutorial (#786)
  bliss/api.py
  bliss/conf/__init__.py
  bliss/conf/base_config.yaml
  bliss/conf/igs.py
  bliss/predict.py
  bliss/surveys/sdss_download.py
  case_studies/catalog_comparison/config.yaml
  case_studies/diskrw_gsimages_721/config.yaml
  case_studies/summer_template/config.yaml
  data/sdss/Makefile
  docs/docsrc/api/bliss.rst
  docs/docsrc/conf.py
  docs/docsrc/index.rst
  docs/docsrc/tutorials/index.rst
  docs/docsrc/tutorials/notebooks/tutorial.ipynb
  main.py
  poetry.lock
  pyproject.toml
  tests/test_api.py
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Unstage docs/docsrc/bin before commit and push
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer

Unstage docs/docsrc/bin before commit and push (#787)
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
