Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Clean up image_gen and file_gen functions and move helper functions to gen_utils.py
  case_studies/galaxy_clustering/data_generation/des_galsim_gen.py
  case_studies/galaxy_clustering/data_generation/gen_utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rerun DC2 notebooks with new ckpt
  case_studies/weak_lensing/dc2/config_dc2.yaml
  case_studies/weak_lensing/dc2/config_dc2_gl.yaml
  case_studies/weak_lensing/dc2/notebooks/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add convergence 2pcf to notebook
  case_studies/weak_lensing/dc2/notebooks/manuscript/twopoint.ipynb
Due: none

Remove unnecessary descwl notebook
  case_studies/weak_lensing/descwl/notebooks/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

updated config_descwl and created scatterplots for shear values in descwl
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer

Initial version of descwl credible interval plots
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
Due: trailing-whitespace, end-of-file-fixer

Minor updates to descwl scatterplots notebook
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer

Weak lensing: encoder architecture changes, more descwl results (#1091)
  bliss/encoder/variational_dist.py
  case_studies/weak_lensing/convnet.py
  case_studies/weak_lensing/convnet_layers.py
  case_studies/weak_lensing/dc2/config_dc2.yaml
  case_studies/weak_lensing/dc2/config_dc2_gl.yaml
  case_studies/weak_lensing/dc2/dc2.py
  case_studies/weak_lensing/dc2/notebooks/manuscript/twopoint.ipynb
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
  case_studies/weak_lensing/descwl/encoder_input_config.yaml
  case_studies/weak_lensing/descwl/generate_encoder_input.py
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
  case_studies/weak_lensing/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Weak lensing: encoder architecture changes, more descwl results (#1091)
  bliss/encoder/variational_dist.py
  case_studies/weak_lensing/convnet.py
  case_studies/weak_lensing/convnet_layers.py
  case_studies/weak_lensing/dc2/config_dc2.yaml
  case_studies/weak_lensing/dc2/config_dc2_gl.yaml
  case_studies/weak_lensing/dc2/dc2.py
  case_studies/weak_lensing/dc2/notebooks/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/twopoint.ipynb
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
  case_studies/weak_lensing/descwl/encoder_input_config.yaml
  case_studies/weak_lensing/descwl/generate_encoder_input.py
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
  case_studies/weak_lensing/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Jeff's script for debugging
  case_studies/galaxy_clustering/notebooks/debug_test.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

upload script to run ori bliss on m2
  case_studies/dc2_mdt/m2_great_lake_train_scripts/run_ori_bliss.sbatch
  case_studies/dc2_mdt/m2_mdt_config/m2_ori_bliss_train_config.yaml
Due: trailing-whitespace, end-of-file-fixer

two point metric can't run on multi gpus due to wrong state reduction
  case_studies/dc2_mdt/m2_mdt_config/m2_ori_bliss_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_ori_bliss_train_config_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

fix yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_ori_bliss_train_config.yaml
Due: trailing-whitespace, end-of-file-fixer

regular update
  case_studies/dc2_mdt/m2_bliss_infer_val_set.ipynb
  case_studies/dc2_mdt/m2_great_lake_train_scripts/run_mdt_full_rml.sbatch
  case_studies/dc2_mdt/m2_great_lake_train_scripts/run_mdt_rml.sbatch
  case_studies/dc2_mdt/m2_locs_fx_against_fx.ipynb
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_only_nsources_rml_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_only_nsources_rml_train_config_gl.yaml
  case_studies/dc2_mdt/run.sh
  case_studies/dc2_mdt/sim_and_test.ipynb
  case_studies/dc2_mdt/utils/new_simulate_image.py
  case_studies/dc2_mdt/utils/reverse_markov_learning.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix typo
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_only_nsources_rml_train_config_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Add tract number to DC2 catalog
  case_studies/weak_lensing/dc2/generate_catalog.py
  case_studies/weak_lensing/dc2/notebooks/generate_lensing_catalog.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update DC2 redshift bins notebook
  case_studies/weak_lensing/dc2/notebooks/redshiftbins.ipynb
Due: trailing-whitespace, end-of-file-fixer

Specify num redshift bins in DC2 config names
  case_studies/weak_lensing/dc2/config_dc2_redbin1.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin1_gl.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin3.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin3_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Filter to tracts 3828 and 3829 in notebooks
  case_studies/weak_lensing/dc2/notebooks/ellipticity.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/cosmodc2galaxies.ipynb
  case_studies/weak_lensing/dc2/notebooks/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update config names in DC2 notebooks
  case_studies/weak_lensing/dc2/notebooks/ellipticity.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/twopoint.ipynb
  case_studies/weak_lensing/dc2/notebooks/redshiftbins.ipynb
Due: trailing-whitespace, end-of-file-fixer

Posterior samples of convergence maps
  case_studies/weak_lensing/dc2/notebooks/manuscript/posteriormeanmaps.ipynb
Due: none

DC2 results notebooks for 3 redshift bins
  case_studies/weak_lensing/dc2/config_dc2_redbin3.yaml
  case_studies/weak_lensing/dc2/notebooks/redbin3/dc2maps.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin3/posteriormeanmaps.ipynb
Due: trailing-whitespace, end-of-file-fixer

Notebook to visualize one descwl image
  case_studies/weak_lensing/descwl/notebooks/images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update descwl scatterplots notebook
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update descwl image notebook
  case_studies/weak_lensing/descwl/notebooks/images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Use new ckpt in descwl scatterplots notebook
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update descwl gl config
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Use new ckpt in dc2 redbin3 notebook
  case_studies/weak_lensing/dc2/config_dc2_redbin3.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin3_gl.yaml
  case_studies/weak_lensing/dc2/notebooks/redbin3/posteriormeanmaps.ipynb
Due: trailing-whitespace, end-of-file-fixer

Use new ckpt in descwl credible intervals notebook
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
Due: trailing-whitespace, end-of-file-fixer
