Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

aded plots with new blends (#322)
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

simplify concatenation of output tensors
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/galaxy_net.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add back initial reconstruction plots
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/galaxy_net.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

black formatting
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/galaxy_net.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

minor change to readme
  README.md
Due: trailing-whitespace, end-of-file-fixer

more minor readme changes
  README.md
Due: trailing-whitespace, end-of-file-fixer

organize and update notebooks
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
  case_studies/sdss_galaxies/plot_defaults.py
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

organize and update notebooks
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

correct notebook, add comments
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

More sdss galaxy blends (#324)
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
  case_studies/sdss_galaxies/plot_defaults.py
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

final autoencoder figures added to paper
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
Due: trailing-whitespace, end-of-file-fixer

final autoencoder figures added to paper (#325)
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add back grouped output by epoch and residual grid
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/galaxy_net.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Deleted unnecessary comments and code
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/galaxy_net.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

delete rcf_list a temp file
  data/sdss/rcf_list
Due: trailing-whitespace, end-of-file-fixer

add rcf_list to git ignore
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

standardize location of data (particularly PSF params for SDSS) to reduce clutter in data folder
  config/model/binary_sdss.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/sleep_1galaxy_1star.yaml
  config/model/sleep_galaxy_basic.yaml
  config/model/sleep_m2.yaml
  config/model/sleep_sdss_detection.yaml
  config/model/sleep_star_basic.yaml
  config/model/sleep_star_one_tile.yaml
Due: trailing-whitespace, end-of-file-fixer

remove useless test and associated data file
  tests/test_sleep_star.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add coadd catalog
  data/coadd_catalog_94_1_12.fits
Due: none

calculate output padding for arbitrary slen
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/galaxy_net.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update to correct catalog
  case_studies/sdss_galaxies/sparse_field_lib.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

no changes to notebooks
  case_studies/sdss_galaxies/aggregate-results.ipynb
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

update models with new data locations (nothign else has changed)
  models/sdss_binary.ckpt
  models/sdss_galaxy_encoder.ckpt
Due: none

one more model
  models/sdss_sleep.ckpt
Due: none

delete checkpoints to force updates in git, also remove from git lfs
  .gitattributes
  models/sdss_binary.ckpt
  models/sdss_galaxy_encoder.ckpt
  models/sdss_sleep.ckpt
Due: trailing-whitespace, end-of-file-fixer

put models back
  models/sdss_binary.ckpt
  models/sdss_galaxy_encoder.ckpt
  models/sdss_sleep.ckpt
Due: none

Unify downsample/upsample blocks
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Cleanup data (#326)
  .gitattributes
  .gitignore
  case_studies/sdss_galaxies/aggregate-results.ipynb
  case_studies/sdss_galaxies/reconstruction_results.ipynb
  case_studies/sdss_galaxies/sparse_field_lib.py
  config/model/binary_sdss.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/sleep_1galaxy_1star.yaml
  config/model/sleep_galaxy_basic.yaml
  config/model/sleep_m2.yaml
  config/model/sleep_sdss_detection.yaml
  config/model/sleep_star_basic.yaml
  config/model/sleep_star_one_tile.yaml
  data/coadd_galaxy_catalog.dat
  data/psField-002583-2-0136.fits
  data/sdss/rcf_list
  tests/test_sleep_star.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Factor out datasets
  bliss/generate.py
  bliss/train.py
  bliss/tune.py
  config/dataset/cpu.yaml
  config/dataset/default.yaml
  config/dataset/m2.yaml
  config/dataset/sdss_galaxies.yaml
  config/dataset/single_tile.yaml
  config/dataset/test_plotting.yaml
  config/dataset/toy_gaussian.yaml
  tests/conftest.py
  tests/test_galaxy_autoencoder.py
  tests/test_galaxy_encoder.py
  tests/test_generate.py
  tests/test_multi_gpu.py
  tests/test_tune.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Created nested model config and factor models
  bliss/datasets/simulated.py
  bliss/models/galaxy_encoder.py
  bliss/sleep.py
  bliss/train.py
  bliss/tune.py
  config/dataset/binary.yaml
  config/dataset/cpu.yaml
  config/dataset/default.yaml
  config/dataset/single_tile.yaml
  config/dataset/test_plotting.yaml
  config/model/binary_sdss.yaml
  config/model/decoder/1galaxy_1star.yaml
  config/model/decoder/1tile.yaml
  config/model/decoder/galaxy_basic.yaml
  config/model/decoder/m2.yaml
  config/model/decoder/sdss_standard.yaml
  config/model/decoder/star_basic.yaml
  config/model/encoder/1galaxy_1star.yaml
  config/model/encoder/1tile.yaml
  config/model/encoder/galaxy_basic.yaml
  config/model/encoder/m2.yaml
  config/model/encoder/sdss_standard.yaml
  config/model/encoder/star_basic.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/galaxy_net.yaml
  config/model/sleep_1galaxy_1star.yaml
  config/model/sleep_galaxy_basic.yaml
  config/model/sleep_m2.yaml
  config/model/sleep_sdss_detection.yaml
  config/model/sleep_star_basic.yaml
  config/model/sleep_star_one_tile.yaml
  tests/conftest.py
  tests/test_binary.py
  tests/test_galaxy_encoder.py
  tests/test_plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Factor trainer
  bliss/train.py
  config/training/cpu.yaml
  config/training/default.yaml
  config/training/m2.yaml
  config/training/test_plotting.yaml
  config/training/unittest.yaml
  tests/conftest.py
  tests/test_galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Resolve metric logging name
  bliss/wake.py
  tests/test_fnp.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add config group
  config/dataset/sdss_galaxies.yaml
  config/experiment/sdss_autoencoder.yaml
  config/experiment/sdss_binary.yaml
  config/experiment/sdss_galaxy_encoder.yaml
  config/experiment/sdss_sleep.yaml
  config/model/decoder/1galaxy_1star.yaml
  config/model/decoder/1tile.yaml
  config/model/decoder/galaxy_basic.yaml
  config/model/decoder/m2.yaml
  config/model/decoder/sdss_standard.yaml
  config/model/decoder/star_basic.yaml
  config/training/cpu.yaml
  config/training/default.yaml
  config/training/m2.yaml
  config/training/test_plotting.yaml
  config/training/unittest.yaml
  models/README.md
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
