Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Miscellaneous fixes (#916)
  bliss/api.py
  bliss/encoder.py
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/unconstrained_dists.py
  case_studies/adaptive_tiling/region_encoder.py
  tests/test_encoder.py
  tests/test_simulate.py
  tests/test_unconstrained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix DECaLS/DES warnings
  bliss/conf/base_config.yaml
  bliss/surveys/decals.py
  bliss/surveys/des.py
  tests/test_predict.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix flux calibration dim bug
  bliss/predict.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  tests/test_sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

notebook with samlpes of simulated
  case_studies/galsim_galaxies/notebooks/example-simulated.ipynb
Due: trailing-whitespace, end-of-file-fixer

just rain
  case_studies/galsim_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add latents file
  case_studies/galsim_galaxies/Makefile
Due: trailing-whitespace, end-of-file-fixer

no mode in run experiment.sh
  case_studies/galsim_galaxies/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer

Compute metrics during training with RegionEncoder
  bliss/metrics.py
  case_studies/adaptive_tiling/region_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix DES/DECaLS warnings (#918)
  bliss/conf/base_config.yaml
  bliss/predict.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  tests/test_predict.py
  tests/test_sdss.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Compute metrics during training with RegionEncoder (#919)
  bliss/metrics.py
  case_studies/adaptive_tiling/region_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix flux calibrations for DES/DECaLS
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix flux calibrations for DES/DECaLS (#920)
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix GMM model load warning
  bliss/simulator/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix GMM model load warning (#921)
  bliss/simulator/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new options for toy figure
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

use 0.05 mean source (more blends)
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

notebook to visualize blends
  case_studies/galsim_galaxies/notebooks/example-blends.ipynb
Due: trailing-whitespace, end-of-file-fixer

optimiar params go in main config for safety
  case_studies/galsim_galaxies/config/generate/sdss_individual_galaxies.yaml
  case_studies/galsim_galaxies/config/training/sdss_autoencoder.yaml
Due: trailing-whitespace, end-of-file-fixer

more epochs in some, should use same mean_sources
  case_studies/galsim_galaxies/config/training/sdss_binary.yaml
  case_studies/galsim_galaxies/config/training/sdss_detection_encoder.yaml
  case_studies/galsim_galaxies/config/training/sdss_galaxy_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

new models, need to rerun some
  case_studies/galsim_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/galsim_galaxies/models/sdss_binary.pt
  case_studies/galsim_galaxies/models/sdss_binary.pt.log.json
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt.log.json
Due: none

new results, need to rerun
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.pdf
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

only load full encoder if necesasry in figures
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update BLISS version to 0.3
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

adding relevant plotting code from Mendoza et al. (2023)
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update AE and figures
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adding multiband paper figures notebook for reference
  case_studies/multiband_paper/Figures.ipynb
  case_studies/multiband_paper/config.yaml
Due: trailing-whitespace, end-of-file-fixer

retrain AE to at least be as good as previous one
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt
  case_studies/galsim_galaxies/models/sdss_autoencoder.pt.log.json
Due: none

ensure consistent with others
  case_studies/galsim_galaxies/config/training/sdss_autoencoder.yaml
Due: trailing-whitespace, end-of-file-fixer

only save top
  case_studies/galsim_galaxies/config/training/sdss_binary.yaml
  case_studies/galsim_galaxies/config/training/sdss_detection_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

retrain new results
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/models/sdss_binary.pt
  case_studies/galsim_galaxies/models/sdss_binary.pt.log.json
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt
  case_studies/galsim_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/galsim_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
Due: none

Update BLISS version to 0.3 (#926)
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

detection PR plot
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
  case_studies/multiband_paper/Figures.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Generalize predict user API function
  bliss/api.py
  bliss/utils/deprecation_utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Just remove deprecated functions
  bliss/api.py
  bliss/utils/deprecation_utils.py
  tests/test_api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
