Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Updated preprocessing code for multi-batch input, and its config file
  case_studies/weak_lensing/descwl/encoder_input_config.yaml
  case_studies/weak_lensing/descwl/generate_encoder_input.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add cache dir
  bliss/__init__.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

some refactoring and adding code for final figures
  experiment/make_central_sim_samples_results.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

cleanupu citation and readme
  LICENSE.md
  README.md
Due: trailing-whitespace, end-of-file-fixer

regular update
  case_studies/dc2_mdt/.gitignore
  case_studies/dc2_mdt/m2_bliss_infer_val_set.ipynb
  case_studies/dc2_mdt/m2_flux_fx_against_fx.ipynb
  case_studies/dc2_mdt/m2_fx_against_fx.ipynb
  case_studies/dc2_mdt/m2_locs_fx_against_fx.ipynb
  case_studies/dc2_mdt/m2_nsources_fx_against_fx.ipynb
  case_studies/dc2_mdt/sim_and_test.ipynb
  case_studies/dc2_mdt/sim_and_test_df.ipynb
  case_studies/dc2_mdt/sim_and_test_rml.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_df_full.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_flux.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_full.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_locs.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_n_sources.ipynb
  case_studies/dc2_mdt/tmp.ipynb
  case_studies/dc2_mdt/utils/diffusion_forcing.py
  case_studies/dc2_mdt/utils/resample.py
  case_studies/dc2_mdt/utils/rml_df.py
  case_studies/dc2_mdt/utils/rml_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

regular update
  case_studies/dc2_mdt/.gitignore
  case_studies/dc2_mdt/m2_bliss_infer_val_set.ipynb
  case_studies/dc2_mdt/m2_flux_fx_against_fx.ipynb
  case_studies/dc2_mdt/m2_fx_against_fx.ipynb
  case_studies/dc2_mdt/m2_locs_fx_against_fx.ipynb
  case_studies/dc2_mdt/m2_nsources_fx_against_fx.ipynb
  case_studies/dc2_mdt/sim_and_test_df.ipynb
  case_studies/dc2_mdt/sim_and_test_rml.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_df_full.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_flux.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_full.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_locs.ipynb
  case_studies/dc2_mdt/sim_and_test_rml_n_sources.ipynb
  case_studies/dc2_mdt/tmp.ipynb
  case_studies/dc2_mdt/utils/diffusion_forcing.py
  case_studies/dc2_mdt/utils/resample.py
  case_studies/dc2_mdt/utils/rml_df.py
  case_studies/dc2_mdt/utils/rml_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

installation
  README.md
Due: trailing-whitespace, end-of-file-fixer

add config
  pyproject.toml
  uv.lock
Due: trailing-whitespace, end-of-file-fixer

draft of readme for reproducibility
  experiment/README.md
Due: trailing-whitespace, end-of-file-fixer

keep homedir
  bliss/__init__.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

cache cache
  experiment/config/__init__.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

code for rml df on m2
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_df_full_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_df_full_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_rml_df_full_train_config_gl.yaml
  case_studies/dc2_mdt/utils/convnet_layers.py
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/rml_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update gl script
  case_studies/dc2_mdt/m2_great_lake_train_scripts/run_mdt_rml.sbatch
Due: none

change features net
  case_studies/dc2_mdt/utils/mdt_models.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove loss mask
  case_studies/dc2_mdt/m2_rml_df_fx_against_fx.ipynb
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/rml_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update the credible interval drawing notebook
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
Due: trailing-whitespace, end-of-file-fixer

fix bug
  case_studies/dc2_mdt/m2_rml_df_fx_against_fx.ipynb
  case_studies/dc2_mdt/utils/catalog_parser.py
  case_studies/dc2_mdt/utils/reverse_markov_learning.py
  case_studies/dc2_mdt/utils/rml_df.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add flow matching
  case_studies/dc2_mdt/m2_bliss_infer_val_set.ipynb
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_flow_matching_train_config.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_flow_matching_train_config_debug.yaml
  case_studies/dc2_mdt/m2_mdt_config/m2_mdt_flow_matching_train_config_gl.yaml
  case_studies/dc2_mdt/m2_rml_df_fx_against_fx.ipynb
  case_studies/dc2_mdt/utils/flow_matching.py
  case_studies/dc2_mdt/utils/flow_matching_encoder.py
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/optimal_transport.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

updated dependencies (#1093)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Add tract number to DC2 catalog
  case_studies/weak_lensing/dc2/generate_catalog.py
  case_studies/weak_lensing/dc2/notebooks/generate_lensing_catalog.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Specify num redshift bins in DC2 config names
  case_studies/weak_lensing/dc2/config_dc2_redbin1.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin1_gl.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin3.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin3_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Filter to tracts 3828 and 3829 in notebooks
  case_studies/weak_lensing/dc2/notebooks/ellipticity.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/cosmodc2galaxies.ipynb
  case_studies/weak_lensing/dc2/notebooks/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update DC2 redshift bins notebook
  case_studies/weak_lensing/dc2/notebooks/redshiftbins.ipynb
Due: trailing-whitespace, end-of-file-fixer

Notebook to visualize one descwl image
  case_studies/weak_lensing/descwl/notebooks/images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update config names in DC2 notebooks
  case_studies/weak_lensing/dc2/notebooks/ellipticity.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/manuscript/twopoint.ipynb
  case_studies/weak_lensing/dc2/notebooks/redshiftbins.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update descwl image notebook
  case_studies/weak_lensing/descwl/notebooks/images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update descwl scatterplots notebook
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer

Use new ckpt in descwl scatterplots notebook
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/notebooks/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer

DC2 results notebooks for 3 redshift bins
  case_studies/weak_lensing/dc2/config_dc2_redbin3.yaml
  case_studies/weak_lensing/dc2/notebooks/redbin3/dc2maps.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin3/posteriormeanmaps.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update descwl gl config
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Posterior samples of convergence maps
  case_studies/weak_lensing/dc2/notebooks/manuscript/posteriormeanmaps.ipynb
Due: none

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
