Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

updated lensing_plots to fix order of conditional check
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added changes for plotting extraction to case_studies, plotcollection class, updated paths and configs
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/plots.py
  bliss/encoder/plotting.py
  case_studies/adaptive_tiling/region_encoder.py
  case_studies/catalog_comparison/catalog_comparison.ipynb
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added preliminary dc2 data exploration (week 1 and 2)
  case_studies/dc2/dc2_shear_conv.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add padding to catalogs.
  case_studies/galaxy_clustering/catalog_gen.py
  case_studies/galaxy_clustering/galsim-des.yaml
  case_studies/galaxy_clustering/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Reformat files (#985) * reformat files to pass the pre-commit check
  .flake8
  .gitignore
  bliss/catalog.py
  bliss/encoder/image_normalizer.py
  bliss/encoder/metrics.py
  bliss/surveys/dc2.py
  case_studies/dc2/.gitignore
  case_studies/galaxy_clustering/README.md
  case_studies/galaxy_clustering/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Clean up directory for merge.
  case_studies/galaxy_clustering/encoder.ipynb
  case_studies/galaxy_clustering/encoder_radius.ipynb
  case_studies/galaxy_clustering/generic.ipynb
  case_studies/galaxy_clustering/prior_cluster.ipynb
  case_studies/galaxy_clustering/verfication.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add .pkl color model again to dir.
  case_studies/galaxy_clustering/gal_gmm_nmgy.pkl
Due: trailing-whitespace, end-of-file-fixer

Catalogs Test notebok. initial commit.
  case_studies/galaxy_clustering/notebooks/CatalogsTest.ipynb
Due: trailing-whitespace, end-of-file-fixer

photozFromFlux
  bliss/encoder/encoder.py
  bliss/encoder/plotting.py
  case_studies/redshift/network_rs.py
  case_studies/redshift/preprocess_dataset.sh
  case_studies/redshift/preprocess_rs.py
  case_studies/redshift/split_rs_train.py
  case_studies/redshift/train.sh
  case_studies/redshift/train_rs.py
  case_studies/redshift/train_rs_light.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

attempted refactor of plots to use metrics instead of plotcollection, modified yaml files to support change, added null check before plotting in encoder
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/plots.py
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated base_config to reflect correct path to plots
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Refactor lensing plots
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Modify TileCatalog to allow new params.
  case_studies/galaxy_clustering/notebooks/CatalogsTest.ipynb
Due: trailing-whitespace, end-of-file-fixer

updated encoder and plots to reflect req changes
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

photozfromflux complete
  case_studies/redshift/network_rs.py
  case_studies/redshift/photozFromPredict.ipynb
  case_studies/redshift/preprocess_dataset.sh
  case_studies/redshift/preprocess_rs.py
  case_studies/redshift/split_rs_train.py
  case_studies/redshift/train.sh
  case_studies/redshift/train_rs_light.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add module recog file and modify test notebook
  case_studies/redshift/__init__.py
  case_studies/redshift/photozFromPredict.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Change the path in DC2 config (#985)
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000000.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000001.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000002.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000003.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000004.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000005.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000006.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000007.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000008.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000009.pt
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add initial Cluster Membership Accuracy Metric.
  case_studies/galaxy_clustering/notebooks/CatalogsTest.ipynb
Due: trailing-whitespace, end-of-file-fixer

updated name of sample_image_renders to be more descriptive re function
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

renamed plots to sample_image_renders and updated yaml to reflect
  bliss/conf/base_config.yaml
  bliss/encoder/sample_image_renders.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add training test for DC2
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000000.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000001.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000002.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000003.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000004.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000005.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000006.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000007.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000008.pt
  case_studies/dc2/pytest_data/split_samples/split_image_0000_00000009.pt
  data/tests/dc2/dc2_multiband/.gitignore
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated encoder and sample_images to add support for weak_lensing plots (minor changes), refactored weak_lensing plots (major change)
  bliss/encoder/encoder.py
  bliss/encoder/sample_image_renders.py
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add split results (#985)
  data/tests/dc2/dc2_multiband/.gitignore
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000000.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000001.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000002.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000003.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000004.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000005.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000006.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000007.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000008.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000009.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000010.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000011.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000012.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000013.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000014.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000015.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000016.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000017.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000018.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000019.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000020.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000021.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000022.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000023.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000024.pt
Due: trailing-whitespace, end-of-file-fixer

update plot_detections path in region_encoder.py
  case_studies/adaptive_tiling/region_encoder.py
Due: isort, pylint, flake8, mypy, darglint, black

Fix DC2 experiment (#986)
  .flake8
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/encoder/metrics.py
  bliss/surveys/dc2.py
  case_studies/dc2/.gitignore
  case_studies/dc2/DC2_deconv.ipynb
  case_studies/dc2/DC2_exp.ipynb
  case_studies/dc2/DC2_galaxy_psf_params.ipynb
  case_studies/dc2/DC2_generate_catalog.ipynb
  case_studies/dc2/config.yaml
  case_studies/dc2/full_train_config.yaml
  case_studies/dc2/full_train_config_debug.yaml
  case_studies/dc2/notebook_config.yaml
  case_studies/dc2/run_dc2_exp.sh
  case_studies/dc2/train_dc2.sh
  case_studies/galaxy_clustering/README.md
  case_studies/galaxy_clustering/config.yaml
  poetry.lock
  pyproject.toml
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

GalaxyCluster Simulated Dataset. Initial commit.
  case_studies/galaxy_clustering/simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

import problem modify
  case_studies/redshift/train.sh
  case_studies/redshift/train_rs_light.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Delete case_studies/dc2/dc2_shear_conv.ipynb (refactor and move to weak_lensing later on)
  case_studies/dc2/dc2_shear_conv.ipynb
Due: trailing-whitespace, end-of-file-fixer

photozfromflux complete (#996)
  case_studies/redshift/__init__.py
  case_studies/redshift/network_rs.py
  case_studies/redshift/photozFromPredict.ipynb
  case_studies/redshift/preprocess_dataset.sh
  case_studies/redshift/preprocess_rs.py
  case_studies/redshift/split_rs_train.py
  case_studies/redshift/train.sh
  case_studies/redshift/train_rs_light.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Plotting workflow changes & corresponding updates (#995)
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/plotting.py
  bliss/encoder/sample_image_renders.py
  case_studies/adaptive_tiling/region_encoder.py
  case_studies/catalog_comparison/catalog_comparison.ipynb
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Directory cleanup after merge with master.
  case_studies/galaxy_clustering/catalog_gen.ipynb
  case_studies/galaxy_clustering/encoder.ipynb
  case_studies/galaxy_clustering/encoder_radius.ipynb
  case_studies/galaxy_clustering/generic.ipynb
  case_studies/galaxy_clustering/prior_cluster.ipynb
  case_studies/galaxy_clustering/verfication.ipynb
Due: trailing-whitespace, end-of-file-fixer

Define variational distribution for galaxy clusters. Temporarily, only defined for galxy membership to cluster. Initial commit.
  case_studies/galaxy_clustering/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename ClusterPrior to GalaxyClusterPrior.
  case_studies/galaxy_clustering/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Correct import statements from ClusterPrior to GalaxyClusterPrior.
  case_studies/galaxy_clustering/catalog_gen.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Change name of GalaxyClusterSimulatedDataset to GalaxyClusterCachedSimulatedDataset.
  case_studies/galaxy_clustering/simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
