Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Run some DES prediction experiments.
  case_studies/galaxy_clustering/notebooks/DESPrediction.ipynb
Due: trailing-whitespace, end-of-file-fixer

Detecting galaxy clusters in DES images (#1021)
  case_studies/galaxy_clustering/data_generation/DES_data_extraction.py
  case_studies/galaxy_clustering/notebooks/DESDataExtraction.ipynb
  case_studies/galaxy_clustering/notebooks/DESPrediction.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update plots
  bliss/encoder/metrics.py
  case_studies/dc2_cataloging/bootstrap_testing_full_image.ipynb
  case_studies/dc2_cataloging/flux_err_plot.ipynb
  case_studies/dc2_cataloging/notebook_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fluxes_and_centeredlocs_nsourcesgating
  bliss/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun22_detection_id_embedding
  bliss/encoder/convnet.py
  bliss/encoder/encoder.py
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/galaxy_clustering/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun22_always_grouupnorm
  bliss/encoder/convnet.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun22_deepernets_14batch
  bliss/encoder/convnet.py
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun22_random_mask_patterns
  bliss/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun23_revertdetectionembedding_refactor
  bliss/encoder/convnet.py
  bliss/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun23_deeper_head
  bliss/encoder/convnet.py
  bliss/encoder/encoder.py
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun23_shallowerbackbone
  bliss/encoder/convnet.py
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun23_shallowerbackbone_bs10
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer

jun23_milestone5
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer

jun23_lr1en2_milestones3and9
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer

jun23_asinh
  bliss/conf/base_config.yaml
  bliss/encoder/image_normalizer.py
  case_studies/spatial_tiling/m2.ipynb
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

let DC2 inherit CachedSimulated Dataset; fix the bugs in CachedSimulated Dataset
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/pre_exp.ipynb
  case_studies/dc2_cataloging/run_great_lake/configs/train_config_great_lake.yaml
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sbatch
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sh
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/train_config_debug.yaml
  case_studies/dc2_cataloging/utils/load_full_cat.py
  poetry.lock
  pyproject.toml
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun4_asinh_lr1en3_always
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer

jun24_asinh_with_clahe
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer

rename CachedSimulatedDataset to CachedSimulatedDataModule
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/pre_exp.ipynb
  case_studies/dc2_cataloging/utils/load_full_cat.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun24_detection2_head
  bliss/encoder/convnet.py
  bliss/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated sample_image_renders to match changes in PR#1007
  bliss/encoder/sample_image_renders.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

rename; ensure seeds are same in different processes
  bliss/cached_dataset.py
  bliss/encoder/encoder.py
  bliss/global_settings.py
  bliss/main.py
  case_studies/dc2_cataloging/train_config_debug.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

delete MyIterableDataset
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/surveys/dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

delete stage test in setup; update some scripts
  bliss/cached_dataset.py
  case_studies/dc2_cataloging/run_great_lake/configs/train_config_great_lake.yaml
  case_studies/dc2_cataloging/run_great_lake/prepare_great_lake.sh
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sbatch
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun24_restore_backbone_depth
  bliss/encoder/convnet.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

refactor setup; fix test
  bliss/cached_dataset.py
  tests/test_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

refactor setup
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor DC2 (#1023)
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/metrics.py
  bliss/global_settings.py
  bliss/main.py
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/bootstrap_testing_full_image.ipynb
  case_studies/dc2_cataloging/flux_err_plot.ipynb
  case_studies/dc2_cataloging/notebook_config.yaml
  case_studies/dc2_cataloging/pre_exp.ipynb
  case_studies/dc2_cataloging/run_great_lake/configs/train_config_great_lake.yaml
  case_studies/dc2_cataloging/run_great_lake/prepare_great_lake.sh
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sbatch
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sh
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/train_config_debug.yaml
  case_studies/dc2_cataloging/utils/load_full_cat.py
  poetry.lock
  pyproject.toml
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update scripts
  bliss/conf/base_config.yaml
  case_studies/dc2_cataloging/exp_record.md
  case_studies/dc2_cataloging/run_great_lake/configs/train_config_great_lake.yaml
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sbatch
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sh
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/train_config_debug.yaml
Due: trailing-whitespace, end-of-file-fixer

split convnet file; removed compile; restored single detection head
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/encoder/convnet.py
  bliss/encoder/encoder.py
  case_studies/dc2_cataloging/notebook_config.yaml
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/galaxy_clustering/encoder/encoder.py
  case_studies/psf_variation/config.yaml
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

jun25_restore_one_head
  bliss/encoder/convnet_layers.py
  bliss/encoder/convnets.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move DC2 lensing maps to notebooks dir
  case_studies/weak_lensing/notebooks/dc2_lensing_maps.ipynb
Due: trailing-whitespace, end-of-file-fixer

update scripts and notebook
  bliss/conf/base_config.yaml
  case_studies/dc2_cataloging/classification_accuracy.ipynb
  case_studies/dc2_cataloging/exp_record.md
  case_studies/dc2_cataloging/run_great_lake/configs/train_config_great_lake.yaml
  case_studies/dc2_cataloging/run_great_lake/directly_run_great_lake/prepare_great_lake.sh
  case_studies/dc2_cataloging/run_great_lake/directly_run_great_lake/run_great_lake.sbatch
  case_studies/dc2_cataloging/run_great_lake/directly_run_great_lake/run_great_lake.sh
  case_studies/dc2_cataloging/run_great_lake/run_great_lake.sh
  case_studies/dc2_cataloging/train_config_debug.yaml
Due: trailing-whitespace, end-of-file-fixer

update scripts
  case_studies/dc2_cataloging/run_great_lake/directly_run_great_lake/run_great_lake.sbatch
  case_studies/dc2_cataloging/run_great_lake/directly_run_great_lake/run_great_lake.sh
Due: trailing-whitespace, end-of-file-fixer

new weights; tests passing now
  tests/data/base_config_trained_encoder.pt
Due: none
