Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

deprecated
  tests/case_studies/galsim_galaxies/test_decoder_ellipticity.py
Due: isort, pylint, flake8, mypy, darglint, black

some more updates in progressive complexifying, now works on full dataset but only bright galaxies (< 23); so next step is to see if it works with dim
  case_studies/galsim_galaxies/notebooks/test-new-detection-encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

added more simple metrics
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

we are using lightning
  bliss/training/train.py
  bliss/training/train_detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

need to retrain later on correct < 27.3 dataset
  case_studies/galsim_galaxies/models/autoencoder.pt
  case_studies/galsim_galaxies/models/autoencoder.pt.log.json
Due: none

more temp models excluded
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

small bug with long /float corrected
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add more strict tests
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

we don't need this test
  tests/case_studies/galsim_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adding new full metrics
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added full detection metric
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

no significnat changes, just documentation and flaking for DEtectionMetrics
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

committing changes to the notebook
  case_studies/weak_lensing/notebooks/generate_power_spectrum.ipynb
  case_studies/weak_lensing/notebooks/sample_ps_vals.txt
Due: trailing-whitespace, end-of-file-fixer

changed lensing prior to get shear/convergence from cosmology
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_prior.py
  data/cached_dataset/hparams.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

make script more complicated; importantly increase resolution of validation so that we can see the U for bright galaxies!
  case_studies/galsim_galaxies/run/test_script_pl.py
Due: isort, pylint, flake8, mypy, darglint, black

v4 training script
  case_studies/galsim_galaxies/run/test_script_pl.py
Due: isort, pylint, flake8, mypy, darglint, black

log is helpful as versions and trainnig script evolve
  case_studies/galsim_galaxies/run/log.md
Due: trailing-whitespace, end-of-file-fixer

fix minor bugs
  case_studies/dc2/DC2_exp.ipynb
  case_studies/dc2/DC2_galaxy_psf_params.ipynb
  case_studies/dc2/config.yaml
  case_studies/dc2/train_dc2.sh
Due: trailing-whitespace, end-of-file-fixer

rename, although we might not use anyway
  bliss/datasets/btk_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

units
  bliss/datasets/lsst.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added galaxies in the padding as should be for realism; also added individual galaxies for additional info for metrics down the line
  bliss/datasets/galsim_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

dataset correction
  bliss/datasets/galsim_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add dc2 script (#956)
  case_studies/dc2/DC2_deconv.ipynb
  case_studies/dc2/DC2_exp.ipynb
  case_studies/dc2/DC2_galaxy_psf_params.ipynb
  case_studies/dc2/config.yaml
  case_studies/dc2/train_dc2.sh
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

small corrections
  bliss/datasets/galsim_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

wasn't sampling positions correctly
  bliss/datasets/galsim_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new dataset logged
  case_studies/galsim_galaxies/run/log.md
Due: trailing-whitespace, end-of-file-fixer

rename legacy
  case_studies/galsim_galaxies/run/00_test_script.py
Due: isort, pylint, flake8, mypy, darglint, black

refactor into simple functions in `training_Functions.py` for training models
  case_studies/galsim_galaxies/run/run_detection_train.py
  case_studies/galsim_galaxies/run/test_script_pl.py
  case_studies/galsim_galaxies/run/training_functions.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new dataset in notebook
  case_studies/galsim_galaxies/notebooks/test-new-detection-encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

new dc2 prior, cleaned sdss priors
  case_studies/redshift_estimation/catalog.py
  case_studies/redshift_estimation/commands.txt
  case_studies/redshift_estimation/get_redshift.py
  case_studies/redshift_estimation/prior.py
  case_studies/redshift_estimation/redshift.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

slight refactoring
  case_studies/galsim_galaxies/run/run_detection_train.py
  case_studies/galsim_galaxies/run/training_functions.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

created notebook for updated prior
  case_studies/weak_lensing/notebooks/updated_prior.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add radially distribition for locations.
  case_studies/galaxy_clustering/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added plots for shear and convergence maps every 10 epochs
  bliss/encoder/encoder.py
  bliss/encoder/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

decreasing batch size to prevent out of memory error
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer

unused packages
  bliss/encoders/ae.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

typo
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Minor fix
  case_studies/galaxy_clustering/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove debug print
  case_studies/galaxy_clustering/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
