Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Move avg ellipticity to utils script (cont.)
  case_studies/weak_lensing/utils/weighted_avg_ellip.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename catalogs and split directories
  case_studies/weak_lensing/generate_dc2_lensing_catalog.py
  case_studies/weak_lensing/generate_dc2_lensing_catalog_objectmatch.py
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog.ipynb
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog_alt.ipynb
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog_objectmatch.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Change avg ellipticity kernel params
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Rerun notebooks with new catalog
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/galaxy_visibility.ipynb
  case_studies/weak_lensing/notebooks/dc2/redshiftbins.ipynb
  case_studies/weak_lensing/notebooks/dc2/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Allow duplicate code in both DC2 lensing catalog generation scripts
  case_studies/weak_lensing/generate_dc2_lensing_catalog_objectmatch.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor image and tile cat splitting to avoid duplicate code in lensing DC2 subclass
  bliss/surveys/dc2.py
  case_studies/weak_lensing/lensing_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Weak lensing DC2 updates (#1067)
  bliss/surveys/dc2.py
  case_studies/weak_lensing/generate_dc2_lensing_catalog.py
  case_studies/weak_lensing/generate_dc2_lensing_catalog_objectmatch.py
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog.ipynb
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog_objectmatch.ipynb
  case_studies/weak_lensing/notebooks/dc2/redshiftbins.ipynb
  case_studies/weak_lensing/notebooks/dc2/twopoint.ipynb
  case_studies/weak_lensing/utils/weighted_avg_ellip.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

can get plot for discrete bins
  bliss/encoder/encoder.py
  bliss/encoder/variational_dist.py
  case_studies/redshift/evaluation/dc2_discrete.ipynb
  case_studies/redshift/evaluation/notebook_discrete_plot.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_from_img/full_train_config_redshift.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add pdf
  case_studies/redshift/evaluation/plot/3_lines_per_blendedness_range_sns_mse_blend_bin.pdf
Due: none

mse pdf
  case_studies/redshift/evaluation/plot/3_lines_per_redshifts_range_sns_max3_mse_redshifts_bin.pdf
Due: none

recovered from merge?
  bliss/catalog.py
  bliss/encoder/encoder.py
  bliss/encoder/metrics.py
  case_studies/spatial_tiling/m2/config.yaml
  case_studies/spatial_tiling/sdss_demo/config.yaml
  case_studies/spatial_tiling/toy_example/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

use multiprocessing for generate
  .pylintrc
  bliss/conf/base_config.yaml
  bliss/main.py
  case_studies/psf_variation/conf/config.yaml
  case_studies/spatial_tiling/m2/config.yaml
  scripts/generate_data_in_parallel.sh
  scripts/prune_decam_ccds_annotated.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add mask patterns
  case_studies/spatial_tiling/plot_mask_patterns.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

pylint
  case_studies/galaxy_clustering/encoder/encoder.py
  case_studies/redshift/preprocess_rs.py
  case_studies/weak_lensing/lensing_convnet.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

flake8
  bliss/simulator/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove simulator
  bliss/conf/base_config.yaml
  bliss/main.py
  bliss/simulator/simulated_dataset.py
  case_studies/galaxy_clustering/conf/config.yaml
  case_studies/galaxy_clustering/notebooks/SingleTileEvaluation.ipynb
  case_studies/multiband/alignment.ipynb
  case_studies/psf_variation/conf/config.yaml
  case_studies/spatial_tiling/sdss_demo/config.yaml
  case_studies/spatial_tiling/toy_example/toy_example.ipynb
  tests/conftest.py
  tests/test_catalogs.py
  tests/test_main.py
  tests/test_simulator.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

forgot to remove line
  bliss/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

wrong path
  case_studies/psf_variation/conf/config.yaml
  case_studies/spatial_tiling/sdss_demo/config.yaml
Due: trailing-whitespace, end-of-file-fixer

simplify prior
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  case_studies/galaxy_clustering/conf/config.yaml
  case_studies/psf_variation/conf/config.yaml
  case_studies/spatial_tiling/m2/config.yaml
  case_studies/spatial_tiling/sdss_demo/config.yaml
  case_studies/spatial_tiling/toy_example/config.yaml
  case_studies/weak_lensing/lensing_prior.py
  tests/data/sdss_preds.pt
  tests/test_catalogs.py
  tests/test_simulator.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

restored double downsample
  bliss/encoder/convnets.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove fixtures; fix test paths
  tests/conftest.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_main.py
  tests/test_metrics.py
  tests/test_sdss.py
  tests/test_simulator.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

revert log10 division change
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tiles_to_crop
  bliss/conf/base_config.yaml
  bliss/main.py
  case_studies/spatial_tiling/m2/config.yaml
  case_studies/spatial_tiling/sdss_demo/config.yaml
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

smaller images
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

new architecture with resnet and resnetx layers as well as prelim changes to support psfasimage with full PSF from limited object table but no tests yet
  bliss/cached_dataset.py
  bliss/encoder/image_normalizer.py
  bliss/surveys/dc2.py
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_convnet.py
  case_studies/weak_lensing/lensing_convnet_layers.py
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new base_config encoder
  bliss/conf/base_config.yaml
  case_studies/spatial_tiling/m2/m2.ipynb
  case_studies/spatial_tiling/sdss_demo/config.yaml
  tests/data/base_config_trained_encoder.pt
Due: trailing-whitespace, end-of-file-fixer

notebooks running again
  case_studies/spatial_tiling/m2/m2.ipynb
  case_studies/spatial_tiling/sdss_demo/sdss_field.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

high-resolution images & a 2d discrete variational factor (#1068)
  .pylintrc
  bliss/cached_dataset.py
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/encoder/convnet_layers.py
  bliss/encoder/convnets.py
  bliss/encoder/encoder.py
  bliss/encoder/variational_dist.py
  bliss/main.py
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  bliss/simulator/simulated_dataset.py
  case_studies/galaxy_clustering/conf/config.yaml
  case_studies/galaxy_clustering/encoder/encoder.py
  case_studies/galaxy_clustering/notebooks/SingleTileEvaluation.ipynb
  case_studies/multiband/alignment.ipynb
  case_studies/psf_variation/conf/config.yaml
  case_studies/redshift/preprocess_rs.py
  case_studies/spatial_tiling/m2/config.yaml
  case_studies/spatial_tiling/m2/m2.ipynb
  case_studies/spatial_tiling/plot_mask_patterns.py
  case_studies/spatial_tiling/sdss_demo/config.yaml
  case_studies/spatial_tiling/sdss_demo/sdss_field.ipynb
  case_studies/spatial_tiling/sdss_demo/sdss_field.py
  case_studies/spatial_tiling/toy_example/config.yaml
  case_studies/spatial_tiling/toy_example/toy_example.ipynb
  case_studies/weak_lensing/lensing_convnet.py
  case_studies/weak_lensing/lensing_prior.py
  scripts/generate_data_in_parallel.sh
  scripts/prune_decam_ccds_annotated.py
  tests/conftest.py
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_main.py
  tests/test_metrics.py
  tests/test_sdss.py
  tests/test_simulator.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

change version number
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

release version 0.4 (#1069)
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

grid search all metrics
  bliss/encoder/variational_dist.py
  case_studies/redshift/evaluation/dc2_discrete.ipynb
  case_studies/redshift/evaluation/dc2_plot.ipynb
  case_studies/redshift/evaluation/notebook_discrete_plot.yaml
  case_studies/redshift/evaluation/notebook_plot.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated to make shear1 and shear2 separate normal factors
  case_studies/weak_lensing/lensing_convnet.py
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_metrics.py
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated lensing config to split up shear_1 and shear_2 as nf
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer

updated network due to OOM
  bliss/conf/base_config.yaml
  bliss/encoder/variational_dist.py
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_convnet.py
  case_studies/weak_lensing/lensing_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

universal fluxes (#1070)
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/encoder/metrics.py
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  bliss/surveys/dc2.py
  bliss/surveys/sdss.py
  case_studies/dc2_cataloging/cataloging_exp.ipynb
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/utils/load_lsst.py
  case_studies/dc2_cataloging/utils/lsst_predictor.py
  case_studies/dc2_cataloging/utils/variational_dist.py
  case_studies/dc2_multidetection/train_config.yaml
  case_studies/galaxy_clustering/data_generation/data_gen.py
  case_studies/psf_variation/conf/config.yaml
  case_studies/psf_variation/evaluate_models.py
  case_studies/redshift/evaluation/dc2_plot.ipynb
  case_studies/redshift/redshift_from_img/full_train_config.yaml
  case_studies/spatial_tiling/m2/config.yaml
  case_studies/spatial_tiling/m2/m2.ipynb
  case_studies/spatial_tiling/sdss_demo/config.yaml
  case_studies/spatial_tiling/sdss_demo/sdss_field.py
  case_studies/spatial_tiling/sdss_demo/toy_example.ipynb
  case_studies/spatial_tiling/toy_example/config.yaml
  tests/data/multiband_data/dataset_0.pt
  tests/data/sdss_preds.pt
  tests/data/test_image/dataset_0.pt
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_main.py
  tests/test_metrics.py
  tests/test_simulator.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
