Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

fix a couple of things related to CUDA
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small bug when adding plocs
  bliss/models/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

very updated aggreate results notebook
  case_studies/sdss_galaxies/aggregate-results.ipynb
Due: trailing-whitespace, end-of-file-fixer

might require clen, still thinking
  bliss/report.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update
  bliss/report.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

put minimal code to create figures here maybe
  case_studies/sdss_galaxies/figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update authors in pyproject file
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

inhertance of old sim.dataset causes memory issue
  case_studies/starnet/scripts/train_sleep.py
  case_studies/starnet/starnet_utils/starnet_sleep_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

random background runs; but has worse tpr
  case_studies/starnet/m2_results-pcat.ipynb
  case_studies/starnet/m2_results.ipynb
  case_studies/starnet/starnet_utils/starnet_sleep_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

reporting combines functions to evalute BLISS
  bliss/metrics.py
  bliss/plotting.py
  bliss/report.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

coadd catalog functions added to reporting.py
  bliss/datasets/sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

plotting functions in reporting
  bliss/generate.py
  bliss/models/binary.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/sleep.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added link to starnet paper
  README.md
Due: trailing-whitespace, end-of-file-fixer

enable doing estimates in border of scenes that might not be exactly chunk slen
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

coadd metrics now takes into account objects close to a given magnitude threshold by using mag_slack; fix various subtle errors related to loading catalog
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small fixes on coadd catalog
  data/coadd_catalog_94_1_12.fits
Due: none

added precision/recall/class acc. as a function of magnitude
  case_studies/sdss_galaxies/aggregate-results.ipynb
Due: trailing-whitespace, end-of-file-fixer

CB color cycle by default
  case_studies/sdss_galaxies/plot_defaults.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix and consolidate tests
  tests/test_galaxy_measurements.py
  tests/test_metrics.py
  tests/test_sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

move out extra_coadd_info for now
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

temp code goes here
  case_studies/sdss_galaxies/figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

dummy tests for reporting
  tests/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

torch metrics did not like update_single
  bliss/reporting.py
  tests/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small changes to notebook
  case_studies/sdss_galaxies/aggregate-results.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add functions to evaluate models on SDSS (#348)
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/sdss.py
  bliss/generate.py
  bliss/metrics.py
  bliss/models/binary.py
  bliss/models/encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/plotting.py
  bliss/predict.py
  bliss/reporting.py
  bliss/sleep.py
  case_studies/sdss_galaxies/aggregate-results.ipynb
  case_studies/sdss_galaxies/figures.py
  case_studies/sdss_galaxies/plot_defaults.py
  case_studies/sdss_galaxies/sparse_field_lib.py
  data/coadd_catalog_94_1_12.fits
  tests/test_galaxy_measurements.py
  tests/test_metrics.py
  tests/test_reporting.py
  tests/test_sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add functions to evaluate models on SDSS (#348)
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/sdss.py
  bliss/generate.py
  bliss/metrics.py
  bliss/models/binary.py
  bliss/models/encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/plotting.py
  bliss/predict.py
  bliss/reporting.py
  bliss/sleep.py
  case_studies/sdss_galaxies/aggregate-results.ipynb
  case_studies/sdss_galaxies/figures.py
  case_studies/sdss_galaxies/plot_defaults.py
  case_studies/sdss_galaxies/sparse_field_lib.py
  tests/test_galaxy_measurements.py
  tests/test_metrics.py
  tests/test_reporting.py
  tests/test_sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

avoid repeated code
  bliss/models/binary.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/optimizer.py
  bliss/sleep.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

avoid repeated code (#354)
  bliss/models/binary.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/optimizer.py
  bliss/sleep.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

random poisson prior
  case_studies/starnet/starnet_utils/starnet_sleep_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

a year should be enough :)
  .github/workflows/stale.yml
Due: trailing-whitespace, end-of-file-fixer

a year should be enough :) (#357)
  .github/workflows/stale.yml
Due: trailing-whitespace, end-of-file-fixer

ImageDecoder doesn't need to be a lightning module
  bliss/models/decoder.py
  docs/_modules/bliss/models/decoder.html
  docs/_modules/bliss/models/encoder.html
  docs/_modules/bliss/models/galaxy_net.html
  docs/_modules/bliss/sleep.html
  docs/_modules/index.html
  docs/api/bliss.datasets.html
  docs/api/bliss.html
  docs/api/bliss.models.html
  docs/api/index.html
  docs/genindex.html
  docs/objects.inv
  docs/py-modindex.html
  docs/searchindex.js
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Create ImagePrior class and separate out methods (copying init is temporary)
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  docs/_modules/bliss/datasets/simulated.html
  docs/_modules/bliss/models/decoder.html
  docs/api/bliss.models.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Actually they do need to be LightningModules...
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  docs/_modules/bliss/datasets/simulated.html
  docs/_modules/bliss/models/decoder.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove unneeded attributes from ImageDecoder
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/predict.py
  bliss/sleep.py
  docs/_modules/bliss/models/decoder.html
  docs/_modules/bliss/sleep.html
  tests/test_configs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

split up config for prior and decoder
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/sleep.py
  config/dataset/binary.yaml
  config/dataset/cpu.yaml
  config/dataset/default.yaml
  config/dataset/m2.yaml
  config/dataset/single_tile.yaml
  config/dataset/test_plotting.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/prior/1galaxy_1star.yaml
  config/model/prior/1tile.yaml
  config/model/prior/galaxy_basic.yaml
  config/model/prior/m2.yaml
  config/model/prior/sdss_standard.yaml
  config/model/prior/star_basic.yaml
  config/model/sleep_1galaxy_1star.yaml
  config/model/sleep_galaxy_basic.yaml
  config/model/sleep_m2.yaml
  config/model/sleep_sdss_detection.yaml
  config/model/sleep_star_basic.yaml
  config/model/sleep_star_one_tile.yaml
  docs/_modules/bliss/datasets/simulated.html
  docs/_modules/bliss/models/decoder.html
  docs/_modules/bliss/sleep.html
  docs/api/bliss.html
  docs/api/bliss.models.html
  docs/searchindex.js
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
