Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Update cluster_prior.py
  case_studies/galaxy_clustering/cluster_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update README.md
  case_studies/galaxy_clustering/README.md
Due: trailing-whitespace, end-of-file-fixer

Galaxy angle of zero, tight uniform prior on shear
  case_studies/weak_lensing/generate_images.ipynb
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update prior_cluster.py
  bliss/simulator/prior_cluster.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Create lensing subclasses of VariationalDist and VariationalDistSpec
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

overhaul metrics (#951)
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/metrics.py
  bliss/encoder/variational_dist.py
  bliss/utils/flux_units.py
  case_studies/adaptive_tiling/region_encoder.py
  case_studies/dependent_tiling/m2.ipynb
  case_studies/dependent_tiling/m2_config.yaml
  case_studies/psf_variation/config.yaml
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

don't need priors naymore, will come from btk
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

simplify figure class and propagate
  bliss/plotting.py
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

small adjustments for new psf decoder
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update variational distribution subclasses and create example notebook with simple training loop for shear and convergence
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_simulated_dataset.py
  case_studies/weak_lensing/lensing_variational_dist.py
  case_studies/weak_lensing/variational_dists.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

* decoder adapted to new psf decoder * Decoder will not be used for dataset, only for training and decoding latents
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add btk
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Add initial prior file for case study containing GalaxyClusterPrior class that inherits from CatalogPrior.
  case_studies/galaxy_clustering/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename notebook
  case_studies/weak_lensing/simple_training_loop.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add a couple metrics to training loop notebook
  case_studies/weak_lensing/simple_training_loop.ipynb
Due: trailing-whitespace, end-of-file-fixer

a few additional parameters from the survey
  bliss/datasets/lsst.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove prior
  bliss/models/galsim_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

single galaxies with BTK and CATSIM
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

example notebook for btk
  case_studies/galsim_galaxies/notebooks/btk-sample.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update sample_shear and sample_convergence so they're easier to modify
  case_studies/weak_lensing/lensing_prior.py
  case_studies/weak_lensing/lensing_variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move all notebooks to a subdirectory
  case_studies/weak_lensing/notebooks/example.ipynb
  case_studies/weak_lensing/notebooks/galsim_practice.ipynb
  case_studies/weak_lensing/notebooks/generate_images.ipynb
  case_studies/weak_lensing/notebooks/simple_training_loop.ipynb
Due: trailing-whitespace, end-of-file-fixer

Remove dependence on prior_cluster.py and m2_config. Add inheritance class GalaxyClusterPrior. Support gaussian galaxy shape and identical r-band cluster.
  bliss/simulator/prior_cluster.py
  case_studies/galaxy_clustering/cluster_prior.py
  case_studies/galaxy_clustering/config.yaml
  case_studies/galaxy_clustering/m2_config.yaml
  case_studies/galaxy_clustering/prior.py
  case_studies/galaxy_clustering/prior_cluster.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix path in generate_images.ipynb
  case_studies/weak_lensing/notebooks/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add visulization for cluster. Bound the locs.
  case_studies/galaxy_clustering/prior.py
  case_studies/galaxy_clustering/prior_cluster.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Minor modification. Bound the locs of cluster.
  case_studies/galaxy_clustering/prior.py
  case_studies/galaxy_clustering/prior_cluster.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

star flux data from DC2
  data/stars_med_june2018.fits
Due: none

moving_star.ipynb producing all figures needed (?)
  bliss/encoder/unconstrained_dists.py
  case_studies/dependent_tiling/m2.ipynb
  case_studies/dependent_tiling/m2_config.yaml
  case_studies/dependent_tiling/moving_star.ipynb
  case_studies/dependent_tiling/multiple_sources.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

improving m2 case study
  case_studies/dependent_tiling/m2.ipynb
  case_studies/dependent_tiling/moving_star.ipynb
  case_studies/dependent_tiling/multiple_sources.ipynb
Due: trailing-whitespace, end-of-file-fixer

distribution_try
  case_studies/Distribution_tes.ipynb
Due: trailing-whitespace, end-of-file-fixer

2nd
  case_studies/Distribution_tes.ipynb
Due: trailing-whitespace, end-of-file-fixer

finished prior, added files
  case_studies/weak_lensing/README.md
  case_studies/weak_lensing/lensing_metrics.py
  case_studies/weak_lensing/lensing_prior.py
  case_studies/weak_lensing/notebooks/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added link
  case_studies/weak_lensing/README.md
Due: trailing-whitespace, end-of-file-fixer

updated readme
  case_studies/weak_lensing/README.md
Due: trailing-whitespace, end-of-file-fixer

commend not working
  case_studies/Distribution_tes.ipynb
  case_studies/redshift_estimation/large_scale_example.ipynb
  scripts/.generate_data_in_parallel.sh.swp
Due: trailing-whitespace, end-of-file-fixer

Allow galaxy angle to differ, allow shear to be in (-0.1, 0.1), update generate_images notebook
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_prior.py
  case_studies/weak_lensing/notebooks/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Minor changes to config
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Add more points for bilinear interpolation in shear, convergence map priors
  case_studies/weak_lensing/lensing_prior.py
  case_studies/weak_lensing/notebooks/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
