Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

small error
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

mypy
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

mypy
  bliss/models/galsim_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

actually normalize
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

better to keep consistent
  bliss/models/decoder.py
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

retrained models
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
Due: none

fix autoencoder results using PSFDecoder
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots/autoencoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

mags added back account for stars
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correction after encoder got extended with lensing
  case_studies/sdss_galaxies/plots/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new results after rerunning
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

fix scary errors
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/plots/sdss_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

avoid extra attribute which overwrites original attribute
  bliss/datasets/galsim_galaxies.py
  bliss/models/galsim_decoder.py
  case_studies/psf_homogenization/galsim_galaxies_homo.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

rerun
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: none

add message when using forward_psf_from_params incorrectly
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix test lensing and others
  bliss/models/galsim_decoder.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

forgot one change
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

align images to prevent doulbe predictions in adjacent tiles
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
Due: trailing-whitespace, end-of-file-fixer

last modification
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/sdss_recon1.png
Due: trailing-whitespace, end-of-file-fixer

refactor PSF Decoder (#685)
  bliss/datasets/galsim_galaxies.py
  bliss/models/decoder.py
  bliss/models/galsim_decoder.py
  bliss/models/psf_decoder.py
  case_studies/psf_homogenization/galsim_galaxies_homo.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/plots/autoencoder.py
  case_studies/sdss_galaxies/plots/main.py
  case_studies/sdss_galaxies/plots/sdss_reconstruction.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor apply_mag_bin and turn to apply_param_bin
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

latest notebook
  case_studies/coadds/notebooks/test_model.ipynb
Due: trailing-whitespace, end-of-file-fixer

plots with results
  case_studies/coadds/notebooks/test_model.ipynb
Due: trailing-whitespace, end-of-file-fixer

small error in metrics
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor
  case_studies/coadds/align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor and fix test
  case_studies/coadds/align_single_exposures.py
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

allow for general apply_mag_bin with multiple batches
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

more validation, fix lr
  case_studies/coadds/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

notebook for running models
  case_studies/coadds/notebooks/test_model.ipynb
Due: trailing-whitespace, end-of-file-fixer

fix
  case_studies/coadds/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

commit notebook
  case_studies/coadds/notebooks/test_model.ipynb
Due: trailing-whitespace, end-of-file-fixer

simplify
  case_studies/coadds/coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

train all datasets
  case_studies/coadds/train.sh
Due: trailing-whitespace, end-of-file-fixer

type hint does the job
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small bug
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

create
  case_studies/coadds/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor apply_param_bin
  bliss/reporting.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

typing
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

executable
  case_studies/coadds/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add models and notebook
  case_studies/coadds/config/config.yaml
  case_studies/coadds/main.py
  case_studies/coadds/models/coadd_encoder_25.pt
  case_studies/coadds/models/coadd_encoder_50.pt
  case_studies/coadds/notebooks/coadd_dataset.ipynb
  case_studies/coadds/notebooks/test_model3.ipynb
  case_studies/coadds/train.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
