Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Test DES predict (without plotting SDSS/DECaLS "true" catalogs) (#900)
  bliss/predict.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  data/des/336/3366m010/tractor-3366m010.fits
  tests/test_predict.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add corner loss
  bliss/catalog.py
  bliss/encoder.py
  tests/test_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

custom log transforms
  bliss/conf/base_config.yaml
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix nan gradients during training
  bliss/catalog.py
  bliss/encoder.py
  bliss/unconstrained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

removing bool
  bliss/conf/base_config.yaml
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

error fix
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move region catalog and encoder to case study
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/train.py
  case_studies/prob_tile_suppression/region_catalog.py
  case_studies/prob_tile_suppression/region_encoder.py
  tests/test_catalogs.py
  tests/test_encoder.py
  tests/test_unconstained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

unalign-realign
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

switch dc2 to multiband coadded
  .gitignore
  bliss/conf/base_config.yaml
  bliss/surveys/dc2.py
  data/dc2/merged_catalog/merged_catalog_100000.pkl
  data/tests/dc2/dc2_multiband/g/3828/0,0/bkgd-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/g/3828/0,0/calexp-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/g/3828/0,0/det-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/bkgd-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/calexp-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/det-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/bkgd-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/calexp-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/det-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/bkgd-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/calexp-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/det-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/bkgd-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/calexp-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/det-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/bkgd-z-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/calexp-z-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/det-z-3828-0,0.fits
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

switch dc2 to multiband coadded
  bliss/conf/base_config.yaml
  bliss/surveys/dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

switch dc2 to multiband coadded (#903)
  .gitignore
  bliss/conf/base_config.yaml
  bliss/surveys/dc2.py
  data/tests/dc2/dc2_multiband/g/3828/0,0/bkgd-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/g/3828/0,0/calexp-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/g/3828/0,0/det-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/bkgd-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/calexp-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/det-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/bkgd-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/calexp-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/det-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/bkgd-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/calexp-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/det-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/bkgd-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/calexp-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/det-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/bkgd-z-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/calexp-z-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/det-z-3828-0,0.fits
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

switch dc2 to multiband coadded (#903)
  .gitignore
  bliss/conf/base_config.yaml
  bliss/surveys/dc2.py
  data/dc2/merged_catalog/merged_catalog_100000.pkl
  data/tests/dc2/dc2_multiband/g/3828/0,0/bkgd-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/g/3828/0,0/calexp-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/g/3828/0,0/det-g-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/bkgd-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/calexp-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/i/3828/0,0/det-i-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/bkgd-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/calexp-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/r/3828/0,0/det-r-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/bkgd-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/calexp-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/u/3828/0,0/det-u-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/bkgd-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/calexp-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/y/3828/0,0/det-y-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/bkgd-z-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/calexp-z-3828-0,0.fits
  data/tests/dc2/dc2_multiband/z/3828/0,0/det-z-3828-0,0.fits
  tests/test_dc2.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

indexing fix + config update for perturbation
  bliss/conf/base_config.yaml
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Region-based encoder (loss + mode) (#895)
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/train.py
  bliss/unconstrained_dists.py
  case_studies/prob_tile_suppression/region_catalog.py
  case_studies/prob_tile_suppression/region_encoder.py
  tests/test_catalogs.py
  tests/test_encoder.py
  tests/test_unconstained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix bug with tile to region catalog conversion
  case_studies/prob_tile_suppression/region_catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

check val every 1 epoch
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

log every 10 steps, not 1
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Check validation every 1 epoch (#906)
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

fix to unalign-align code
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/des.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

des pixel_shift arg
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Realign imgs (#902)
  bliss/conf/base_config.yaml
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

unusued notebooks
  case_studies/galsim_galaxies/notebooks/full-galsim-decoder.ipynb
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
Due: trailing-whitespace, end-of-file-fixer

will not use docker file
  Dockerfile
Due: trailing-whitespace, end-of-file-fixer

no need for docks
  docs/.gitignore
  docs/README.md
  docs/docsrc/Installation.rst
  docs/docsrc/Makefile
  docs/docsrc/api/bliss.datasets.rst
  docs/docsrc/api/bliss.models.rst
  docs/docsrc/api/bliss.rst
  docs/docsrc/api/index.rst
  docs/docsrc/conf.py
  docs/docsrc/index.rst
  docs/docsrc/make.bat
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update license
  LICENSE.md
Due: trailing-whitespace, end-of-file-fixer

disable documentation and other tests that wont' matter for this branch
  .darglint
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
Due: trailing-whitespace, end-of-file-fixer

remove packages that we don't need anymore
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

disabled m2 so no need for data
  data/true_hubble_m2.npz
Due: none

one more useless dependency
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
