Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Rename some encoder arguments
  case_studies/weak_lensing/convnet.py
  case_studies/weak_lensing/dc2/config_dc2.yaml
  case_studies/weak_lensing/dc2/config_dc2_gl.yaml
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
  case_studies/weak_lensing/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

ruff formatting fixes
  ablation.txt
  case_studies/weak_lensing/dc2/notebooks/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/galaxyproperties.ipynb
  case_studies/weak_lensing/dc2/notebooks/generate_catalog.ipynb
  case_studies/weak_lensing/dc2/notebooks/posteriormeanmaps.ipynb
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
Due: trailing-whitespace, end-of-file-fixer

more ruff formatting fixes
  case_studies/weak_lensing/dc2/notebooks/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/galaxyproperties.ipynb
  case_studies/weak_lensing/dc2/notebooks/generate_catalog.ipynb
  case_studies/weak_lensing/dc2/notebooks/posteriormeanmaps.ipynb
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
Due: trailing-whitespace, end-of-file-fixer

Weak lensing: DC2 updates (#1101)
  .gitignore
  README.md
  ablation.txt
  bliss/surveys/dc2.py
  case_studies/weak_lensing/README.md
  case_studies/weak_lensing/convnet.py
  case_studies/weak_lensing/dc2/config_dc2.yaml
  case_studies/weak_lensing/dc2/config_dc2_gl.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin1.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin1_flowmatching.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin3.yaml
  case_studies/weak_lensing/dc2/config_dc2_redbin3_gl.yaml
  case_studies/weak_lensing/dc2/dc2.py
  case_studies/weak_lensing/dc2/generate_catalog.py
  case_studies/weak_lensing/dc2/generate_catalog_objectmatch.py
  case_studies/weak_lensing/dc2/notebooks/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/galaxyproperties.ipynb
  case_studies/weak_lensing/dc2/notebooks/generate_catalog.ipynb
  case_studies/weak_lensing/dc2/notebooks/generate_lensing_catalog_objectmatch.ipynb
  case_studies/weak_lensing/dc2/notebooks/posteriormeanmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin1/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin1/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin1/posteriormeanmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin1/twopoint.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin3/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin3/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin3/flowmatching.ipynb
  case_studies/weak_lensing/dc2/notebooks/redbin3/posteriormeanmaps.ipynb
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
  case_studies/weak_lensing/encoder.py
  case_studies/weak_lensing/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove unnecessary txt file
  ablation.txt
Due: trailing-whitespace, end-of-file-fixer

Remove unnecessary file (#1102)
  ablation.txt
Due: trailing-whitespace, end-of-file-fixer

Refactor case_studies/weak_lensing
  .gitignore
  case_studies/weak_lensing/convnet.py
  case_studies/weak_lensing/dc2/cached_dataset.py
  case_studies/weak_lensing/dc2/config_dc2.yaml
  case_studies/weak_lensing/dc2/config_dc2_gl.yaml
  case_studies/weak_lensing/dc2/dc2.py
  case_studies/weak_lensing/dc2/utils.py
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
  case_studies/weak_lensing/encoder.py
  case_studies/weak_lensing/image_normalizer.py
  case_studies/weak_lensing/metrics.py
  case_studies/weak_lensing/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix refactor bug and move wl/cached_dataset
  case_studies/weak_lensing/cached_dataset.py
  case_studies/weak_lensing/dc2/dc2.py
  case_studies/weak_lensing/descwl/config_descwl.yaml
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
  case_studies/weak_lensing/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update dc2 config
  case_studies/weak_lensing/dc2/config_dc2.yaml
Due: trailing-whitespace, end-of-file-fixer

Allow count splits instead of percent splits
  case_studies/weak_lensing/cached_dataset.py
  case_studies/weak_lensing/dc2/config_dc2.yaml
  case_studies/weak_lensing/dc2/dc2.py
  case_studies/weak_lensing/descwl/config_descwl.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove deprecated files for generating encoder input
  case_studies/weak_lensing/descwl/encoder_input_config.yaml
  case_studies/weak_lensing/descwl/generate_encoder_input.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Script for running AnaCal
  case_studies/weak_lensing/descwl/run_anacal.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update anacal script
  case_studies/weak_lensing/descwl/config_anacal.yaml
  case_studies/weak_lensing/descwl/run_anacal.py
  pyproject.toml
  uv.lock
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

ensure color blind friendly figures (#105)
  bliss/plotting.py
  experiment/figures/52/binary_curves.png
  experiment/figures/52/samples_bld_res.png
  experiment/figures/52/samples_snr_res.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Ignore anacal psf/mask/etc during NPE training
  case_studies/weak_lensing/data_augmentation.py
  case_studies/weak_lensing/descwl/config_descwl.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update config
  case_studies/weak_lensing/descwl/config_descwl_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Move some descwl notebooks to deprecated folder
  case_studies/weak_lensing/descwl/notebooks/deprecated/anacal.ipynb
  case_studies/weak_lensing/descwl/notebooks/deprecated/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Deprecated scripts
  case_studies/weak_lensing/bliss_simulator/deprecated_scripts/angular_cl.npy
  case_studies/weak_lensing/bliss_simulator/deprecated_scripts/decoder.py
  case_studies/weak_lensing/bliss_simulator/deprecated_scripts/generate_angular_cl.py
  case_studies/weak_lensing/bliss_simulator/deprecated_scripts/prior.py
Due: isort, pylint, flake8, mypy, darglint, black

Rename and reorganize descwl
  case_studies/weak_lensing/descwl/config_run_anacal.yaml
  case_studies/weak_lensing/descwl/config_train_npe.yaml
  case_studies/weak_lensing/descwl/config_train_npe_gl.yaml
  case_studies/weak_lensing/descwl/deprecated/anacal.ipynb
  case_studies/weak_lensing/descwl/deprecated/generate_images.ipynb
  case_studies/weak_lensing/descwl/notebooks/credibleinterval_config.yaml
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.ipynb
  case_studies/weak_lensing/descwl/notebooks/credibleintervals.py
  case_studies/weak_lensing/descwl/results/compute_npe_credibleintervals.py
  case_studies/weak_lensing/descwl/results/credibleintervals.ipynb
  case_studies/weak_lensing/descwl/results/images.ipynb
  case_studies/weak_lensing/descwl/results/npe_credibleintervals_config.yaml
  case_studies/weak_lensing/descwl/results/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename and reorganize DC2
  case_studies/weak_lensing/dc2/config_train_npe.yaml
  case_studies/weak_lensing/dc2/config_train_npe_gl.yaml
  case_studies/weak_lensing/dc2/exploratory/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/exploratory/ellipticity.ipynb
  case_studies/weak_lensing/dc2/exploratory/galaxyproperties.ipynb
  case_studies/weak_lensing/dc2/exploratory/generate_catalog.ipynb
  case_studies/weak_lensing/dc2/exploratory/redshiftbins.ipynb
  case_studies/weak_lensing/dc2/exploratory/twopoint.ipynb
  case_studies/weak_lensing/dc2/results/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/results/posteriormeanmaps.ipynb
Due: trailing-whitespace, end-of-file-fixer

Rename descwl images notebook
  case_studies/weak_lensing/descwl/exploratory/images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Rename config
  case_studies/weak_lensing/descwl/results/config_compute_npe_credibleintervals.yaml
Due: trailing-whitespace, end-of-file-fixer

Update config paths
  case_studies/weak_lensing/README.md
  case_studies/weak_lensing/dc2/exploratory/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/results/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/results/posteriormeanmaps.ipynb
  case_studies/weak_lensing/descwl/exploratory/images.ipynb
  case_studies/weak_lensing/descwl/results/compute_npe_credibleintervals.py
  case_studies/weak_lensing/descwl/results/credibleintervals.ipynb
  case_studies/weak_lensing/descwl/results/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move descwl ckpt
  case_studies/weak_lensing/descwl/results/config_compute_npe_credibleintervals.yaml
  case_studies/weak_lensing/descwl/results/credibleintervals.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update descwl NPE credible intervals script
  case_studies/weak_lensing/descwl/results/compute_npe_credibleintervals.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Speed up AnaCal and run on same test set as NPE
  case_studies/weak_lensing/descwl/config_run_anacal.yaml
  case_studies/weak_lensing/descwl/run_anacal.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Get rid of as_completed in AnaCal multiprocessing
  case_studies/weak_lensing/descwl/run_anacal.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update descwl credible intervals notebook
  case_studies/weak_lensing/descwl/results/credibleintervals.ipynb
Due: trailing-whitespace, end-of-file-fixer

Fix and run all DC2 notebooks
  case_studies/weak_lensing/dc2/exploratory/dc2imageandmaps.ipynb
  case_studies/weak_lensing/dc2/exploratory/ellipticity.ipynb
  case_studies/weak_lensing/dc2/exploratory/galaxyproperties.ipynb
  case_studies/weak_lensing/dc2/exploratory/redshiftbins.ipynb
  case_studies/weak_lensing/dc2/exploratory/twopoint.ipynb
  case_studies/weak_lensing/dc2/results/credibleintervals.ipynb
  case_studies/weak_lensing/dc2/results/posteriormeanmaps.ipynb
  pyproject.toml
  uv.lock
Due: trailing-whitespace, end-of-file-fixer

Update descwl scatterplots
  case_studies/weak_lensing/descwl/results/scatterplots.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update README
  case_studies/weak_lensing/README.md
Due: trailing-whitespace, end-of-file-fixer

update readme and some dependencies
  README.md
  bliss/surveys/des.py
  uv.lock
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
