Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Update weak lensing README
  case_studies/weak_lensing/README.md
Due: trailing-whitespace, end-of-file-fixer

Weak lensing updates (#1074)
  bliss/catalog.py
  case_studies/weak_lensing/README.md
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/lensing_convnet_layers.py
  case_studies/weak_lensing/lensing_decoder.py
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_metrics.py
  case_studies/weak_lensing/lensing_plots.py
  case_studies/weak_lensing/lensing_prior.py
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Tune avg ellip estimator in ellipticity notebook
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
Due: none

Add plot to ellipticity notebook
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
Due: none

Fix bug when computing MSEs in ellipticity notebook
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
Due: trailing-whitespace, end-of-file-fixer

Minor update to README
  case_studies/weak_lensing/README.md
Due: trailing-whitespace, end-of-file-fixer

Add weighed avg ellipticity estimator as an additional baseline
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Notebook to demonstrate shear transformation under rotation
  case_studies/weak_lensing/notebooks/weak_lensing_sims/data_augmentation.ipynb
Due: trailing-whitespace, end-of-file-fixer

Sort files from cached_data_path when loading them in
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add ra/dec to catalog
  case_studies/weak_lensing/lensing_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updates for batch size 2
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated yaml
  case_studies/weak_lensing/lensing_config_dc2.yaml
Due: trailing-whitespace, end-of-file-fixer

Consistent ordering of cached data files between deeplearning and Great Lakes (#1075)
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Close figures in lensing_plots.py
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rerun encoder eval notebook after recent training run
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add 2PCFs to encoder eval notebook (work in progress)
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Set seed in encoder eval notebook
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Randomly shuffle cached data files when loading them in
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Randomly shuffle cached data files when loading them in (#1076)
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add flips to data augmentation notebook
  case_studies/weak_lensing/notebooks/weak_lensing_sims/data_augmentation.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add module for psf extraction. Initial commit. We use this for an initial run on 1000 tiles.
  case_studies/galaxy_clustering/psfextraction/psfextract.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

lensing rotate and flip
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_data_augmentation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix pred_convergence shape in lensing metrics
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Allow train_transforms to be an argument in LensingDC2DataModule
  case_studies/weak_lensing/lensing_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Galsim with .psf files.
  case_studies/galaxy_clustering/conf/config.yaml
  case_studies/galaxy_clustering/data_generation/data_gen.py
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Separate PSF inputs for each band.
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
Due: trailing-whitespace, end-of-file-fixer

Restructuring and coping stuff.
  case_studies/galaxy_clustering/notebooks/scratch.ipynb
Due: trailing-whitespace, end-of-file-fixer

Minor notebook fix.
  case_studies/galaxy_clustering/notebooks/scratch.ipynb
Due: trailing-whitespace, end-of-file-fixer

Updated config.
  case_studies/galaxy_clustering/conf/config.yaml
Due: trailing-whitespace, end-of-file-fixer

Add PSFEx notebook with instructions.
  case_studies/galaxy_clustering/notebooks/DESPSFEx.ipynb
Due: trailing-whitespace, end-of-file-fixer

Upload psfextraction directory with required configuration files per DES image processing pipeline, and a test catalog and psf.
  case_studies/galaxy_clustering/psfextraction/config.param
  case_studies/galaxy_clustering/psfextraction/config.sex
  case_studies/galaxy_clustering/psfextraction/default.psfex
  case_studies/galaxy_clustering/psfextraction/test.psf
Due: trailing-whitespace, end-of-file-fixer

Reupload DESPSFEx NOTEBOOK.
  case_studies/galaxy_clustering/notebooks/DESPSFEx.ipynb
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
