Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

make output dir if it does not exist
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

More specific error message
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use FileNotFoundError
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Automatically create output directory if it doesn't already exist (#369)
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add wemake to readme
  README.md
Due: trailing-whitespace, end-of-file-fixer

remove notebooks
  case_studies/sdss_galaxies/Galaxy Flow.ipynb
  case_studies/sdss_galaxies/Galaxy VAE.ipynb
Due: trailing-whitespace, end-of-file-fixer

rename galaxy_param_mean -> galaxy_param
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

renamed u_main, u_residual -> latent_main, latent_residual
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

dont use noiseless when sampling aggregate posterior
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

just delete the generate_latents method
  bliss/models/galaxy_net.py
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

rename p_ to pq_
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix pylint
  bliss/models/galaxy_net.py
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

pixel scale as a CONSTANT, add figures of scatter bins in single galaxy measurements
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

notebook updates with new figures
  case_studies/sdss_galaxies/aggregate-results.ipynb
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

seaborn needs to be handled separately for setting rc params
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

more plotting functionality
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Bryan figure will go into exploratory
  case_studies/sdss_galaxies/aggregate-results-bl.ipynb
Due: trailing-whitespace, end-of-file-fixer

no more figures all in main
  case_studies/sdss_galaxies/figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

first draft of main.py to produce all figures in case_studies
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

no more plot defaults
  case_studies/sdss_galaxies/plot_defaults.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

this was an exploratory notebook
  case_studies/sdss_galaxies/sdss_galaxy_catalog.ipynb
Due: trailing-whitespace, end-of-file-fixer

experiment for how to produce 10000 sdss galaxies
  config/experiment/sdss_individual_galaxies.yaml
  config/generate/sdss_galaxies.yaml
Due: trailing-whitespace, end-of-file-fixer

small bug
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added figures related to autoencoder performance, also a parser for ease of use and to avoid overloading GPU
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correct bugs, figures are produced and look good
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

no more aggregate results
  case_studies/sdss_galaxies/aggregate-results.ipynb
Due: trailing-whitespace, end-of-file-fixer

add simulated galaxies to git lfs
  .gitattributes
Due: trailing-whitespace, end-of-file-fixer

file with all individual simulated galaxy images
  data/simulated_sdss_individual_galaxies.pt
Due: none

will discard this notebook soon
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
Due: trailing-whitespace, end-of-file-fixer

remove conflict
  .gitattributes
Due: trailing-whitespace, end-of-file-fixer

fix some bugs
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small adjustments to plotting to make it clearer
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

all plots of this notebook are reproducible in sdss_galaxies/main.py
  case_studies/sdss_galaxies/autoencoder-figures.ipynb
Due: trailing-whitespace, end-of-file-fixer

quick clarification note
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

plots working now adjust labels, etc.
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

reconstruction figures ready
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

attempt to create parents
  case_studies/sdss_galaxies/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

all notebooks gone
  case_studies/sdss_galaxies/reconstruction_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
