Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Jl/redshiftrail (#1083)
  .pylintrc
  case_studies/redshift/artifacts/data_generation.py
  case_studies/redshift/artifacts/flexzboost_data_generation.py
  case_studies/redshift/old/redshift_from_predicted_mag/DC2_mag_predict.ipynb
  case_studies/redshift/old/redshift_from_predicted_mag/photozFromGT_Bliss.ipynb
  case_studies/redshift/old/train_rs_light.py
  case_studies/redshift/redshift_flexzboost.yaml
  case_studies/redshift/redshift_flexzboost/flexzboost_fast.py
  case_studies/redshift/redshift_flexzboost/test_rail.py
  case_studies/redshift/redshift_flexzboost/train_rail.py
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

some work on intermediate logging. I added code to plots and evalutation scripts to examine top k and every 5 epochs
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/evaluate_discrete.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

multiple test train splits
  case_studies/redshift/artifacts/flexzboost_data_generation.py
  case_studies/redshift/redshift_flexzboost/test_rail.py
  case_studies/redshift/redshift_flexzboost/train_rail.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

code for running sklearn as training method and for plotting
  case_studies/redshift/redshift_flexzboost/plot_rail.py
  case_studies/redshift/redshift_flexzboost/using_sklearn.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move old notebooks to subdirectories
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/encoder_evaluation.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/example.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/predictions.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/training_loop.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/cosmology_prior.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/generate_images.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/generate_power_spectrum.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/potential_priors.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/updated_prior.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/wl_galaxy_shape_derivation.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add legend to figure 7
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: none

some work on different redshift bins
  bliss/conf/base_config.yaml
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_from_img/encoder/metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

loading different splits is working, continuous
  case_studies/redshift/artifacts/redshift_dc2.py
  case_studies/redshift/redshift_continuous.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

loading a particular split working discrete
  case_studies/redshift/redshift_discrete.yaml
Due: trailing-whitespace, end-of-file-fixer

removed intermediate logging; now want to set it up to run both redshift and magnitude bins
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

I believe I added both sets of metrics, binning by either redshift or magnitude
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_from_img/encoder/metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

believe I added metrics for discrete as well
  case_studies/redshift/redshift_discrete.yaml
Due: trailing-whitespace, end-of-file-fixer

believe we changed the encoder back to computing metrics properly
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adjusted stuff to log with timestamp and register what split is being used. working with continuous
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

both versions working with new split parameter and timestamps
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trying out a joint discrete/cts job on first split; slower b/c both on same gpu
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

bspline is working; we're only predicting the mode
  bliss/main.py
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/splinex/bspline.py
  case_studies/redshift/splinex/test.py
  case_studies/redshift/splinex/utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trying out a full bspline run, wsa training in debug, going to see if make it through a validation epoch
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

this was running; but a poor start. End of epoch 1 MSE appeared to be 1.66, so average error is 1.28 or so
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add shuffle_file_order flag for loading in cached files
  bliss/cached_dataset.py
  bliss/surveys/dc2.py
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Preliminary version of figure 8 notebook (2PCFs)
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure8.ipynb
Due: none

changed metrics back
  case_studies/redshift/redshift_continuous.yaml
Due: trailing-whitespace, end-of-file-fixer

changed all metrics back to bspline; if still not working, must be implementation of bspline
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

we were taking mean inside log prob, didn't allow gating to be applied. Should be better now.
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rerun notebooks with new encoder weights
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure8.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: trailing-whitespace, end-of-file-fixer

regular update
  case_studies/dc2_cataloging/craft_ci.ipynb
  case_studies/dc2_cataloging/exp_record.md
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_mdt/exp_record.md
  case_studies/dc2_mdt/mdt_config/mdt_notebook_config.yaml
  case_studies/dc2_mdt/mdt_config/mdt_train_config.yaml
  case_studies/dc2_mdt/mdt_config/mdt_train_config_debug.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_train_config.yaml
  case_studies/dc2_mdt/run_dc2_mdt.sh
  case_studies/dc2_mdt/test_diffusion_steps.ipynb
  case_studies/dc2_mdt/test_model.ipynb
  case_studies/dc2_mdt/utils/catalog_parser.py
  case_studies/dc2_mdt/utils/convnet_layers.py
  case_studies/dc2_mdt/utils/diffusion_utils.py
  case_studies/dc2_mdt/utils/encoder.py
  case_studies/dc2_mdt/utils/gaussian_diffusion.py
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/metrics.py
  case_studies/dc2_mdt/utils/resample.py
  case_studies/dc2_mdt/utils/respace.py
  case_studies/dc2_mdt/utils/simple_net.py
  case_studies/dc2_new_diffusion/catalog_masking_illustr.ipynb
  case_studies/dc2_new_diffusion/craft_ci.ipynb
  case_studies/dc2_new_diffusion/exp_record.md
  case_studies/dc2_new_diffusion/run_dc2_new_diffusion.sh
  case_studies/dc2_new_diffusion/simple_net_diffusion_config/simple_net_diffusion_notebook_config.yaml
  case_studies/dc2_new_diffusion/simple_net_diffusion_config/simple_net_diffusion_train_config.yaml
  case_studies/dc2_new_diffusion/simple_net_diffusion_config/simple_net_diffusion_train_config_debug.yaml
  case_studies/dc2_new_diffusion/test_diffusion_steps.ipynb
  case_studies/dc2_new_diffusion/test_speed.ipynb
  case_studies/dc2_new_diffusion/utils/diffusion.py
  case_studies/dc2_new_diffusion/utils/encoder.py
  case_studies/dc2_new_diffusion/utils/unet.py
  case_studies/dc2_new_diffusion/ynet_diffusion_config/ynet_diffusion_train_config.yaml
  case_studies/dc2_new_diffusion/ynet_diffusion_config/ynet_full_diffusion_train_config_debug.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update 2PCF notebook
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure8.ipynb
Due: none

Use more posterior samples in 2PCF figure
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure8.ipynb
Due: none

Figure 9: Posterior mean shear/conv maps across 24 contiguous test images
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
Due: none

Flip catalogs when loading them in so that ra/dec orientation reads from bottom left to top right
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
Due: trailing-whitespace, end-of-file-fixer

Rename notebook
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5and9.ipynb
Due: none

regular update
  case_studies/dc2_mdt/great_lake_train_scripts/prepare_great_lake.sh
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sbatch
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sh
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake_debug.sbatch
  case_studies/dc2_mdt/inference.ipynb
  case_studies/dc2_mdt/inference.py
  case_studies/dc2_mdt/mdt_config/mdt_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_ar_net_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_ar_net_train_config_debug.yaml
  case_studies/dc2_mdt/mdt_config/simple_ar_net_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_cond_true_net_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_cond_true_net_train_config_debug.yaml
  case_studies/dc2_mdt/mdt_config/simple_cond_true_net_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_speed_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_speed_train_config_debug.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_speed_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_train_config.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_train_config_debug.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_train_config_gl.yaml
  case_studies/dc2_mdt/run_dc2_mdt.sh
  case_studies/dc2_mdt/utils/encoder.py
  case_studies/dc2_mdt/utils/gaussian_diffusion.py
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/resample.py
  case_studies/dc2_mdt/utils/simple_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update great lake script
  case_studies/dc2_mdt/great_lake_train_scripts/bliss_vscode_setup.sh
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sbatch
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake_debug.sbatch
  case_studies/dc2_mdt/mdt_config/mdt_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_ar_net_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_cond_true_net_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_speed_train_config_gl.yaml
  case_studies/dc2_mdt/mdt_config/simple_net_train_config_gl.yaml
  case_studies/dc2_mdt/test_command.ipynb
Due: trailing-whitespace, end-of-file-fixer

update great lake script
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake.sbatch
  case_studies/dc2_mdt/great_lake_train_scripts/run_great_lake_debug.sbatch
Due: none

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
