Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

minimal PR, all in case_studies. Should pass tests
  .pre-commit-config.yaml
  bliss/cached_dataset.py
  case_studies/psf_variation/conf/single_field.yaml
  case_studies/psf_variation/run_experiments.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tweaks
  case_studies/redshift/README.md
  case_studies/redshift/artifacts/data_generation.py
  case_studies/redshift/redshift.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

made some changes to fit with master; now need to update RedshiftsEncoder
  case_studies/redshift/artifacts/redshift_dc2.py
  case_studies/redshift/redshift_from_img/discrete.yaml
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

getting the correct shapes from sampling for RedshiftsEncoder. Samples coming through. About to change method of to remove self.bin_type indexing of . Previously on_fluxes must have been non-tensor
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

at this commit, stuff was running. Still want to run all the way probably though to see that plots still look good
  case_studies/redshift/redshift_from_img/continuous.yaml
  case_studies/redshift/redshift_from_img/discrete.yaml
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

linting
  case_studies/psf_variation/conf/single_field.yaml
  case_studies/psf_variation/run_experiments.sh
  case_studies/redshift/README.md
  case_studies/redshift/artifacts/redshift_dc2.py
  case_studies/redshift/redshift_from_img/continuous.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

restore other case studies
  case_studies/psf_variation/conf/single_field.yaml
  case_studies/psf_variation/run_experiments.sh
Due: trailing-whitespace, end-of-file-fixer

something is up with the binning; checking it out inside the metric classes
  case_studies/redshift/evaluation/continuous_eval.yaml
  case_studies/redshift/evaluation/discrete_eval.yaml
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/evaluate_discrete.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Manuscript figures: frequentist coverage of credible intervals
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: none

Manuscript: RGB image for figure 1a
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
Due: none

Compute Spearman and Kendall correlations
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
Due: none

Manuscript: change font size in figures 1, 4, 5
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
Due: none

Manuscript: Fix CI width bug, font sizes, and colors for figs 6 and 7
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: none

Manuscript: change font size in figures 1 and 2
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure2.ipynb
Due: none

Rerun notebooks with new ckpt
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: trailing-whitespace, end-of-file-fixer

linting
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/evaluate_discrete.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Final tweaks to get redshift code up to date with master. (#1081)
  case_studies/redshift/README.md
  case_studies/redshift/artifacts/data_generation.py
  case_studies/redshift/artifacts/redshift_dc2.py
  case_studies/redshift/evaluation/continuous_eval.yaml
  case_studies/redshift/evaluation/discrete_eval.yaml
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/evaluate_discrete.py
  case_studies/redshift/redshift.yaml
  case_studies/redshift/redshift_from_img/continuous.yaml
  case_studies/redshift/redshift_from_img/discrete.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add dc2_diffdet; add double detect
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/generate_catalog.ipynb
  case_studies/dc2_diffdet/diffdet_config/diffdet_notebook_config.yaml
  case_studies/dc2_diffdet/diffdet_config/diffdet_train_config.yaml
  case_studies/dc2_diffdet/diffdet_config/diffdet_train_config_debug.yaml
  case_studies/dc2_diffdet/pretrain_config/train_config.yaml
  case_studies/dc2_diffdet/run_dc2_diffdet.sh
  case_studies/dc2_diffdet/utils/backbone.py
  case_studies/dc2_diffdet/utils/box_func.py
  case_studies/dc2_diffdet/utils/catalog_parser.py
  case_studies/dc2_diffdet/utils/diffusion.py
  case_studies/dc2_diffdet/utils/encoder.py
  case_studies/dc2_diffdet/utils/head.py
  case_studies/dc2_diffdet/utils/loss.py
  case_studies/dc2_diffdet/utils/metrics.py
  case_studies/dc2_diffdet/utils/pretrain_encoder.py
  case_studies/dc2_new_diffusion/craft_ci.ipynb
  case_studies/dc2_new_diffusion/double_detect.ipynb
  case_studies/dc2_new_diffusion/image_dist.ipynb
  case_studies/dc2_new_diffusion/run_dc2_new_diffusion.sh
  case_studies/dc2_new_diffusion/utils/diffusion.py
  case_studies/dc2_new_diffusion/utils/encoder.py
  case_studies/dc2_new_diffusion/visualize_bbox.ipynb
  case_studies/dc2_new_diffusion/ynet_dd_diffusion_config/ynet_dd_diffusion_notebook_config.yaml
  case_studies/dc2_new_diffusion/ynet_dd_diffusion_config/ynet_dd_diffusion_train_config.yaml
  case_studies/dc2_new_diffusion/ynet_dd_diffusion_config/ynet_dd_diffusion_train_config_debug.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

General update.
  case_studies/galaxy_clustering/conf/config.yaml
  case_studies/galaxy_clustering/data_generation/data_gen.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

sampling fig draft (#89)
  .flake8
  .github/workflows/tests.yml
  .pylintrc
  bliss/catalog.py
  bliss/datasets/generate_blends.py
  bliss/datasets/lsst.py
  bliss/datasets/padded_tiles.py
  bliss/datasets/render_utils.py
  bliss/datasets/table_utils.py
  bliss/encoders/binary.py
  bliss/encoders/deblend.py
  bliss/encoders/detection.py
  bliss/grid.py
  bliss/plotting.py
  bliss/render_tiles.py
  bliss/reporting.py
  experiment/get_figures.py
  experiment/notebooks/explore/generate-padding-images.ipynb
  experiment/notebooks/explore/new-results-sampling1.ipynb
  experiment/notebooks/explore/new-results-toy1.ipynb
  experiment/notebooks/tests/shift_ptiles_fnc.ipynb
  experiment/notebooks/tests/test_new_shift_memory.ipynb
  experiment/run/bin/run_deblender_train.py
  experiment/run/run_binary.sh
  experiment/run/run_deblender.sh
  experiment/run_figures.sh
  experiment/scripts_figures/deblend_figures.py
  experiment/scripts_figures/detection_figures.py
  experiment/scripts_figures/sampling_figure.py
  poetry.lock
  pyproject.toml
  tests/test_galaxy_blend_dataset.py
  tests/test_grid.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update hlrs to use catalog.
  case_studies/galaxy_clustering/data_generation/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Updated residual notebook.
  case_studies/galaxy_clustering/notebooks/DESResiduals.ipynb
Due: trailing-whitespace, end-of-file-fixer

Code for training flexzboost
  case_studies/redshift/old/redshift_from_predicted_mag/DC2_mag_predict.ipynb
  case_studies/redshift/old/redshift_from_predicted_mag/photozFromGT_Bliss.ipynb
  case_studies/redshift/redshift_flexzboost/train_rail.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

augmented script with "cells" (# %% notation)
  case_studies/redshift/redshift_flexzboost/train_rail.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Code for efficiently evaluating grid-search-losses with flexzboost predictions
  case_studies/redshift/redshift_flexzboost/flexzboost_fast.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

A few more docstrings
  case_studies/redshift/redshift_flexzboost/flexzboost_fast.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Util scripts for image and catalog gen.
  case_studies/galaxy_clustering/utils/image_gen_utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Updated residuals notebook using utils.
  case_studies/galaxy_clustering/notebooks/DESResiduals.ipynb
Due: trailing-whitespace, end-of-file-fixer

use uv (#92)
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  experiment/notebooks/explore/check-interpolation1.ipynb
  experiment/notebooks/explore/check_interpolation.ipynb
  experiment/notebooks/tests/shift_ptiles_fnc.ipynb
  experiment/notebooks/tests/shift_ptiles_fnc_jax.ipynb
  poetry.lock
  pyproject.toml
  uv.lock
Due: trailing-whitespace, end-of-file-fixer

seems like we can make it work with odd sized padded tiles
  experiment/notebooks/explore/check-odd-ptiles.ipynb
Due: none

check odd size ptiles are possible (#95)
  bliss/datasets/generate_blends.py
  bliss/datasets/padded_tiles.py
  bliss/datasets/saved_datasets.py
  bliss/encoders/autoencoder.py
  bliss/encoders/binary.py
  bliss/encoders/deblend.py
  bliss/encoders/detection.py
  bliss/grid.py
  bliss/reporting.py
  bliss/training_functions.py
  experiment/get_blends_datasets.py
  experiment/get_figures.py
  experiment/get_single_galaxies_datasets.py
  experiment/log.txt
  experiment/log_long.txt
  experiment/models/detection_19_19.pt
  experiment/notebooks/explore/check-odd-ptiles.ipynb
  experiment/notebooks/explore/odd-sized-detection-encoder.ipynb
  experiment/run/bin/run_autoencoder_train.py
  experiment/run/bin/run_binary_train.py
  experiment/run/bin/run_deblender_train.py
  experiment/run/bin/run_detection_train.py
  experiment/run/run_detection.sh
  tests/test_galaxy_blend_dataset.py
  tests/test_grid.py
  tests/test_render_ptiles.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
