Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Refactor to remove cyclic imports
  bliss/predict.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  tests/test_catalogs.py
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Simulate DECaLS co-added images (#887)
  bliss/conf/base_config.yaml
  bliss/predict.py
  bliss/simulator/background.py
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  bliss/simulator/psf.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  case_studies/decals_e2e_871/decals_coadd.ipynb
  case_studies/decals_e2e_871/decals_download.ipynb
  case_studies/decals_e2e_871/des_psf_and_background.ipynb
  data/decals/135/1358p297/tractor-1358p297.fits
  data/decals/336/3366m010/tractor-3366m010.fits
  data/decals/color_models/gal_gmm_nmgy.pkl
  data/decals/color_models/star_gmm_nmgy.pkl
  data/decals/legacysurvey-1358p297-image-r.fits
  data/decals/legacysurvey-3366m010-image-r.fits
  tests/test_catalogs.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_sdss.py
  tests/test_sdss_reconstruct.py
  tests/test_train.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Simulate DECaLS co-added images (#887)
  bliss/conf/base_config.yaml
  bliss/predict.py
  bliss/simulator/background.py
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  bliss/simulator/psf.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  case_studies/decals_e2e_871/decals_coadd.ipynb
  case_studies/decals_e2e_871/decals_download.ipynb
  case_studies/decals_e2e_871/decals_psf_and_background.ipynb
  case_studies/decals_e2e_871/des_psf_and_background.ipynb
  case_studies/infer_decals_772/decals_download.ipynb
  data/decals/135/1358p297/tractor-1358p297.fits
  data/decals/336/3366m010/tractor-3366m010.fits
  data/decals/color_models/gal_gmm_nmgy.pkl
  data/decals/color_models/star_gmm_nmgy.pkl
  data/decals/cutout_336.635_-0.9600.fits
  data/decals/legacysurvey-1358p297-image-r.fits
  data/decals/legacysurvey-3366m010-image-r.fits
  tests/test_catalogs.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_sdss.py
  tests/test_sdss_reconstruct.py
  tests/test_train.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix import error
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix import and linter issues
  case_studies/adaptive_tiling/region_catalog.py
  case_studies/adaptive_tiling/region_encoder.py
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename PyPI package to bliss-toolkit
  README.md
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Rename PyPI package to bliss-toolkit (#911)
  README.md
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Fix region encoder tests
  bliss/conf/base_config.yaml
  case_studies/adaptive_tiling/region_catalog.py
  case_studies/adaptive_tiling/region_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Don't modify batch in get_input_tensor
  bliss/encoder.py
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Don't modify batch in get_input_tensor (#914)
  bliss/encoder.py
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update gitattributes
  .gitattributes
Due: trailing-whitespace, end-of-file-fixer

Update pytorch and pytorch-lightning versions
  bliss/train.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

linting fixes
  .flake8
  .github/workflows/tests.yml
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/simulated.py
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/vae/galaxy_flow.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

no devcontainer
  .devcontainer/devcontainer.json
Due: trailing-whitespace, end-of-file-fixer

Probabilistic Tile Suppression (#879)
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/plotting.py
  bliss/train.py
  bliss/unconstrained_dists.py
  case_studies/adaptive_tiling/region_catalog.py
  case_studies/adaptive_tiling/region_encoder.py
  tests/test_catalogs.py
  tests/test_encoder.py
  tests/test_unconstained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

no precommit
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer

poetry update; no pre-commit
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

executable file for getting latents
  case_studies/galsim_galaxies/get_latents.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix warnings
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

missing docstrings
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Persist data/ files for tests to avoid download
  bliss/surveys/des.py
  data/decals/135/1358p297/legacysurvey-1358p297-ccds.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-g.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-r.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-z.fits
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-g.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-r.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-z.fits.fz
  data/decals/336/3366m010/c4d_130913_040652_ooi_z.fits
  data/decals/336/3366m010/c4d_130913_040652_ooi_z_ls9-psfex.fits
  data/decals/336/3366m010/c4d_130913_040652_ooi_z_ls9-splinesky.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g_ls9-psfex.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g_ls9-splinesky.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r_ls9-psfex.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r_ls9-splinesky.fits
  data/decals/336/3366m010/legacysurvey-3366m010-ccds.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-g.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-r.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-z.fits
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-g.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-r.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-z.fits.fz
  data/decals/ccds-annotated-decam-dr9.fits
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Don't create DECaLS_PSF during predict to cut time
  .gitattributes
  bliss/predict.py
  bliss/surveys/decals.py
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-g.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-r.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-z.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-g.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-r.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-z.fits.fz
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Reduce tests redundancy and simplify DECaLS catalog test
  tests/test_catalogs.py
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Speed up tests interacting with new DECaLS co-add changes (#913)
  .gitattributes
  bliss/predict.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  data/decals/135/1358p297/legacysurvey-1358p297-ccds.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-g.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-r.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-z.fits
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-g.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-r.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-z.fits.fz
  data/decals/336/3366m010/c4d_130913_040652_ooi_z.fits
  data/decals/336/3366m010/c4d_130913_040652_ooi_z_ls9-psfex.fits
  data/decals/336/3366m010/c4d_130913_040652_ooi_z_ls9-splinesky.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g_ls9-psfex.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g_ls9-splinesky.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r_ls9-psfex.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r_ls9-splinesky.fits
  data/decals/336/3366m010/legacysurvey-3366m010-ccds.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-g.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-r.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-z.fits
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-g.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-r.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-z.fits.fz
  data/decals/ccds-annotated-decam-dr9.fits
  tests/test_catalogs.py
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Speed up tests interacting with new DECaLS co-add changes (#913)
  .gitattributes
  bliss/predict.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  data/decals/135/1358p297/legacysurvey-1358p297-ccds.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-g.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-r.fits
  data/decals/135/1358p297/legacysurvey-1358p297-image-z.fits
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-g.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-r.fits.fz
  data/decals/135/1358p297/legacysurvey-1358p297-psfsize-z.fits.fz
  data/decals/336/3366m010/c4d_130913_040652_ooi_z.fits
  data/decals/336/3366m010/c4d_130913_040652_ooi_z_ls9-psfex.fits
  data/decals/336/3366m010/c4d_130913_040652_ooi_z_ls9-splinesky.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g_ls9-psfex.fits
  data/decals/336/3366m010/c4d_141021_015854_ooi_g_ls9-splinesky.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r_ls9-psfex.fits
  data/decals/336/3366m010/c4d_151108_003333_ooi_r_ls9-splinesky.fits
  data/decals/336/3366m010/legacysurvey-3366m010-ccds.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-g.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-r.fits
  data/decals/336/3366m010/legacysurvey-3366m010-image-z.fits
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-g.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-r.fits.fz
  data/decals/336/3366m010/legacysurvey-3366m010-psfsize-z.fits.fz
  tests/test_catalogs.py
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix variational_mode bug
  case_studies/adaptive_tiling/region_encoder.py
Due: isort, pylint, flake8, mypy, darglint, black

Fix bug in decoder where fluxes are modified in-place
  bliss/simulator/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update docstring in api predict functions to mention offset due to cropping
  bliss/api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix fluxes in test_simulate
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix test issues
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fixing warnings with tests
  bliss/encoder.py
  bliss/unconstrained_dists.py
  tests/test_encoder.py
  tests/test_unconstrained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Miscellaneous fixes (#916)
  bliss/api.py
  bliss/encoder.py
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/unconstrained_dists.py
  case_studies/adaptive_tiling/region_encoder.py
  tests/test_encoder.py
  tests/test_simulate.py
  tests/test_unconstrained_dists.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
