Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

OneBandTransform; regularized double detection; 16-mixed precision (#1037)
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/encoder/variational_dist.py
  bliss/main.py
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/psf_variation/config.yaml
  case_studies/spatial_tiling/m2.ipynb
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/spatial_tiling/moving_star.ipynb
  case_studies/spatial_tiling/toy_example.yaml
  case_studies/spatial_tiling/two_point_metric.py
  poetry.lock
  pyproject.toml
  tests/data/base_config_trained_encoder.pt
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Routine Weekly Merge: DES Inference Added (#1036)
  case_studies/galaxy_clustering/DES_inference.py
  case_studies/galaxy_clustering/cached_dataset.py
  case_studies/galaxy_clustering/config.yaml
  case_studies/galaxy_clustering/data-gen.sh
  case_studies/galaxy_clustering/data_generation/background_prior.py
  case_studies/galaxy_clustering/data_generation/catalog_gen.py
  case_studies/galaxy_clustering/data_generation/cluster_prior.py
  case_studies/galaxy_clustering/data_generation/data-gen.sh
  case_studies/galaxy_clustering/data_generation/file_datum_generation.py
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
  case_studies/galaxy_clustering/data_generation/prior.py
  case_studies/galaxy_clustering/data_generation/redmapper_sva1-expanded_public_v6.3_catalog.fits
  case_studies/galaxy_clustering/data_generation/redmapper_sva1-expanded_public_v6.3_members.fits
  case_studies/galaxy_clustering/encoder/encoder.py
  case_studies/galaxy_clustering/gal_gmm_nmgy.pkl
  case_studies/galaxy_clustering/notebooks/DESResiduals.ipynb
  case_studies/galaxy_clustering/notebooks/colors.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Use only one fits file for sampling sources from DES.
  case_studies/galaxy_clustering/data_generation/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update README.md
  case_studies/galaxy_clustering/README.md
Due: trailing-whitespace, end-of-file-fixer

Modified file generation to write files on the fly. Fixed color ordering.
  case_studies/galaxy_clustering/data_generation/catalog_gen.py
  case_studies/galaxy_clustering/data_generation/file_datum_generation.py
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix default values for image size.
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
  case_studies/galaxy_clustering/data_generation/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

AsinhQuantiles normalizer; allow list of image normalizers
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/spatial_tiling/moving_star.ipynb
  tests/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

back to 32-true
  case_studies/spatial_tiling/m2_config.yaml
  tests/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove bands from config.
  case_studies/galaxy_clustering/config.yaml
Due: trailing-whitespace, end-of-file-fixer

nbstripout
  case_studies/spatial_tiling/moving_star.ipynb
Due: trailing-whitespace, end-of-file-fixer

Remove bands from image normalizer.
  case_studies/galaxy_clustering/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove look-up code.
  case_studies/galaxy_clustering/data_generation/DES_data_extraction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor inference.
  case_studies/galaxy_clustering/inference/DES_inference.py
  case_studies/galaxy_clustering/inference/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor config.
  case_studies/galaxy_clustering/conf/config.yaml
Due: trailing-whitespace, end-of-file-fixer

tests restored by adding psf_params some places
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  tests/data/base_config_trained_encoder.pt
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_sdss.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixing pylint error from case study
  case_studies/dc2_cataloging/utils/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

cpu -> gpu
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Multiple Image Normalizers (#1038)
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  case_studies/dc2_cataloging/utils/image_normalizer.py
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/spatial_tiling/moving_star.ipynb
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_sdss.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Multiple Image Normalizers (#1038)
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  case_studies/dc2_cataloging/utils/image_normalizer.py
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/spatial_tiling/moving_star.ipynb
  tests/data/base_config_trained_encoder.pt
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_sdss.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated convnet and encoder to match smaller image size
  case_studies/weak_lensing/lensing_convnet.py
  case_studies/weak_lensing/lensing_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

sky subtracted images in physical units for training
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/data_augmentation.py
  bliss/encoder/image_normalizer.py
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/survey.py
  case_studies/psf_variation/config.yaml
  case_studies/spatial_tiling/m2.ipynb
  case_studies/spatial_tiling/m2_config.yaml
  tests/test_data_augmentation.py
  tests/test_dc2.py
  tests/test_generate.py
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

option to generate full catalogs
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/global_env.py
  bliss/main.py
  case_studies/galaxy_clustering/data_generation/file_datum_generation.py
  case_studies/spatial_tiling/m2.ipynb
  case_studies/spatial_tiling/m2_config.yaml
  scripts/convert_pt.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Initialize Sampler with dataset.
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Modify config to use new Asinh Normalizer.
  case_studies/galaxy_clustering/conf/config.yaml
Due: trailing-whitespace, end-of-file-fixer

Modify encoder to use list of image normalizers.
  case_studies/galaxy_clustering/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tests refactored and restored
  bliss/catalog.py
  bliss/simulator/decoder.py
  tests/data/base_config_trained_encoder.pt
  tests/test_catalogs.py
  tests/test_generate.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update notebooks
  bliss/conf/base_config.yaml
  bliss/encoder/metrics.py
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/bootstrap.ipynb
  case_studies/dc2_cataloging/boundary_performance.ipynb
  case_studies/dc2_cataloging/classification_accuracy.ipynb
  case_studies/dc2_cataloging/classification_accuracy_bootstrap.ipynb
  case_studies/dc2_cataloging/detection_bootstrap.ipynb
  case_studies/dc2_cataloging/detection_bootstrap_blendedness.ipynb
  case_studies/dc2_cataloging/detection_selector.ipynb
  case_studies/dc2_cataloging/exp_record.md
  case_studies/dc2_cataloging/flux_err_plot.ipynb
  case_studies/dc2_cataloging/generate_catalog.ipynb
  case_studies/dc2_cataloging/old_notebooks/bootstrap_full_image.ipynb
  case_studies/dc2_cataloging/old_notebooks/dataloader_speed.ipynb
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/train_config_debug.yaml
  case_studies/dc2_cataloging/utils/notebook_variables.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update notebooks
  bliss/encoder/metrics.py
  case_studies/dc2_cataloging/boundary_performance.ipynb
  case_studies/dc2_cataloging/classification_accuracy.ipynb
  case_studies/dc2_cataloging/classification_accuracy_bootstrap.ipynb
  case_studies/dc2_cataloging/detection_bootstrap.ipynb
  case_studies/dc2_cataloging/detection_bootstrap_blendedness.ipynb
  case_studies/dc2_cataloging/detection_selector.ipynb
  case_studies/dc2_cataloging/flux_err_plot.ipynb
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/utils/metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

unsqueeze full cat
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Modify data generation to use Hydra.
  case_studies/galaxy_clustering/data_generation/catalog_gen.py
  case_studies/galaxy_clustering/data_generation/conf/gen_config.yaml
  case_studies/galaxy_clustering/data_generation/data-gen.sh
  case_studies/galaxy_clustering/data_generation/data_gen.py
  case_studies/galaxy_clustering/data_generation/file_datum_generation.py
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add attributes to main config.
  case_studies/galaxy_clustering/conf/config.yaml
  case_studies/galaxy_clustering/data_generation/conf/gen_config.yaml
  case_studies/galaxy_clustering/data_generation/data_gen.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update config
  bliss/cached_dataset.py
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/train_config_debug.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Instantiate Sampler with data source.
  case_studies/galaxy_clustering/inference/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update exp_record
  case_studies/dc2_cataloging/exp_record.md
Due: trailing-whitespace, end-of-file-fixer

squeeze full cat in test data
  tests/data/two_image_cached_dataset.pt
Due: none

update MultiDetectEncoder
  bliss/encoder/encoder.py
  case_studies/dc2_cataloging/utils/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update MultiDetectEncoder
  case_studies/dc2_cataloging/utils/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Preliminary notebook for collating inference outputs.
  case_studies/galaxy_clustering/notebooks/playground.ipynb
Due: trailing-whitespace, end-of-file-fixer
