Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Add conclusion to notebook
  case_studies/psf_variation/psf_variation_demo.ipynb
Due: trailing-whitespace, end-of-file-fixer

Put CLI in bliss.api
  bliss/api.py
  bliss/main.py
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Expose bliss hydra executable in shipped package (#819)
  .codecov.yml
  bliss/api.py
  main.py
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

simplify generate_data_in_parallel.sh
  bliss/conf/base_config.yaml
  bliss/generate.py
  scripts/generate_data_in_parallel.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove out-of-sync comment
  scripts/generate_data_in_parallel.sh
Due: none

can't yet encode multband data on master branch
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

single band base config
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

hide process_index from user
  bliss/api.py
  bliss/conf/base_config.yaml
  bliss/generate.py
  bliss/train.py
  scripts/generate_data_in_parallel.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove shebang
  bliss/api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

more frequent logging during tests to avoid warning
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer

simplify generate_data_in_parallel.sh (#824)
  bliss/api.py
  bliss/conf/base_config.yaml
  bliss/generate.py
  bliss/train.py
  scripts/generate_data_in_parallel.sh
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Access catalog properties through bracket operator
  bliss/catalog.py
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix star flux sampling to use star parameters
  bliss/simulator/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move helper functions for restricting catalogs from test_metrics to catalog files
  bliss/surveys/decals.py
  bliss/surveys/sdss.py
  case_studies/catalog_comparison/compare_catalogs.ipynb
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix classification metrics with FullCatalog; move mode enum out of BlissMetrics class
  bliss/encoder.py
  bliss/metrics.py
  case_studies/catalog_comparison/compare_catalogs.ipynb
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Added psf variation case study (#816)
  case_studies/psf_variation/config.yaml
  case_studies/psf_variation/psf_variation_demo.ipynb
Due: trailing-whitespace, end-of-file-fixer

Added psf variation case study (#816)
  case_studies/psf_variation/config.yaml
  case_studies/psf_variation/data/dataset_0.pt
  case_studies/psf_variation/psf_variation_demo.ipynb
  data/pretrained_models/psf_aware.pt
  data/pretrained_models/single_field.pt
Due: trailing-whitespace, end-of-file-fixer

Remove dupe logic for tests alr run in fixture
  tests/test_api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove dupe logic for tests implicitly run in fixture (#833)
  tests/test_api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix errors with tests; resave test_simulate data to add source_type.
  bliss/metrics.py
  data/test_image/sim_tile0.pt
  data/test_image/sim_tile1.pt
  data/test_image/sim_tile2.pt
  data/test_image/sim_tile3.pt
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Miscellaneous fixes to catalogs and metrics (#832)
  bliss/catalog.py
  bliss/encoder.py
  bliss/metrics.py
  bliss/simulator/prior.py
  bliss/surveys/decals.py
  bliss/surveys/sdss.py
  case_studies/catalog_comparison/compare_catalogs.ipynb
  data/test_image/sim_tile0.pt
  data/test_image/sim_tile1.pt
  data/test_image/sim_tile2.pt
  data/test_image/sim_tile3.pt
  tests/test_catalogs.py
  tests/test_metrics.py
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Suppress hydra/job_logging output to file
  bliss/conf/base_config.yaml
  tests/test_api.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Suppress hydra/job_logging output to file (#834)
  bliss/conf/base_config.yaml
  tests/test_api.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

test_sdss_reconstruct 14 deviations of error, API tests unchecked - all others successful
  .codecov.yml
  .github/workflows/case_studies.yml
  .github/workflows/tests.yml
  README.md
  bliss/api.py
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/generate.py
  bliss/predict.py
  bliss/train.py
  bliss/utils/download_utils.py
  main.py
  poetry.lock
  pyproject.toml
  scripts/generate_data_in_parallel.sh
  tests/test_api.py
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

uploading updated single-band model
  data/pretrained_models/r_long.pt
  tests/test_api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

default to zscore_five_band.pt model for TestApi
  tests/test_api.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adding multi-band model
  data/pretrained_models/zscore_five_band.pt
Due: none

adding multi-band model (#835)
  data/pretrained_models/zscore_five_band.pt
Due: none

Tests pass locally
  bliss/api.py
  bliss/encoder.py
  bliss/predict.py
  bliss/simulator/prior.py
  tests/test_api.py
  tests/test_metrics.py
  tests/test_simulate.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix to remote tests
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tensor device issues
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rewrite API tests to mock downloads, simplify test behavior
  tests/mock_tests.py
  tests/test_api.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Cleaning
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Updating imports
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add test for downloading decals
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
