Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Update text in catalog generation notebooks
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog.ipynb
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog_objectmatch.ipynb
Due: trailing-whitespace, end-of-file-fixer

Use _dc2 ellipticities, update config, rerun dc2 ellipticity notebook
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update DC2 images path in lensing config
  case_studies/weak_lensing/lensing_config_dc2.yaml
Due: trailing-whitespace, end-of-file-fixer

Manuscript: preliminary figure 1
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
Due: none

Manuscript: preliminary figure 3
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure3.ipynb
Due: none

Manuscript: minor tweaks to figures 1 and 3
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure3.ipynb
Due: none

Manuscript: minor update to figure 1
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
Due: none

Manuscript: preiminary figure 2
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure2.ipynb
Due: none

Manuscript: preliminary figure 4
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures3and4.ipynb
Due: none

Manuscript: minor tweaks to figs 1, 3, 4
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures3and4.ipynb
Due: none

Update figure numbers
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
Due: none

make detection results (#78)
  .flake8
  .pylintrc
  bliss/catalog.py
  bliss/encoders/deblend.py
  bliss/encoders/detection.py
  bliss/encoders/encoder.py
  bliss/plotting.py
  bliss/reporting.py
  experiment/figures/test1/binary_figure.png
  experiment/figures/test1/blends_deblending_bins.png
  experiment/figures/test1/blends_deblending_scatter.png
  experiment/figures/test1/blends_detection.png
  experiment/get_figures.py
  experiment/log.txt
  experiment/log_long.txt
  experiment/models/deblender_42_42.pt
  experiment/notebooks/explore/new-results-classification1.ipynb
  experiment/notebooks/explore/new-results-deblender1.ipynb
  experiment/notebooks/explore/new-results-detection1.ipynb
  experiment/run/bin/run_deblender_train.py
  experiment/run/run_deblender.sh
  experiment/scripts_figures/ae_figures.py
  experiment/scripts_figures/binary_figures.py
  experiment/scripts_figures/deblend_figures.py
  experiment/scripts_figures/detection_figures.py
  poetry.lock
  pyproject.toml
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Manuscript: increase source brightness in figure 1
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
Due: none

Use LSST-measured second moments (ixx, ixy, iyy) in average ellip baseline
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/lensing_metrics.py
  case_studies/weak_lensing/utils/weighted_avg_ellip.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Swap Ixx and Iyy to align coordinate system for baseline estimator
  case_studies/weak_lensing/lensing_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update avg ellip baseline tuning: use only training set, use R-squared
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update figure 4 after using LSST ellips in baseline estimator
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
Due: none

Update plots in ellipticity tuning notebook
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
Due: none

Rerun encoder evaluation notebook
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Weak lensing: updated baseline shear estimator + manuscript figures (#1079)
  case_studies/weak_lensing/generate_dc2_lensing_catalog.py
  case_studies/weak_lensing/generate_dc2_lensing_catalog_objectmatch.py
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/lensing_metrics.py
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog.ipynb
  case_studies/weak_lensing/notebooks/dc2/generate_lensing_catalog_objectmatch.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure2.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
  case_studies/weak_lensing/utils/weighted_avg_ellip.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Redshift rail training notebook
  case_studies/redshift/evaluation/rail/RAIL_estimation_demo.ipynb
Due: trailing-whitespace, end-of-file-fixer

Organize notebooks and update poetry 2.0 (#82)
  bliss/datasets/generate_blends.py
  bliss/datasets/generate_individual.py
  bliss/datasets/noise.py
  bliss/datasets/render_utils.py
  experiment/notebooks/paper/individual_galaxies_dist.ipynb
  experiment/notebooks/tests/individual_galaxies_dist.ipynb
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

changed config to organize metrics better; now it runs as I believe it was intended to
  case_studies/redshift/redshift_from_img/full_train_config_redshift.yaml
Due: trailing-whitespace, end-of-file-fixer

update discrete util
  case_studies/.gitignore
  case_studies/redshift/.gitignore
  case_studies/redshift/evaluation/dc2_discrete.ipynb
  case_studies/redshift/evaluation/plot_blended.ipynb
  case_studies/redshift/evaluation/utils/convnet.py
  case_studies/redshift/evaluation/utils/encoder.py
  case_studies/redshift/evaluation/utils/image_normalizer.py
  case_studies/redshift/evaluation/utils/load_lsst.py
  case_studies/redshift/evaluation/utils/lsst_predictor.py
  case_studies/redshift/evaluation/utils/metrics.py
  case_studies/redshift/evaluation/utils/safe_metric_collection.py
  case_studies/redshift/redshift_from_img/DC2_generate_cat_split_data.ipynb
  case_studies/redshift/redshift_from_img/__init__.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

stashing my work
  case_studies/redshift/redshift_from_img/full_train_config_redshift.yaml
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

stashing before proceeding further; I'm going to allow for both a cts and discrete variational distribution in the encodeer. A normal and a binned version
  case_studies/redshift/evaluation/notebook_plot.yaml
Due: trailing-whitespace, end-of-file-fixer

stashing some changes
  case_studies/redshift/evaluation/notebook_plot.yaml
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

working now for both discrete and cts
  case_studies/redshift/evaluation/notebook_plot.yaml
Due: trailing-whitespace, end-of-file-fixer

pausing results; we're now saving chunk name properly when processing
  bliss/surveys/dc2.py
  case_studies/redshift/redshift_from_img/data/data.yaml
  case_studies/redshift/redshift_from_img/data/data_generation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adding new scripts for preparing data
  case_studies/redshift/data_processing/data.yaml
  case_studies/redshift/data_processing/data_generation.py
  case_studies/redshift/redshift_from_img/data/data.yaml
  case_studies/redshift/redshift_from_img/data/data_generation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tweaks
  case_studies/redshift/data_processing/data.yaml
  case_studies/redshift/data_processing/data_generation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

cleaning
  case_studies/redshift/data_processing/data.yaml
  case_studies/redshift/data_processing/data_generation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

change to bliss; sort file names in cached_dataset
  bliss/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

change to bliss; dc2 tract/patch names saved in caching
  bliss/surveys/dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

stashing change to notebook plot
  case_studies/.gitignore
  case_studies/redshift/evaluation/notebook_plot.yaml
Due: trailing-whitespace, end-of-file-fixer

moved some stuff to old
  case_studies/redshift/old/network_rs.py
  case_studies/redshift/old/photozFromGT.ipynb
  case_studies/redshift/old/photozFromPredict.ipynb
  case_studies/redshift/old/preprocess_dataset.sh
  case_studies/redshift/old/preprocess_rs.py
  case_studies/redshift/old/split_rs_train.py
  case_studies/redshift/old/train.sh
  case_studies/redshift/old/train_rs_light.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new results in toy figure (#84)
  bliss/catalog.py
  bliss/encoders/detection.py
  bliss/reporting.py
  experiment/figures/test1/binary_curves.png
  experiment/figures/test1/binary_figure.png
  experiment/figures/test1/binary_scatter.png
  experiment/figures/test1/blends_deblending_bins.png
  experiment/figures/test1/blends_deblending_scatter.png
  experiment/figures/test1/three_separations.png
  experiment/figures/test1/toy_measurements.png
  experiment/figures/test1/toy_residuals.png
  experiment/get_figures.py
  experiment/notebooks/explore/new-results-toy1.ipynb
  experiment/run_figures.sh
  experiment/scripts_figures/binary_figures.py
  experiment/scripts_figures/deblend_figures.py
  experiment/scripts_figures/detection_figures.py
  experiment/scripts_figures/toy_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
