Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Figure formatting tweaks
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure2.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure8.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5and9.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: none

Figure 7 axis limits
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: none

added some plotting code to plots_bliss in a weird spot
  case_studies/redshift/evaluation/evaluate_bspline.py
  case_studies/redshift/evaluation/evaluate_mdn.py
  case_studies/redshift/evaluation/plots_bliss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Weak lensing: update figures, eval on contiguous region (#1087)
  bliss/cached_dataset.py
  bliss/surveys/dc2.py
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/encoder_evaluation.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/example.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/predictions.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/training_loop.ipynb
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure2.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure8.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5and9.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/cosmology_prior.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/generate_images.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/generate_power_spectrum.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/potential_priors.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/updated_prior.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/wl_galaxy_shape_derivation.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Jl/redshiftrail (#1086)
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/generate_catalog.ipynb
  case_studies/redshift/artifact_creation.yaml
  case_studies/redshift/artifacts/catalog_generation.py
  case_studies/redshift/artifacts/data_generation.py
  case_studies/redshift/artifacts/flexzboost_data_generation.py
  case_studies/redshift/redshift_flexzboost/flexzboost_fast.py
  case_studies/redshift/redshift_flexzboost/plot_rail.py
  case_studies/redshift/redshift_flexzboost/redshift_losses.py
  case_studies/redshift/redshift_flexzboost/test_rail.py
  case_studies/redshift/redshift_flexzboost/train_rail.py
  case_studies/redshift/redshift_flexzboost/using_sklearn.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

some work on evaluation
  case_studies/redshift/evaluation/evaluate_bspline.py
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/evaluate_mdn.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Preliminary version of updated catalog/image gen notebook
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Sidestep ellip_lsst_wavg baseline in metrics if it's not in the catalog
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update catalog/image gen notebook
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/notebooks/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

tried out; but using the other checkpointing method was way better
  case_studies/redshift/evaluation/bspline_eval.yaml
  case_studies/redshift/evaluation/mdn_eval.yaml
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_mdn.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename manuscript figure notebooks
  case_studies/weak_lensing/notebooks/dc2/manuscript/cosmodc2galaxies.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/dc2imageandmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/twopoint.ipynb
Due: none

Create gitignore
  case_studies/weak_lensing/.gitignore
Due: trailing-whitespace, end-of-file-fixer

Estimate 2PCF with true and estimated LSST ellipticities
  case_studies/weak_lensing/notebooks/dc2/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Move notebook
  case_studies/weak_lensing/notebooks/weak_lensing_sims/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Estimate 2PCF on smaller region
  case_studies/weak_lensing/notebooks/dc2/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update lensing simulator settings
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/notebooks/weak_lensing_sims/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

stuff working ok; right now only have one metric, the NLL. Need to resolve correspondence with _loss. Also unclear how many epochs to run for
  case_studies/redshift/evaluation/bspline_eval.yaml
  case_studies/redshift/evaluation/mdn_eval.yaml
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  case_studies/redshift/redshift_mdn.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Reduce memory consumption of DC2 manuscript figure notebooks
  case_studies/weak_lensing/notebooks/dc2/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/twopoint.ipynb
Due: none

Update gitignore
  case_studies/weak_lensing/.gitignore
Due: trailing-whitespace, end-of-file-fixer

Remove redundant DC2 notebook
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Specify shuffle_file_order in base_config
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Fix PSF params in lensing DC2
  case_studies/weak_lensing/lensing_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update README
  case_studies/weak_lensing/README.md
Due: trailing-whitespace, end-of-file-fixer

Minor DC2 config updates
  case_studies/weak_lensing/lensing_config_dc2.yaml
Due: trailing-whitespace, end-of-file-fixer

small cleanup
  case_studies/redshift/README.md
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_mdn.yaml
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tweak
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

regular update
  case_studies/dc2_mdt/exp_record.md
  case_studies/dc2_mdt/m2_craft_ci.ipynb
  case_studies/dc2_mdt/m2_mdt_rml_infer.py
  case_studies/dc2_mdt/run_m2_infer.sh
  case_studies/dc2_mdt/simple_test_diffusion.ipynb
  case_studies/dc2_mdt/simple_test_rml.ipynb
  case_studies/dc2_mdt/simple_test_vi.ipynb
  case_studies/dc2_mdt/test_convex.ipynb
  case_studies/dc2_mdt/test_image_simulator.ipynb
  case_studies/dc2_mdt/utils/mdt_models.py
  case_studies/dc2_mdt/utils/simulate_image.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove clamping and scaling in NullNormalizer
  bliss/encoder/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Allow no convergence in lensing plots
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Create descwl config
  case_studies/weak_lensing/lensing_config_descwl.yaml
Due: trailing-whitespace, end-of-file-fixer

Create separate configs for training on Great Lakes
  case_studies/weak_lensing/lensing_config_dc2_gl.yaml
  case_studies/weak_lensing/lensing_config_descwl_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Account for nans in NullNormalizer
  bliss/encoder/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

stashing; about to refactor for jackson
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

added jacksons files; cleanup way splits are loaded to reference master file in redshift dir
  bliss/surveys/dc2.py
  case_studies/redshift/artifact_creation.yaml
  case_studies/redshift/artifacts/catalog_generation.py
  case_studies/redshift/artifacts/data_generation.py
  case_studies/redshift/artifacts/redshift_dc2.py
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/redshift_flexzboost/plot_rail.py
  case_studies/redshift/redshift_flexzboost/redshift_losses.py
  case_studies/redshift/redshift_flexzboost/test_rail.py
  case_studies/redshift/redshift_flexzboost/train_rail.py
  case_studies/redshift/redshift_flexzboost/using_sklearn.py
  case_studies/redshift/redshift_mdn.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rerun notebooks with new encoder checkpoint
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/twopoint.ipynb
Due: none

cleaning up metrics a bit; we don't want to use the metric classes except for checkpointing
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/redshift_mdn.yaml
Due: trailing-whitespace, end-of-file-fixer

moved evaluation code to encoder; this should let us entirely remove evaluation scripts. Going to debug on bspline first
  case_studies/redshift/redshift_bspline.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
