Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

delete temp notebook
  case_studies/coadds/notebooks/organizing-seed-data.ipynb
Due: trailing-whitespace, end-of-file-fixer

figures for coadd neurips submission (#686)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/simulated.py
  bliss/encoder.py
  bliss/models/detection_encoder.py
  bliss/models/galsim_decoder.py
  bliss/reporting.py
  bliss/train.py
  case_studies/coadds/README.md
  case_studies/coadds/align.py
  case_studies/coadds/coadds.py
  case_studies/coadds/config/config.yaml
  case_studies/coadds/examples_coadd_decoder.ipynb
  case_studies/coadds/get_dataset.py
  case_studies/coadds/get_results.py
  case_studies/coadds/notebooks/alignment_example.ipynb
  case_studies/coadds/notebooks/test_model.ipynb
  case_studies/coadds/signal_noise_ratio.py
  case_studies/coadds/train.sh
  case_studies/psf_homogenization/galsim_galaxies_homo.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots/autoencoder.py
  case_studies/sdss_galaxies/plots/bliss_figures.py
  case_studies/sdss_galaxies/plots/sdss_detection_metrics.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/strong_lensing/config/config.yaml
  tests/case_studies/coadds/test_align_single_exposures.py
  tests/case_studies/m2/m2.yaml
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_galaxy_encoder.py
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactoring
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor and public methods
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

allow for more than one batch when converting to tile_params
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correct type
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correct error message in unittest
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

condition on true n sources for fluxes
  case_studies/coadds/get_results.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update README to specify commit used for submission to neurips
  case_studies/coadds/README.md
Due: trailing-whitespace, end-of-file-fixer

small clarification
  case_studies/coadds/README.md
Due: trailing-whitespace, end-of-file-fixer

even more clarification
  case_studies/coadds/README.md
Due: trailing-whitespace, end-of-file-fixer

U/im/coadd flux posterior calibration (#699)
  bliss/catalog.py
  bliss/encoder.py
  bliss/models/detection_encoder.py
  case_studies/coadds/README.md
  case_studies/coadds/get_results.py
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Update README.md
  README.md
Due: trailing-whitespace, end-of-file-fixer

add demo Encoder
  tutorials/demo-notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer

remove old dependencies
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

we don't need tox
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

no need precommit hooks
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

update poetry
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

fix warnings in pytest
  bliss/reporting.py
  tests/case_studies/coadds/conftest.py
  tests/case_studies/coadds/test_align_single_exposures.py
  tests/case_studies/m2/conftest.py
  tests/case_studies/sdss_galaxies/conftest.py
  tests/case_studies/sdss_galaxies_vae/conftest.py
  tests/case_studies/strong_lensing/conftest.py
  tests/conftest.py
  tests/star_basic/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

need latest poetry
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

remove deprecated flag
  .pylintrc
Due: trailing-whitespace, end-of-file-fixer

remove lambda usage and clarify assertion
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

another unncessary labmda expression
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

comment
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix typing errors except self.device (pl)
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  bliss/models/encoder_layers.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/galsim_encoder.py
  bliss/models/lens_encoder.py
  bliss/models/lensing_binary_encoder.py
  bliss/models/prior.py
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/galaxy_vae.py
  bliss/models/vae/prior.py
  bliss/reporting.py
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

better name
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix deprecation warning with acclerator in trainer
  bliss/train.py
  case_studies/coadds/config/config.yaml
  case_studies/psf_homogenization/config/config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/strong_lensing/config/config.yaml
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

propagate accelerator change to tests
  tests/case_studies/coadds/conftest.py
  tests/case_studies/coadds/test_coadd_decoder.py
  tests/case_studies/m2/conftest.py
  tests/case_studies/m2/m2.yaml
  tests/case_studies/psf_homogenization/test_homo.py
  tests/case_studies/sdss_galaxies/conftest.py
  tests/case_studies/sdss_galaxies/test_decoder_ellipticity.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
  tests/case_studies/sdss_galaxies/test_generate.py
  tests/case_studies/sdss_galaxies/test_reporting.py
  tests/case_studies/sdss_galaxies/test_sdss.py
  tests/case_studies/sdss_galaxies_vae/conftest.py
  tests/case_studies/strong_lensing/conftest.py
  tests/conftest.py
  tests/star_basic/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

logging prefers underscore names
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/lensing_binary_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

rerun sdss_galaxies case studies
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

forgot to validate slen
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix workflow files after poetry update
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer

fix workflow files after poetry update (#702)
  .github/workflows/case_studies.yml
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer
