Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

adding test_coadd_decoder
  case_studies/coadds/examples_coadd_decoder.ipynb
  case_studies/coadds/test_notebook.ipynb
  tests/case_studies/coadds/test_coadd_decoder
Due: trailing-whitespace, end-of-file-fixer

formatting
  case_studies/coadds/coadd_decoder.py
  case_studies/coadds/examples_coadd_decoder.ipynb
  case_studies/coadds/signal_noise_ratio.py
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remote test_notebook
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer

resolve conflicts from previous branch
  case_studies/coadds/align_single_exposures.py
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

formatting
  case_studies/coadds/align_single_exposures.py
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

notebook filter
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

notebook
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Im/fix max tile sources (#650)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

need to ensure that we only return in reasonable mag range when creating catalog
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

frame can use both catalogs
  bliss/inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make Decals plocs equal to BLISS format
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new full catalog
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

flake8
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

hmm strange why this is necessary :/
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

include new integer type
  bliss/datasets/sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add sweep catalog containing stripe 82 data
  data/sweep-330m005-340p000.fits
Due: none

make sure varialbe name is correct
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

run in configs
  bliss/catalog.py
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use decals, not coadd
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

critical mistake
  .gitattributes
Due: trailing-whitespace, end-of-file-fixer

better name
  case_studies/sdss_galaxies/plots/sdss_detection_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix tests
  tests/case_studies/sdss_galaxies_vae/test_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

revert changes in reconstruction
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add objid for consistency checks
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

decals here
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
Due: trailing-whitespace, end-of-file-fixer

update notebook
  case_studies/sdss_galaxies/notebooks/scratch/frame-plotly-decals.ipynb
Due: trailing-whitespace, end-of-file-fixer

revert to old config for now
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
Due: trailing-whitespace, end-of-file-fixer

commit notebook
  case_studies/sdss_galaxies/notebooks/scratch/frame-plotly-decals.ipynb
Due: trailing-whitespace, end-of-file-fixer

add probs of objects
  case_studies/sdss_galaxies/notebooks/scratch/frame-plotly-decals.ipynb
Due: trailing-whitespace, end-of-file-fixer

last notebook changes
  case_studies/sdss_galaxies/notebooks/scratch/frame-plotly-decals.ipynb
Due: trailing-whitespace, end-of-file-fixer

Im/add decals (#651)
  .gitattributes
  bliss/catalog.py
  bliss/datasets/sdss.py
  bliss/inference.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/decals.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/frame-plotly-decals.ipynb
  case_studies/sdss_galaxies/plots/sdss_detection_metrics.py
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies_vae/test_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add align_single_exposures, snr functions and galsim_galaxies dataset -- incomplete
  case_studies/coadds/coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fixed align_single_exposure and test
  case_studies/coadds/align_single_exposures.py
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

resolved comments per PR, added notebook to show align_single_exposure
  case_studies/coadds/align_single_exposures.py
  case_studies/coadds/config/config.yml
  case_studies/coadds/examples_align_single_exposure.ipynb
  case_studies/coadds/signal_noise_ratio.py
  case_studies/coadds/test_notebook.ipynb
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add crop to align_single_exposures and unit test
  case_studies/coadds/align_single_exposures.py
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
