Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

Remove BLISS_HOME dependency and improve path configuration
  bliss/__init__.py
  case_studies/sdss_galaxies/main.py
  case_studies/sdss_galaxies/tests/conftest.py
  case_studies/sdss_galaxies/tests/test_generate.py
  case_studies/sdss_galaxies/tests/test_reporting.py
  tests/m2/conftest.py
  tests/m2/m2.yaml
  tests/m2/test_m2.py
  tests/m2/test_tune.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix a few issues that popped up in tests
  case_studies/sdss_galaxies/tests/test_generate.py
  case_studies/sdss_galaxies/tests/test_sdss.py
  tests/conftest.py
  tests/m2/conftest.py
  tests/m2/test_m2.py
  tests/m2/test_tune.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove mention from home page
  README.md
Due: trailing-whitespace, end-of-file-fixer

Remove BLISS_HOME dependency and improve path configuration (#413)
  README.md
  bliss/__init__.py
  case_studies/sdss_galaxies/main.py
  case_studies/sdss_galaxies/tests/conftest.py
  case_studies/sdss_galaxies/tests/test_generate.py
  case_studies/sdss_galaxies/tests/test_reporting.py
  case_studies/sdss_galaxies/tests/test_sdss.py
  tests/conftest.py
  tests/m2/conftest.py
  tests/m2/m2.yaml
  tests/m2/test_m2.py
  tests/m2/test_tune.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove unused FNP code and tests
  bliss/models/fnp.py
  bliss/utils.py
  tests/test_fnp.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Linting
  bliss/utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove unused FNP code and tests (#414)
  bliss/models/fnp.py
  bliss/utils.py
  tests/test_fnp.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Break up utils.py
  bliss/models/galaxy_net.py
  bliss/train.py
  bliss/utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Break up utils.py (#416)
  bliss/models/galaxy_net.py
  bliss/train.py
  bliss/utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add nflows package
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Added initial VAE models
  bliss/models/vae/galaxy_encoder.py
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/galaxy_net.py
  bliss/models/vae/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

get more files set up
  bliss/models/vae/galaxy_net.py
  bliss/models/vae/prior.py
  case_studies/sdss_galaxies_vae/Makefile
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae_flow.yaml
  case_studies/sdss_galaxies_vae/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Refactor galaxy latent sampler into its own class
  bliss/models/prior.py
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added checkpoints
  case_studies/sdss_galaxies_vae/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_autoencoder_flow.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
Due: none

verified that training works for VAE
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

rename AE -> VAE
  bliss/models/vae/galaxy_encoder.py
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/galaxy_net.py
  bliss/models/vae/prior.py
  case_studies/sdss_galaxies_vae/config/__init__.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/generate/sdss_individual_galaxies.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_sleep.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix galaxy flow
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae_flow.yaml
Due: trailing-whitespace, end-of-file-fixer

correct the model and checkpoint names
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

get VAE and flow training working
  .gitattributes
  bliss/models/vae/galaxy_flow.py
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

don't load generate by default
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
Due: trailing-whitespace, end-of-file-fixer

added main script for vae
  case_studies/sdss_galaxies_vae/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fixed most linting errors other than code dupe
  bliss/models/vae/__init__.py
  bliss/models/vae/galaxy_encoder.py
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Got reconstruction with VAE working again
  bliss/encoder.py
  bliss/inference.py
  bliss/models/galaxy_encoder.py
  bliss/models/location_encoder.py
  bliss/models/vae/galaxy_encoder.py
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/prior.py
  bliss/sleep.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/main.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove duplicated architecture code
  bliss/models/vae/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

reconciled galaxy encoder code
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/vae/galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

retrain sleep phase since state_dict is different layout
  case_studies/sdss_galaxies/models/sdss_sleep.pt
Due: none

Dedup prior code
  bliss/models/prior.py
  bliss/models/vae/prior.py
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix args to galaxy_encoder
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

linting
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

more dedup
  bliss/models/vae/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

dedup GalaxyVAEDecoder
  bliss/models/vae/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Got de-duped single VAE test passing
  bliss/models/vae/galaxy_net.py
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fixed duplicate code in pylint
  bliss/models/vae/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove unneeded prior argument from galaxy_encoder and sleep
  bliss/models/galaxy_encoder.py
  bliss/sleep.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add closure where it was missing
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update lock
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

suppress warnings about not knowing the batch size
  bliss/models/binary.py
  bliss/models/galaxy_encoder.py
  bliss/sleep.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
