Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Update catalog/image gen notebook
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/notebooks/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Rename manuscript figure notebooks
  case_studies/weak_lensing/notebooks/dc2/manuscript/cosmodc2galaxies.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/dc2imageandmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/twopoint.ipynb
Due: none

Sidestep ellip_lsst_wavg baseline in metrics if it's not in the catalog
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Create gitignore
  case_studies/weak_lensing/.gitignore
Due: trailing-whitespace, end-of-file-fixer

Account for nans in NullNormalizer
  bliss/encoder/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Minor DC2 config updates
  case_studies/weak_lensing/lensing_config_dc2.yaml
Due: trailing-whitespace, end-of-file-fixer

Allow no convergence in lensing plots
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Specify shuffle_file_order in base_config
  bliss/conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer

Update gitignore
  case_studies/weak_lensing/.gitignore
Due: trailing-whitespace, end-of-file-fixer

Remove clamping and scaling in NullNormalizer
  bliss/encoder/image_normalizer.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Create separate configs for training on Great Lakes
  case_studies/weak_lensing/lensing_config_dc2_gl.yaml
  case_studies/weak_lensing/lensing_config_descwl_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Estimate 2PCF with true and estimated LSST ellipticities
  case_studies/weak_lensing/notebooks/dc2/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Estimate 2PCF on smaller region
  case_studies/weak_lensing/notebooks/dc2/twopoint.ipynb
Due: trailing-whitespace, end-of-file-fixer

Remove redundant DC2 notebook
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update README
  case_studies/weak_lensing/README.md
Due: trailing-whitespace, end-of-file-fixer

Create descwl config
  case_studies/weak_lensing/lensing_config_descwl.yaml
Due: trailing-whitespace, end-of-file-fixer

Move notebook
  case_studies/weak_lensing/notebooks/weak_lensing_sims/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Reduce memory consumption of DC2 manuscript figure notebooks
  case_studies/weak_lensing/notebooks/dc2/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/twopoint.ipynb
Due: none

Update lensing simulator settings
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/notebooks/weak_lensing_sims/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

Fix PSF params in lensing DC2
  case_studies/weak_lensing/lensing_dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Minor config changes
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_dc2_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Refactor lensing plots to incorporate redshift bins
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor lensing metrics to incorporate redshift bins (cont.)
  case_studies/weak_lensing/lensing_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Specify num redshift bins in config
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_dc2_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Rerun notebooks with new encoder checkpoint
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/credibleintervals.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/posteriormeanmaps.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/twopoint.ipynb
Due: none

Refactor lensing plots to incorporate redshift bins (cont.)
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Bin by redshift in DC2
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_dc2_gl.yaml
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/utils/weighted_avg_ellip.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update notebook that convert generated image to encoder input
  case_studies/weak_lensing/notebooks/weak_lensing_sims/generate_images.ipynb
Due: trailing-whitespace, end-of-file-fixer

IndependentMVN variational factor
  bliss/encoder/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor lensing metrics to incorporate redshift bins
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor lensing metrics to incorporate redshift bins (cont.)
  case_studies/weak_lensing/lensing_config_dc2_gl.yaml
Due: trailing-whitespace, end-of-file-fixer

Remove past test configuration files for psf extraction.
  case_studies/galaxy_clustering/psfextraction/psfextract.py
  case_studies/galaxy_clustering/psfextraction/test.psf
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add check to not recompute psfs if they already exist in target directory.
  case_studies/galaxy_clustering/psfextraction/psfextract.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix a small bug
  case_studies/galaxy_clustering/data_generation/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
