Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

Retrain
  models/README.md
  models/sdss_autoencoder.ckpt
Due: trailing-whitespace, end-of-file-fixer

Disable saving objects in hyperparameters
  bliss/models/galaxy_encoder.py
  bliss/sleep.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix scaling of reconstructed residual for plotting
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Load correct model config during predict phase
  bliss/predict.py
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Prepping for use inside of larger bliss application
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  config/model/binary_sdss.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/galaxy_net.yaml
  config/model/sleep_1galaxy_1star.yaml
  config/model/sleep_galaxy_basic.yaml
  config/model/sleep_sdss_detection.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Resolve comments on Github
  config/model/sleep_star_basic.yaml
  models/README.md
Due: trailing-whitespace, end-of-file-fixer

Remove nested instantiating object
  bliss/datasets/simulated.py
  bliss/models/galaxy_encoder.py
  bliss/predict.py
  bliss/sleep.py
  config/model/decoder/1galaxy_1star.yaml
  config/model/decoder/1tile.yaml
  config/model/decoder/galaxy_basic.yaml
  config/model/decoder/m2.yaml
  config/model/decoder/sdss_standard.yaml
  config/model/decoder/star_basic.yaml
  config/model/encoder/1galaxy_1star.yaml
  config/model/encoder/1tile.yaml
  config/model/encoder/galaxy_basic.yaml
  config/model/encoder/m2.yaml
  config/model/encoder/sdss_standard.yaml
  config/model/encoder/star_basic.yaml
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Retrain sdss_autoencoder
  models/README.md
  models/sdss_autoencoder.ckpt
Due: trailing-whitespace, end-of-file-fixer

bump up minimum sd
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/decoder.html
  docs/_modules/bliss/models/galaxy_net.html
  docs/api/bliss.datasets.html
  docs/api/bliss.models.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added placeholder checkpoint (not trained alot) to test
  models/sdss_autoencoder.ckpt
Due: none

updated placeholder checkpoint
  docs/_modules/bliss/models/decoder.html
  docs/_modules/bliss/models/galaxy_net.html
  docs/api/bliss.models.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
  models/sdss_autoencoder.ckpt
Due: trailing-whitespace, end-of-file-fixer

Added updated latent variables
  bliss/models/decoder.py
  bliss/models/galaxy_net.py
  config/model/galaxy_net.yaml
  data/latents_simulated_sdss_galaxies.pt
  docs/_modules/bliss/models/decoder.html
  docs/_modules/bliss/models/galaxy_net.html
  docs/api/bliss.models.html
  docs/searchindex.js
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make sure latents loaded on cpu
  bliss/models/decoder.py
  docs/_modules/bliss/models/decoder.html
  docs/api/bliss.models.html
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

bump up latent dim to 64
  bliss/models/decoder.py
  config/model/binary_sdss.yaml
  config/model/galaxy_encoder_sdss.yaml
  config/model/galaxy_net.yaml
  config/model/sleep_1galaxy_1star.yaml
  config/model/sleep_galaxy_basic.yaml
  config/model/sleep_sdss_detection.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Got binary running again
  bliss/models/decoder.py
  bliss/models/galaxy_net.py
  docs/_modules/bliss/models/decoder.html
  docs/_modules/bliss/models/galaxy_net.html
  docs/api/bliss.models.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

updated binary checkpoint
  models/README.md
  models/sdss_binary.ckpt
Due: trailing-whitespace, end-of-file-fixer

updated instructions in readme
  models/README.md
Due: trailing-whitespace, end-of-file-fixer

sort of got blended galaxy encoder working
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

using MSE to train
  bliss/models/galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add updated latents
  data/latents_simulated_sdss_galaxies.pt
Due: none

Clean up comments
  bliss/sleep.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

script to run starnet on m2
  case_studies/starnet/fits/README.md
  case_studies/starnet/m2_results.ipynb
  case_studies/starnet/scripts/train_sleep.py
  case_studies/starnet/scripts/train_sleep.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use old sdss data loader
  case_studies/starnet/m2_lib/m2_data.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

scripts to get outside data
  case_studies/starnet/daophot_data/README.md
  case_studies/starnet/fits/get_pcat_chain.sh
  case_studies/starnet/hubble_data/README.md
Due: trailing-whitespace, end-of-file-fixer

gitignore
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

loading sdss and hubble data
  case_studies/starnet/m2_utils/m2_data.py
  case_studies/starnet/m2_utils/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

still cleaning
  case_studies/starnet/m2_pcat_results.ipynb
  case_studies/starnet/m2_utils/m2_data.py
  case_studies/starnet/m2_utils/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

got it training without loss
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

don't clamp recon_var
  bliss/models/galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Updated sdss_galaxy_encoder.ckpt
  docs/_modules/bliss/models/galaxy_net.html
  docs/api/bliss.models.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
  models/README.md
  models/sdss_galaxy_encoder.ckpt
Due: trailing-whitespace, end-of-file-fixer

Change from using absolute path to relative path
  bliss/tune.py
  config/dataset/sdss_galaxies.yaml
  config/generate/sdss_galaxies.yaml
  config/model/decoder/1galaxy_1star.yaml
  config/model/decoder/1tile.yaml
  config/model/decoder/galaxy_basic.yaml
  config/model/decoder/m2.yaml
  config/model/decoder/sdss_standard.yaml
  config/model/decoder/star_basic.yaml
  config/predict/sdss.yaml
  tests/test_tune.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Disable Hydra from managing workdir
  bliss/train.py
  config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix config path
  bliss/generate.py
  bliss/train.py
  config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Turn off local mode in Ray
  tests/test_tune.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
