Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

updated reporting of train and val loss
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated on_validation_epoch to include metric calculations and updates
  case_studies/weak_lensing/lensing_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix names in lensing prior and decoder so they match what's expected in metrics
  bliss/catalog.py
  case_studies/weak_lensing/lensing_decoder.py
  case_studies/weak_lensing/lensing_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Prep lensing config for training on simulated images
  case_studies/weak_lensing/lensing_config.yaml
Due: trailing-whitespace, end-of-file-fixer

I/23 (#50)
  experiment/figures/ae_bin_hists.png
  experiment/figures/ae_bin_measurements.png
  experiment/figures/ae_random_recon.png
  experiment/figures/ae_worst_recon.png
  experiment/get_figures.py
  experiment/get_model_from_checkpoint.py
  experiment/get_single_galaxies_datasets.py
  experiment/models/autoencoder.pt
  experiment/models/autoencoder_42.pt
  experiment/notebooks/tests/ae_tests.ipynb
  experiment/run/bin/run_autoencoder_train.py
  experiment/run/log.txt
  experiment/run/run_autoencoder.sh
  experiment/run/training_functions.py
  experiment/scripts_figures/ae_figures.py
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Small tweaks to lensing maps
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix loss for detection and binary encoder (#51)
  bliss/encoders/binary.py
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Slightly harder setting: constant shear within image, variable shear between images
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove vmin and vmax in lensing maps
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Lensing metrics: fix MSE denominator and use zero as baseline shear prediction
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Split up config into two; use better paths for plots during training
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed loss plots and small encoder updates
  case_studies/weak_lensing/lensing_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

notebooks added that demonstrate overfitted deblender estimating flux jointly correctly (#53)
  bliss/encoders/deblend.py
  experiment/get_figures.py
  experiment/notebooks/tests/test_deblender1.ipynb
  experiment/notebooks/tests/test_deblender2.ipynb
  experiment/run/log.txt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

io lives in lsst (#55)
  bliss/datasets/lsst.py
  experiment/get_blends_datasets.py
  experiment/get_single_galaxies_datasets.py
  tests/test_galaxy_blend_dataset.py
  tests/test_individual_galaxy_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Use better output path
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_simulator.yaml
Due: trailing-whitespace, end-of-file-fixer

Refactor lensing maps
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated net layers
  case_studies/weak_lensing/lensing_convnet_layers.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Finish refactoring lensing maps
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_simulator.yaml
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add early stopping to 3 encoders (#58)
  bliss/encoders/autoencoder.py
  bliss/encoders/deblend.py
  experiment/run/bin/run_autoencoder_train.py
  experiment/run/bin/run_binary_train.py
  experiment/run/bin/run_deblender_train.py
  experiment/run/training_functions.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Small updates to dc2 config
  case_studies/weak_lensing/lensing_config_dc2.yaml
Due: trailing-whitespace, end-of-file-fixer

Fix bug in lensing plots by resetting to empty list
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Scatterplots of shear1, shear2, and convergence during training
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add dashed y=x line to scatterplots
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Better matplotlib approach for training and val loss plots
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add pic
  case_studies/redshift/evaluation/plot/different_dist_Bliss_bias_abs.pdf
  case_studies/redshift/evaluation/plot/different_dist_Bliss_mse.pdf
  case_studies/redshift/evaluation/plot/different_dist_Bliss_nmad.pdf
  case_studies/redshift/evaluation/plot/different_dist_Bliss_outlier_fraction.pdf
  case_studies/redshift/evaluation/plot/different_dist_Bliss_outlier_fraction_cata.pdf
Due: none

Specify random seed in generate
  bliss/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adds trained deblender that performs reasonably well (#59)
  bliss/catalog.py
  bliss/datasets/io.py
  bliss/encoders/deblend.py
  experiment/figures/ae_bin_measurements.png
  experiment/figures/ae_random_recon.png
  experiment/figures/ae_worst_recon.png
  experiment/get_blends_datasets.py
  experiment/models/autoencoder_42.pt
  experiment/models/autoencoder_43.pt
  experiment/models/deblend_42.pt
  experiment/notebooks/tests/galaxy_density.ipynb
  experiment/notebooks/tests/test_deblender2.ipynb
  experiment/notebooks/tests/test_deblender3.ipynb
  experiment/run/bin/run_deblender_train.py
  experiment/run/log.txt
  experiment/run/run_deblender.sh
  experiment/run/training_functions.py
  experiment/scripts_figures/toy_figures.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add avg. stellar density (#65)
  .gitignore
  bliss/datasets/lsst.py
  data/stellar_density_lsst.fits.gz
  experiment/notebooks/paper/back-of-the-envelope.ipynb
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add PSFEx notebook with instructions.
  case_studies/galaxy_clustering/notebooks/DESPSFEx.ipynb
Due: trailing-whitespace, end-of-file-fixer

final results?
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/main.py
  case_studies/spatial_tiling/m2/m2.ipynb
  case_studies/spatial_tiling/sdss_demo/config.yaml
  case_studies/spatial_tiling/sdss_demo/sdss_field.py
  case_studies/spatial_tiling/sdss_demo/toy_example.ipynb
  tests/data/base_config_trained_encoder.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

perhaps finished with spatial tiling case study (#1073)
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/main.py
  case_studies/spatial_tiling/m2/m2.ipynb
  case_studies/spatial_tiling/sdss_demo/config.yaml
  case_studies/spatial_tiling/sdss_demo/sdss_field.py
  case_studies/spatial_tiling/sdss_demo/toy_example.ipynb
  tests/data/base_config_trained_encoder.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Reupload DESPSFEx NOTEBOOK.
  case_studies/galaxy_clustering/notebooks/DESPSFEx.ipynb
Due: trailing-whitespace, end-of-file-fixer

rolled back dropout changes with deeper network
  case_studies/weak_lensing/lensing_convnet.py
  case_studies/weak_lensing/lensing_convnet_layers.py
  case_studies/weak_lensing/lensing_metrics.py
  case_studies/weak_lensing/lensing_plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Small syntax things in lensing encoder
  case_studies/weak_lensing/lensing_convnet_layers.py
  case_studies/weak_lensing/lensing_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

New random seed in generate_one_file to match master
  bliss/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove empty line to match master
  bliss/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update logger names and patience/max_epochs in lensing configs
  case_studies/weak_lensing/lensing_config_dc2.yaml
  case_studies/weak_lensing/lensing_config_simulator.yaml
Due: trailing-whitespace, end-of-file-fixer

Update encoder evaluation notebook
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
