Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

Modify cluster prior to use redMaPPer catalogs.
  case_studies/galaxy_clustering/data_generation/cluster_prior.py
  case_studies/galaxy_clustering/data_generation/redmapper_sva1-expanded_public_v6.3_catalog.fits
  case_studies/galaxy_clustering/data_generation/redmapper_sva1-expanded_public_v6.3_members.fits
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Modify cluster prior to use redMaPPer catalogs.
  case_studies/galaxy_clustering/redmapper_sva1-expanded_public_v6.3_catalog.fits
  case_studies/galaxy_clustering/redmapper_sva1-expanded_public_v6.3_members.fits
Due: none

Modify prior to generate only one sample at a time.
  case_studies/galaxy_clustering/data_generation/cluster_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

context1true
  bliss/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Modify catalog_gen to use new prior. Refactor data generation.
  case_studies/galaxy_clustering/data-gen.sh
  case_studies/galaxy_clustering/data_generation/catalog_gen.py
  case_studies/galaxy_clustering/data_generation/data-gen.sh
  case_studies/galaxy_clustering/data_generation/file_datum_generation.py
  case_studies/galaxy_clustering/data_generation/gal_gmm_nmgy.pkl
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Remove color model. Clean up prior.
  case_studies/galaxy_clustering/data_generation/cluster_prior.py
  case_studies/galaxy_clustering/data_generation/gal_gmm_nmgy.pkl
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

modify for PR
  bliss/conf/base_config.yaml
  bliss/encoder/variational_dist.py
  bliss/main.py
  bliss/surveys/dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

rm DC2output
  case_studies/redshift/evaluation/DC2output/bliss_output.pkl
  case_studies/redshift/evaluation/DC2output/bliss_output_all.pkl
  case_studies/redshift/evaluation/DC2output/gt_output.pkl
  case_studies/redshift/evaluation/DC2output/gt_output_all.pkl
Due: trailing-whitespace, end-of-file-fixer

modify for test
  bliss/surveys/dc2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Get config up-to-date with new encoder.
  case_studies/galaxy_clustering/config.yaml
Due: trailing-whitespace, end-of-file-fixer

Remove Y band from column names.
  case_studies/galaxy_clustering/data_generation/file_datum_generation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Qh/bliss redshift (#1013)
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/main.py
  bliss/surveys/dc2.py
  case_studies/redshift/evaluation/dc2_plot.ipynb
  case_studies/redshift/evaluation/notebook_plot.yaml
  case_studies/redshift/redshift_from_img/DC2_generate_cat_split_data.ipynb
  case_studies/redshift/redshift_from_img/DC2_redshift_plot.ipynb
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/redshift_from_img/encoder/metrics.py
  case_studies/redshift/redshift_from_img/encoder/variational_dist.py
  case_studies/redshift/redshift_from_img/full_train_config.yaml
  case_studies/redshift/redshift_from_img/full_train_config_redshift.yaml
  case_studies/redshift/redshift_from_img/notebook_config.yaml
  case_studies/redshift/redshift_from_img/notebook_predict_config.yaml
  case_studies/redshift/redshift_from_img/train.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

dc2 for weak lensing naive architecture with subclassed dc2, convnet, encoder, modified metrics, have to make some changes to pass commit tests
  bliss/catalog.py
  bliss/conf/base_config.yaml
  case_studies/weak_lensing/lensing_config.yaml
  case_studies/weak_lensing/lensing_convnet.py
  case_studies/weak_lensing/lensing_dc2.py
  case_studies/weak_lensing/lensing_encoder.py
  case_studies/weak_lensing/lensing_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

removed non-reference bands; fix infinite fluxes
  bliss/cached_dataset.py
  bliss/encoder/encoder.py
  bliss/encoder/variational_dist.py
  case_studies/spatial_tiling/m2.ipynb
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add colors notebook. This needs a local copy of the redmapper catalogs to run, whcih is currently present in the data_generation subdirectory.
  case_studies/galaxy_clustering/notebooks/colors.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update colors.
  case_studies/galaxy_clustering/notebooks/colors.ipynb
Due: trailing-whitespace, end-of-file-fixer

Fix color ordering.
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
Due: trailing-whitespace, end-of-file-fixer

modify according to pr comments
  bliss/encoder/encoder.py
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/bootstrap.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add some exploratory stuff.
  case_studies/galaxy_clustering/notebooks/colors.ipynb
Due: trailing-whitespace, end-of-file-fixer

Fix color computation.
  case_studies/galaxy_clustering/notebooks/colors.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add config file to loading encoder.
  case_studies/galaxy_clustering/DES_inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename variables, remove print statements and overall cleanup.
  case_studies/galaxy_clustering/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix typo in unfold step: 1245 -> 1235.
  case_studies/galaxy_clustering/cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add predict DES configuration parameters.
  case_studies/galaxy_clustering/config.yaml
Due: trailing-whitespace, end-of-file-fixer

Change DES prediction to use lightning, consistent with the rest of BLISS.
  case_studies/galaxy_clustering/DES_inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add type check of batches for inference.
  case_studies/galaxy_clustering/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

a new transform to filter flux bands
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/encoder/variational_dist.py
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/spatial_tiling/m2.ipynb
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/spatial_tiling/two_point_metric.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

refactor the est_cat normalizing; toy_example.yaml
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  case_studies/spatial_tiling/toy_example.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

16-mixed for all
  case_studies/spatial_tiling/m2_config.yaml
Due: trailing-whitespace, end-of-file-fixer

jeff review changes
  case_studies/strong_lensing/.gitignore
  case_studies/strong_lensing/convert_catalog.py
  case_studies/strong_lensing/data/DECam_00154912_12_psfcat.psf
  case_studies/strong_lensing/data/acs_I_unrot_sci_20_cf.fits
  case_studies/strong_lensing/data/real_galaxy_PSF_images.fits
  case_studies/strong_lensing/run_sim.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

toy example should use single-band flux; back to 32-true
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/variational_dist.py
  bliss/main.py
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/spatial_tiling/moving_star.ipynb
  case_studies/spatial_tiling/toy_example.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add nanmask; upgrade dependencies; update tests
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/psf_variation/config.yaml
  poetry.lock
  pyproject.toml
  tests/data/base_config_trained_encoder.pt
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

filter warning from pytorch-lightning
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

added call to super
  bliss/cached_dataset.py
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Style fixes.
  case_studies/galaxy_clustering/DES_inference.py
  case_studies/galaxy_clustering/cached_dataset.py
  case_studies/galaxy_clustering/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add MultiDetectEncoder (#1035)
  bliss/catalog.py
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/bootstrap.ipynb
  case_studies/dc2_cataloging/classification_accuracy.ipynb
  case_studies/dc2_cataloging/exp_record.md
  case_studies/dc2_cataloging/n_sources_per_tile.ipynb
  case_studies/dc2_cataloging/notebook_config.yaml
  case_studies/dc2_cataloging/run_great_lake/directly_run_great_lake/run_great_lake.sh
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/train_config_debug.yaml
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/dc2_cataloging/utils/load_full_cat.py
  case_studies/dc2_cataloging/utils/lsst_predictor.py
  case_studies/dc2_cataloging/utils/multi_detect_convnet.py
  case_studies/dc2_cataloging/utils/variational_dist.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor generative prior to combine common methods.
  case_studies/galaxy_clustering/data_generation/background_prior.py
  case_studies/galaxy_clustering/data_generation/catalog_gen.py
  case_studies/galaxy_clustering/data_generation/cluster_prior.py
  case_studies/galaxy_clustering/data_generation/file_datum_generation.py
  case_studies/galaxy_clustering/data_generation/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

OneBandTransform; regularized double detection; 16-mixed precision (#1037)
  bliss/cached_dataset.py
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/encoder/variational_dist.py
  bliss/main.py
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/psf_variation/config.yaml
  case_studies/spatial_tiling/m2.ipynb
  case_studies/spatial_tiling/m2_config.yaml
  case_studies/spatial_tiling/moving_star.ipynb
  case_studies/spatial_tiling/toy_example.yaml
  case_studies/spatial_tiling/two_point_metric.py
  poetry.lock
  pyproject.toml
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/test_encoder.py
  tests/test_simulate.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
