Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

fix sim blend metrics plots
  case_studies/sdss_galaxies/plots/main.py
  case_studies/sdss_galaxies/plots/sim_blend_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new images generated
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
Due: trailing-whitespace, end-of-file-fixer

add render_galaxies method to GalsimGalaxiesDecoder
  bliss/models/galsim_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

checking new dataset from new decoder
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
Due: trailing-whitespace, end-of-file-fixer

remove subtle seed in figures
  case_studies/sdss_galaxies/plots/bliss_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update notebook
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
Due: trailing-whitespace, end-of-file-fixer

use odd image size??
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

new plots
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: none

issue disappears on even images with a small shift from center
  bliss/models/galsim_decoder.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

change names
  bliss/datasets/galsim_galaxies.py
  bliss/models/galsim_decoder.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Im/full galsim decoder (#640)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/sdss_blended_galaxies.py
  bliss/datasets/simulated.py
  bliss/generate.py
  bliss/models/decoder.py
  bliss/models/galsim_decoder.py
  bliss/reporting.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder_full_decoder.yaml
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/plots/bliss_figures.py
  case_studies/sdss_galaxies/plots/main.py
  case_studies/sdss_galaxies/plots/sim_blend_metrics.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  tests/case_studies/sdss_galaxies/test_full_galsim_decoder.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Im/full galsim decoder (#640)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/sdss_blended_galaxies.py
  bliss/datasets/simulated.py
  bliss/generate.py
  bliss/models/decoder.py
  bliss/models/galsim_decoder.py
  bliss/reporting.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder_full_decoder.yaml
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/plots/bliss_figures.py
  case_studies/sdss_galaxies/plots/main.py
  case_studies/sdss_galaxies/plots/sim_blend_metrics.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  tests/case_studies/sdss_galaxies/test_full_galsim_decoder.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

only need 10 workers for 10 batches per epoch
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

only need 10 workers for 10 batches per epoch (#641)
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

fix error in gpu test
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make it explicit when exceeding number of sources in tile
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix flake8
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add test for catalog functionality
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

imported by mistake
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Im/fix max tile sources (#642)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

psf decoder and t confit
  bliss/case_studies/psf_homogenization/config/training/sdss_detection_encoder_full_decoder.yaml
  case_studies/psf_homogenization/config/__init__.py
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/config/generate/sdss_individual_galaxies.yaml
  case_studies/psf_homogenization/config/training/sdss_autoencoder.yaml
  case_studies/psf_homogenization/config/training/sdss_binary.yaml
  case_studies/psf_homogenization/config/training/sdss_detection_encoder.yaml
  case_studies/psf_homogenization/config/training/sdss_detection_encoder_full_decoder.yaml
  case_studies/psf_homogenization/config/training/sdss_galaxy_encoder.yaml
  case_studies/psf_homogenization/main.py
  case_studies/psf_homogenization/notebook/full-galsim-decoder.ipynb
  case_studies/psf_homogenization/psf_decoder.py
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

delete duplicate file
  bliss/case_studies/psf_homogenization/config/training/sdss_detection_encoder_full_decoder.yaml
Due: trailing-whitespace, end-of-file-fixer

add config to run model on unhomogenized simulated image
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/config/training/sdss_detection_encoder_full_decoder_homo.yaml
Due: trailing-whitespace, end-of-file-fixer

compare homo image with unhomo imimage
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/config/generate/sdss_individual_galaxies.yaml
  case_studies/psf_homogenization/config/training/sdss_autoencoder.yaml
  case_studies/psf_homogenization/config/training/sdss_binary.yaml
  case_studies/psf_homogenization/config/training/sdss_detection_encoder_full_decoder_unhomo.yaml
  case_studies/psf_homogenization/config/training/sdss_galaxy_encoder.yaml
  case_studies/psf_homogenization/psf_decoder.py
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fit homogenized imagege in model
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/psf_decoder.py
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

test cases
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/notebook/full-galsim-decoder.ipynb
  case_studies/psf_homogenization/notebook/result_testing.ipynb
  case_studies/psf_homogenization/psf_decoder.py
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add comments
  case_studies/psf_homogenization/notebook/result_testing.ipynb
Due: trailing-whitespace, end-of-file-fixer

change weight input
  case_studies/psf_homogenization/notebook/result_testing.ipynb
Due: trailing-whitespace, end-of-file-fixer

add sweep catalog containing stripe 82 data
  data/sweep-330m005-340p000.fits
Due: none

problem in loading checkpoints
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/notebook/result_testing.ipynb
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer

adding align_single_exposures function, snr function and galsim_galaxy dataset
  case_studies/coadds/align_single_exposures.py
  case_studies/coadds/datasets.galsim_galaxies.py
  case_studies/coadds/signal_noise_ratio
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add align_single_exposures, snr functions and galsim_galaxies dataset -- incomplete
  case_studies/coadds/coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update config
  case_studies/coadds/config/config.yml
Due: trailing-whitespace, end-of-file-fixer

notebook of model testing
  case_studies/psf_homogenization/config/config.yaml
  case_studies/psf_homogenization/notebook/result_testing.ipynb
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer

new full catalog
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

frame can use both catalogs
  bliss/inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

include new integer type
  bliss/datasets/sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make sure varialbe name is correct
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer
