Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

Add plotly notebook (#500)
  bliss/reporting.py
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
  case_studies/sdss_galaxies/plots.py
  poetry.lock
  pyproject.toml
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix poetry
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

need to pin bandit version
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

update black
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/models/galaxy_net.py
  bliss/models/location_encoder.py
  bliss/sleep.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

needed to update wemake
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

update deprecated argument
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  tests/case_studies/m2/m2.yaml
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer

fix poetry (#504)
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/models/galaxy_net.py
  bliss/models/location_encoder.py
  bliss/sleep.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  poetry.lock
  pyproject.toml
  tests/case_studies/m2/m2.yaml
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added n_galaxies_detected measurement
  bliss/reporting.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

linters'
  bliss/datasets/galsim_galaxies.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix Galsim sampling
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

darglint
  bliss/datasets/galsim_galaxies.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Enable use of Galsim directly within sleep phase (#501)
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/simulated.py
  bliss/inference.py
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/reporting.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies_vae/test_sdss_blended_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Enable use of Galsim directly within sleep phase (#501)
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/simulated.py
  bliss/inference.py
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/reporting.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_sleep.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies_vae/test_sdss_blended_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update sphinx
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

investigating
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
Due: trailing-whitespace, end-of-file-fixer

update lock
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

go down to 24
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

error with bp in notebook
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
Due: trailing-whitespace, end-of-file-fixer

update notebook
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
Due: trailing-whitespace, end-of-file-fixer

set bins better
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

poetry lock
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

Investigate misclassifications at low magnitudes (#505)
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
  case_studies/sdss_galaxies/plots.py
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

shift all by 0.5
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix notebook too
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
Due: trailing-whitespace, end-of-file-fixer

clarification
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

experiment with gamma distribution
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies_vae/Galaxy_Flow_and_Flux.ipynb
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

retrained sleep and galaxy encoder
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
Due: none

bump up number of VAE training epochs
  case_studies/sdss_galaxies_vae/config/training/sdss_vae.yaml
Due: trailing-whitespace, end-of-file-fixer

retrained VAE and binary
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
Due: none

Separate out Galsim prior as separate object
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

don't need both sample() and draw_galaxy_params()
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make galaxy hlr parameters better
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix config
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

encapsulate decoder
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix galaxy prior test
  tests/case_studies/sdss_galaxies/test_galaxy_prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

don't rely on Galsim dataset to load PSF:
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use same path object in test
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
