Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

VAE: retrained flow
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt.log.json
Due: none

VAE: dont use smaller dataset size
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

VAE: Got galaxy encoder training stablized using weight norm and normal approximation to flow
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/galaxy_vae.py
  bliss/models/vae/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added nan checking
  bliss/models/galaxy_encoder.py
  bliss/models/vae/galaxy_vae.py
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

VAE: add retrained weights
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
Due: none

VAE: more changes
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

VAE: bump up latent dimension to 32
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
Due: trailing-whitespace, end-of-file-fixer

VAE: Removing the flow seemed to fix training issues for galaxy encoder
  bliss/models/galaxy_encoder.py
  bliss/models/vae/prior.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt.log.json
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

get plots.py working again
  bliss/generate.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/predict.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix autoencoder tests
  bliss/models/galaxy_net.py
  case_studies/sdss_galaxies/tests/test_galaxy_autoencoder.py
  case_studies/sdss_galaxies_vae/tests/test_galaxy_vae.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix generate test
  case_studies/sdss_galaxies/tests/test_generate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

VAE: add retrained weights
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
Due: none

VAE: fix makefile
  case_studies/sdss_galaxies_vae/Makefile
Due: trailing-whitespace, end-of-file-fixer

added background to predict.py
  bliss/predict.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies/tests/test_generate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

delete uneeded files
  bliss/models/galaxy_net_new.py
  bliss/models/vae/galaxy_net_new.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

increase stride factor to observe more parts of image
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder_real.yaml
Due: trailing-whitespace, end-of-file-fixer

linting
  bliss/generate.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/vae/galaxy_flow.py
  bliss/predict.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

VAE: added weights trained on real galaxy
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
Due: none

pylint
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use MAP estimate for galaxy params inside encoder.py
  bliss/encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/vae/galaxy_vae.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

flake8 fixes
  bliss/models/galaxy_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

VAE: Fix issue where we were evaluating divergence loss of images without galaxies
  bliss/models/galaxy_encoder.py
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

flake8 fix on docstring
  bliss/predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Resurrect old galaxy autoencoder architecture (#442)
  bliss/encoder.py
  bliss/generate.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/vae/galaxy_flow.py
  bliss/models/vae/galaxy_net.py
  bliss/models/vae/galaxy_vae.py
  bliss/models/vae/prior.py
  bliss/predict.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/models/results
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies/tests/test_galaxy_autoencoder.py
  case_studies/sdss_galaxies/tests/test_generate.py
  case_studies/sdss_galaxies_vae/Makefile
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt.log.json
  case_studies/sdss_galaxies_vae/tests/test_galaxy_vae.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Get metrics working with VAE
  bliss/encoder.py
  bliss/inference.py
  bliss/models/decoder.py
  bliss/models/location_encoder.py
  bliss/reporting.py
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

run black
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix some tests
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies/tests/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Get metrics working on VAE code (#430)
  bliss/encoder.py
  bliss/inference.py
  bliss/models/decoder.py
  bliss/models/location_encoder.py
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies/tests/test_reporting.py
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

no longer needs to be fixed
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Get plots.py almost working
  bliss/encoder.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add additional options to get_params_from_coadd()
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

shift plocs down by 0.5
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove slen from decoder and fix assumptions about simulated image size
  bliss/datasets/simulated.py
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/sleep.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  tests/m2/m2.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add tqdm description when reconstructing chunks
  bliss/inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

individual galaxy to reconstruct for plots
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.pdf
Due: trailing-whitespace, end-of-file-fixer

use same number of points for both ellpiticities in scatter bin plot
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

better ylabel for mag
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

avoid multiline, fix marker size and color
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
