Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

Eliminate ChunkedScene code
  bliss/encoder.py
  bliss/inference.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

clean some things up
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Pipeline still works
  bliss/encoder.py
  bliss/inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix flake and mypy
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

got it working
  bliss/encoder.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

encapsulate part of encoder that works on ptiles
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

a couple of small fixes, figures stayed the same
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Allow Encoder to handle entire frame and remove ChunkedScene (#597)
  bliss/encoder.py
  bliss/inference.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

annotate with DECals description and ra,dec for future reference.
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

more annotations
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

Annotate scene blends (#598)
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

add snr measurement to galsim galaxies
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add snr measurement to galsim galaxies (#600)
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add snr measurement to galsim galaxies (#600)
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

plots of bins as a function of SNR look reasonable
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

smaller bins
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

AE case study: plot bin errors of individual galaxies reconstruction measurements as function of SNR (#601)
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

AE case study: plot bin errors of individual galaxies reconstruction measurements as function of SNR (#601)
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Move branching logic out of decoder
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  bliss/models/galaxy_net.py
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix configs
  bliss/models/decoder.py
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove unneeded keys from state dicts
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
Due: none

Fix documentation bug
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer

Update docs.yml
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer

Revert "Update docs.yml"
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer

Fix documentation errors by pinning git push action (#605)
  .github/workflows/docs.yml
Due: trailing-whitespace, end-of-file-fixer

Add else statement to catch invalid galaxy_model type
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Move Galsim branching logic out of decoder (#603)
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  bliss/models/galaxy_net.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Move Galsim branching logic out of decoder (#603)
  bliss/datasets/simulated.py
  bliss/models/decoder.py
  bliss/models/galaxy_net.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Make variational mode a special case of LocationEncoder.sample()
  bliss/encoder.py
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

improve comment
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

put locs and fluxes under same if statement
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

allow adjustment to detection probabilities when sampling as well
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

keepdim=True in logsumexp
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Make variational mode a special case of LocationEncoder.sample() (#606)
  bliss/encoder.py
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

dataset is nothing specific to SDSS since prior and decoder absorb that
  bliss/datasets/galsim_galaxies.py
  bliss/models/prior.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  tests/case_studies/sdss_galaxies/conftest.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add unit test and config
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
