Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

allow for evaluation on GPU now, wasn't working before
  case_studies/redshift/evaluation/evaluate_cts.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

code for testing rail
  case_studies/redshift/redshift_flexzboost/test_rail.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add yolov10
  case_studies/dc2_cataloging/cataloging_exp.ipynb
  case_studies/dc2_cataloging/generate_catalog.ipynb
  case_studies/dc2_new_diffusion/.gitignore
  case_studies/dc2_new_diffusion/test_diffusion.ipynb
  case_studies/dc2_new_diffusion/train_encoder_decoder.ipynb
  case_studies/dc2_new_diffusion/visualize_bbox.ipynb
  case_studies/dc2_yolov10/config/v10_notebook_config.yaml
  case_studies/dc2_yolov10/config/v10_train_config.yaml
  case_studies/dc2_yolov10/config/v10_train_config_debug.yaml
  case_studies/dc2_yolov10/run_dc2_yolov10.sh
  case_studies/dc2_yolov10/utils/assigner.py
  case_studies/dc2_yolov10/utils/conv_layers.py
  case_studies/dc2_yolov10/utils/encoder.py
  case_studies/dc2_yolov10/utils/loss.py
  case_studies/dc2_yolov10/utils/model.py
  case_studies/dc2_yolov10/utils/other.py
  case_studies/dc2_yolov10/v10_summary.txt
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

I fixed discrete version by changing learning rate back to 1e-3
  case_studies/redshift/evaluation/continuous_eval.yaml
  case_studies/redshift/evaluation/discrete_eval.yaml
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new master yamls
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
Due: trailing-whitespace, end-of-file-fixer

update yolov10
  bliss/conf/base_config.yaml
  case_studies/dc2_cataloging/cataloging_exp.ipynb
  case_studies/dc2_cataloging/diff_matching_slack.ipynb
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_notebook_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_train_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_train_config_debug.yaml
  case_studies/dc2_yolov10/run_dc2_yolov10.sh
  case_studies/dc2_yolov10/utils/assigner.py
  case_studies/dc2_yolov10/utils/encoder.py
  case_studies/dc2_yolov10/utils/loss.py
  case_studies/dc2_yolov10/utils/model.py
  case_studies/dc2_yolov10/utils/other.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update yolov10
  bliss/conf/base_config.yaml
  case_studies/dc2_cataloging/diff_matching_slack.ipynb
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_notebook_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_train_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_train_config_debug.yaml
  case_studies/dc2_yolov10/run_dc2_yolov10.sh
  case_studies/dc2_yolov10/utils/assigner.py
  case_studies/dc2_yolov10/utils/encoder.py
  case_studies/dc2_yolov10/utils/loss.py
  case_studies/dc2_yolov10/utils/model.py
  case_studies/dc2_yolov10/utils/other.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update yolov10
  case_studies/dc2_yolov10/config/v10_train_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_train_config.yaml
  case_studies/dc2_yolov10/locs_config/v10_locs_train_config_debug.yaml
  case_studies/dc2_yolov10/utils/encoder.py
  case_studies/dc2_yolov10/utils/metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

some work on logging intermediate results. I now want to resolve lack of reproducibility and memory leak so we can continue training
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Minor updates to image_gen_utils.
  case_studies/galaxy_clustering/utils/image_gen_utils.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add script for generating DES Images through GalSim.
  case_studies/galaxy_clustering/data_generation/des_galsim_gen.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

reorg; think we have seeding and memory leak sorted? Unsure about small numerical differences that add up though
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

linting
  case_studies/redshift/artifacts/redshift_dc2.py
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift_from_img/encoder/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

deleting old configs
  case_studies/redshift/redshift_from_img/continuous.yaml
  case_studies/redshift/redshift_from_img/discrete.yaml
Due: trailing-whitespace, end-of-file-fixer

tweak
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer

temp changes
  bliss/main.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed some bugs, removed flexzboost data creation from data_generation.py
  case_studies/redshift/artifacts/data_generation.py
  case_studies/redshift/redshift.yaml
  case_studies/redshift/redshift_flexzboost/flexzboost_fast.py
  case_studies/redshift/redshift_flexzboost/test_rail.py
  case_studies/redshift/redshift_flexzboost/train_rail.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Manuscript figures: frequentist coverage of credible intervals
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: none

Rerun notebooks with new ckpt
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: trailing-whitespace, end-of-file-fixer

Manuscript: change font size in figures 1, 4, 5
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
Due: none

Compute Spearman and Kendall correlations
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
Due: none

Manuscript: RGB image for figure 1a
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
Due: none

Manuscript: Fix CI width bug, font sizes, and colors for figs 6 and 7
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: none

Manuscript: change font size in figures 1 and 2
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure2.ipynb
Due: none

added data generation for flexzboost
  case_studies/redshift/artifacts/flexzboost_data_generation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

address WPS473 (which wasn't found locally?)
  case_studies/redshift/artifacts/data_generation.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated pylint
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

raise exception if match_gating isn't specified correctly
  .pylintrc
  case_studies/redshift/redshift_from_img/encoder/metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

black fix
  case_studies/redshift/old/train_rs_light.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Infrastructure miscellaneous. (#1084)
  case_studies/redshift/artifacts/redshift_dc2.py
  case_studies/redshift/evaluation/continuous_eval.yaml
  case_studies/redshift/evaluation/discrete_eval.yaml
  case_studies/redshift/evaluation/evaluate_cts.py
  case_studies/redshift/evaluation/plots_bliss.py
  case_studies/redshift/redshift.yaml
  case_studies/redshift/redshift_continuous.yaml
  case_studies/redshift/redshift_discrete.yaml
  case_studies/redshift/redshift_from_img/encoder/encoder.py
  case_studies/redshift/runner.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Weak lensing: small updates to manuscript figures (#1085)
  case_studies/weak_lensing/notebooks/dc2/ellipticity.ipynb
  case_studies/weak_lensing/notebooks/dc2/evaluate_encoder.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure1.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figure2.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures4and5.ipynb
  case_studies/weak_lensing/notebooks/dc2/manuscript/figures6and7.ipynb
Due: trailing-whitespace, end-of-file-fixer

update ynet and notebooks
  bliss/conf/base_config.yaml
  case_studies/dc2_cataloging/.gitignore
  case_studies/dc2_cataloging/craft_ci.ipynb
  case_studies/dc2_cataloging/train_config.yaml
  case_studies/dc2_new_diffusion/.gitignore
  case_studies/dc2_new_diffusion/craft_ci.ipynb
  case_studies/dc2_new_diffusion/exp_record.md
  case_studies/dc2_new_diffusion/image_dist.ipynb
  case_studies/dc2_new_diffusion/latent_diffusion_config/latent_diffusion_train_config.yaml
  case_studies/dc2_new_diffusion/n_sources_per_tile.ipynb
  case_studies/dc2_new_diffusion/plot_schedule.ipynb
  case_studies/dc2_new_diffusion/run_dc2_new_diffusion.sh
  case_studies/dc2_new_diffusion/test_diffusion.ipynb
  case_studies/dc2_new_diffusion/test_diffusion_ability.ipynb
  case_studies/dc2_new_diffusion/test_diffusion_steps.ipynb
  case_studies/dc2_new_diffusion/test_encoder_decoder.ipynb
  case_studies/dc2_new_diffusion/test_nn.ipynb
  case_studies/dc2_new_diffusion/test_normalizing_flow_ability.ipynb
  case_studies/dc2_new_diffusion/train_encoder_decoder.ipynb
  case_studies/dc2_new_diffusion/utils/catalog_parser.py
  case_studies/dc2_new_diffusion/utils/diffusion.py
  case_studies/dc2_new_diffusion/utils/encoder.py
  case_studies/dc2_new_diffusion/utils/metrics.py
  case_studies/dc2_new_diffusion/utils/unet.py
  case_studies/dc2_new_diffusion/visualize_bbox.ipynb
  case_studies/dc2_new_diffusion/visualize_tile_cat.ipynb
  case_studies/dc2_new_diffusion/ynet_diffusion_config/ynet_full_diffusion_notebook_config.yaml
  case_studies/dc2_new_diffusion/ynet_diffusion_config/ynet_full_diffusion_train_config.yaml
  case_studies/dc2_new_diffusion/ynet_diffusion_config/ynet_full_diffusion_train_config_debug.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move old notebooks to subdirectories
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/encoder_evaluation.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/example.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/predictions.ipynb
  case_studies/weak_lensing/notebooks/bliss_tutorials/deprecated/training_loop.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/cosmology_prior.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/generate_images.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/generate_power_spectrum.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/potential_priors.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/updated_prior.ipynb
  case_studies/weak_lensing/notebooks/weak_lensing_sims/deprecated/wl_galaxy_shape_derivation.ipynb
Due: trailing-whitespace, end-of-file-fixer
