Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

add models and notebook
  case_studies/coadds/config/config.yaml
  case_studies/coadds/models/coadd_encoder_1.pt
  case_studies/coadds/models/coadd_encoder_2.pt
  case_studies/coadds/models/encoder_1.pt
  case_studies/coadds/notebooks/coadd_encoder_1.pt
  case_studies/coadds/notebooks/model_test_new.ipynb
  case_studies/coadds/train.sh
Due: trailing-whitespace, end-of-file-fixer

update notebook and config
  case_studies/coadds/config/config.yaml
  case_studies/coadds/notebooks/model_test_new.ipynb
Due: trailing-whitespace, end-of-file-fixer

sum log probs in loss; fixes simulated many stars padded coverage
  bliss/models/location_encoder.py
  bliss/sleep.py
  case_studies/starnet/coverage_tests/coverage_test-sim.ipynb
  case_studies/starnet/coverage_tests/scripts/many_sources.yaml
  case_studies/starnet/coverage_tests/scripts/many_sources_padded3.yaml
  case_studies/starnet/coverage_tests/scripts/train_sleep.py
  case_studies/starnet/coverage_tests/scripts/train_sleep.sh
  case_studies/starnet/m2_results-testing.ipynb
  case_studies/starnet/scripts/train_sleep.py
  case_studies/starnet/scripts/train_sleep.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

adding
  bliss/catalog.py
  bliss/reporting.py
  case_studies/coadds/align_single_exposures.py
  case_studies/coadds/coadd_decoder.py
  case_studies/coadds/config/config.yaml
  case_studies/coadds/main.py
  case_studies/coadds/models/coadd_encoder.pt
  case_studies/coadds/models/encoder.pt
  case_studies/coadds/notebooks/coadd_dataset.ipynb
  case_studies/coadds/notebooks/test_model.ipynb
  case_studies/coadds/notebooks/test_model2.ipynb
  case_studies/coadds/train.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Update einops and remove the extra typing hints
  poetry.lock
  pyproject.toml
  typings/einops/__init__.pyi
Due: trailing-whitespace, end-of-file-fixer

remove mean detections from detection encoder
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove instances in configs and tests
  case_studies/coadds/config/config.yaml
  case_studies/psf_homogenization/config/config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/strong_lensing/config/config.yaml
  tests/case_studies/m2/m2.yaml
  tests/star_basic/star_basic.yaml
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

PSF bugfix
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Remove mean sources attribute from detection encoder (#680)
  bliss/models/detection_encoder.py
  case_studies/coadds/config/config.yaml
  case_studies/psf_homogenization/config/config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/strong_lensing/config/config.yaml
  tests/case_studies/m2/m2.yaml
  tests/star_basic/star_basic.yaml
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Update einops and remove the extra typing hints (#679)
  poetry.lock
  pyproject.toml
  typings/einops/__init__.pyi
Due: trailing-whitespace, end-of-file-fixer

PSF bugfix (#681)
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

don't use tiler class within startiledecoder
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

don't use tiler class for galaxies
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

created class to download spectro data
  bliss/datasets/sdss_spectro.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove psf_image_file
  bliss/models/galsim_decoder.py
  bliss/models/prior.py
  bliss/models/psf_decoder.py
  case_studies/coadds/config/config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove unused datasets
  case_studies/strong_lensing/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

moved shared encoder layers to their own file
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  bliss/models/encoder_layers.py
  bliss/models/galsim_encoder.py
  bliss/models/lens_encoder.py
  bliss/models/lensing_binary_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

delete file
  data/sdss/psField-000094-1-0012-PSF-image.npy
Due: none

break out fit_source_to_ptile() from Tiler
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

do the same for lensed galaxy decoder
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

disable test for now
  tests/case_studies/coadds/test_coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

need sdss_bands
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

mypy
  bliss/models/decoder.py
  bliss/models/galsim_decoder.py
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

isort
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor shared encoder layers (#684)
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  bliss/models/encoder_layers.py
  bliss/models/galsim_encoder.py
  bliss/models/lens_encoder.py
  bliss/models/lensing_binary_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

m2 experiments
  bliss/models/location_encoder.py
  case_studies/starnet/coverage_tests/check_edges.ipynb
  case_studies/starnet/coverage_tests/coverage_test-sim.ipynb
  case_studies/starnet/coverage_tests/scripts/train_sleep.py
  case_studies/starnet/coverage_tests/scripts/train_sleep.sh
  case_studies/starnet/m2_results-testing.ipynb
  case_studies/starnet/scripts/m2.yaml
  case_studies/starnet/scripts/train_sleep.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove `psf_image_file` from codebase (#683)
  bliss/models/galsim_decoder.py
  bliss/models/prior.py
  bliss/models/psf_decoder.py
  case_studies/coadds/config/config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/strong_lensing/config/config.yaml
  tests/case_studies/coadds/test_coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove `psf_image_file` from codebase (#683)
  bliss/models/galsim_decoder.py
  bliss/models/prior.py
  bliss/models/psf_decoder.py
  case_studies/coadds/config/config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/strong_lensing/config/config.yaml
  data/sdss/psField-000094-1-0012-PSF-image.npy
  tests/case_studies/coadds/test_coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

not sure why this was ever implemented since unusued
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove unused stuff and simplify into one function
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

only fits extension is used
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

create copy
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix forward
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

one more place forgot
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
