Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

formatting
  case_studies/coadds/examples_align_single_exposure.ipynb
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/decals.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/frame-plotly-decals.ipynb
  case_studies/sdss_galaxies_vae/Galaxy_Flow_and_Flux.ipynb
  case_studies/sdss_galaxies_vae/MSSISS_Presentation_Images.ipynb
  case_studies/starnet/m2_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

hotfix
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update figure
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: none

fix blend metric figure (#657)
  bliss/catalog.py
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix blend metric figure (#657)
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix ci test
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

comment in separate line
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

let's think about this more later
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

new results look ok
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: none

results stayed the same
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: none

Im/fix max tile sources3 (#659)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Im/fix max tile sources3 (#659)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fluxes to star fluxes where applicable
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/inference.py
  bliss/models/decoder.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

already explicit
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

forgot to change to new function name
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update figures
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

fix test and some return values
  bliss/datasets/galsim_galaxies.py
  tests/case_studies/m2/test_m2.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

rename variable
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix test
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

change name of fluxes to star fluxes where applicable (#660)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/inference.py
  bliss/models/decoder.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/reporting.py
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

change name of fluxes to star fluxes where applicable (#660)
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/inference.py
  bliss/models/decoder.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/reporting.py
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update notebook
  case_studies/psf_homogenization/notebook/result_testing.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add Galsim galaxy encoder
  bliss/models/galsim_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add lensing to core decoder
  bliss/models/decoder.py
  bliss/models/galsim_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add lensing encoder
  bliss/models/lens_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add lensing binary encoder
  bliss/models/lensing_binary_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Abstract PSF loading functionality
  bliss/models/decoder.py
  bliss/models/galsim_decoder.py
  bliss/models/psf_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add SDSS data for strong lensing
  data/sdss/5313/3/117/fpM-005313-g3-0117.fits
  data/sdss/5313/3/117/fpM-005313-i3-0117.fits
  data/sdss/5313/3/117/fpM-005313-r3-0117.fits
  data/sdss/5313/3/117/fpM-005313-u3-0117.fits
  data/sdss/5313/3/117/fpM-005313-z3-0117.fits
  data/sdss/5313/3/117/frame-g-005313-3-0117.fits
  data/sdss/5313/3/117/frame-i-005313-3-0117.fits
  data/sdss/5313/3/117/frame-r-005313-3-0117.fits
  data/sdss/5313/3/117/frame-u-005313-3-0117.fits
  data/sdss/5313/3/117/frame-z-005313-3-0117.fits
  data/sdss/5313/3/117/photoObj-005313-3-0117.fits
  data/sdss/5313/3/117/psField-005313-3-0117.fits
  data/sdss/5313/3/photoField-005313-3.fits
Due: none

Integrate lensing into overall encoder
  bliss/catalog.py
  bliss/encoder.py
  bliss/models/galsim_encoder.py
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Added scripts for posterior coverage
  case_studies/strong_lensing/eval.py
  case_studies/strong_lensing/eval_ci.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add strong lensing case study w/ models
  case_studies/strong_lensing/Makefile
  case_studies/strong_lensing/README.md
  case_studies/strong_lensing/__init__.py
  case_studies/strong_lensing/config/__init__.py
  case_studies/strong_lensing/config/config.yaml
  case_studies/strong_lensing/config/generate/sdss_individual_galaxies.yaml
  case_studies/strong_lensing/config/training/binary.yaml
  case_studies/strong_lensing/config/training/detection_encoder.yaml
  case_studies/strong_lensing/config/training/galaxy_encoder.yaml
  case_studies/strong_lensing/config/training/lens_encoder.yaml
  case_studies/strong_lensing/config/training/lensing_binary_encoder.yaml
  case_studies/strong_lensing/eval.ipynb
  case_studies/strong_lensing/main.py
  case_studies/strong_lensing/models/binary.pt
  case_studies/strong_lensing/models/binary.pt.log.json
  case_studies/strong_lensing/models/detection_encoder.pt
  case_studies/strong_lensing/models/detection_encoder.pt.log.json
  case_studies/strong_lensing/models/galaxy_encoder.pt
  case_studies/strong_lensing/models/galaxy_encoder.pt.log.json
  case_studies/strong_lensing/models/lens_encoder.pt
  case_studies/strong_lensing/models/lens_encoder.pt.log.json
  case_studies/strong_lensing/models/lensing_binary_encoder.pt
  case_studies/strong_lensing/models/lensing_binary_encoder.pt.log.json
  case_studies/strong_lensing/plots/__init__.py
  case_studies/strong_lensing/plots/main.py
  case_studies/strong_lensing/real_data.ipynb
  case_studies/strong_lensing/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add lensing tests
  tests/case_studies/strong_lensing/conftest.py
  tests/case_studies/strong_lensing/test_lens_encoder.py
  tests/case_studies/strong_lensing/test_lensing_binary_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add parallel training (WIP)
  bliss/datasets/simulated.py
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Integrate lensing into overall encoder
  bliss/catalog.py
  bliss/encoder.py
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

cleaning
  .gitignore
  bliss/models/location_encoder.py
  bliss/models/prior.py
  bliss/sleep.py
  case_studies/starnet/coverage_tests/check_edges.ipynb
  case_studies/starnet/coverage_tests/coverage_test-sim.ipynb
  case_studies/starnet/coverage_tests/scripts/many_sources_padded2.yaml
  case_studies/starnet/deblending_experiments/star_tile.ipynb
  case_studies/starnet/decaps/scripts/decaps.yaml
  case_studies/starnet/decaps/scripts/train_sleep_decaps.py
  case_studies/starnet/decaps/scripts/train_sleep_decaps.sh
  case_studies/starnet/tile_m2.ipynb
  case_studies/starnet/tile_sim.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
