Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

a few errors fixed and new functions for manipulation full catalogs
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

here is a draft of my own sims to test new structure
  bliss/datasets/galsim_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

more bugs fixed
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

another einops bug found
  bliss/render_tiles.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

images need to be float in datasets; a new utility function for easy of getting loss function from dataloader batch
  bliss/datasets/galsim_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

need to sum over 'xy' dimension for location log prob
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

command line with click better than argparse
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

comment
  bliss/datasets/galsim_blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

draft of pipeline
  bliss/training/train_detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

checks
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

move check to catalog + docstring + renaming variables for consistency
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

simplify to a single output from NN for probably of "on" sources
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

a few bugs
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new dataset created
  case_studies/galsim_galaxies/get_datasets.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

use float for n_sources when multilpiying so same dtype; use mean when reporting locs_loss
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

old detection encoder in case it's helpful
  bliss/encoders/old_detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

critical error
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

csv galaxy
  case_studies/redshift_estimation/ImageGeneration.ipynb
  case_studies/redshift_estimation/prior.py
  case_studies/redshift_estimation/redshift.yaml
  redshift_output/version_0/events.out.tfevents.1711494940.deeplearning-01.stat.lsa.umich.edu.2665665.0
  redshift_output/version_0/hparams.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

galaxy
  case_studies/redshift_estimation/generation_test.ipynb
  case_studies/redshift_estimation/prior_truth.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

galaxy
  case_studies/redshift_estimation/generation_test.ipynb
Due: trailing-whitespace, end-of-file-fixer

Notebook: LambdaCDM and power spectrum additions to prior
  case_studies/weak_lensing/notebooks/cosmology_prior.ipynb
  case_studies/weak_lensing/notebooks/galsim_practice.ipynb
Due: trailing-whitespace, end-of-file-fixer

Add MSE for redshift estimation
  case_studies/redshift_estimation/metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fixed shaping issue in to_full_catalog
  case_studies/redshift_estimation/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

adding metrics commits
  bliss/encoder/encoder.py
  case_studies/redshift_estimation/metrics.py
  case_studies/redshift_estimation/redshift.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

pytorch lightning is still useful (use with less configs)
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

pl comptability
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

added power spectrum notebook
  case_studies/weak_lensing/notebooks/generate_power_spectrum.ipynb
  case_studies/weak_lensing/notebooks/sample_ps_vals.txt
Due: trailing-whitespace, end-of-file-fixer

Update prior.py for galaxy prior
  case_studies/redshift_estimation/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

ignore any files that are output
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

we finished our cmparison with the old detection
  bliss/encoders/old_detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

correct testing catalog with new methods
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

non important change
  case_studies/galsim_galaxies/notebooks/ambiguous-blends.ipynb
Due: trailing-whitespace, end-of-file-fixer

update the metrics
  bliss/encoders/detection.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

data in notebooks folder won't be committed
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

renames
  bliss/datasets/blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

all absorbed in galsim blends
  bliss/datasets/stars.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

just rename
  bliss/encoders/binary.py
  bliss/encoders/deblend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

for creating final training dataset
  case_studies/galsim_galaxies/get_galsim_blends_ds.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

sample scripts for training models for case study
  case_studies/galsim_galaxies/run/test_script.py
  case_studies/galsim_galaxies/run/test_script_pl.py
Due: isort, pylint, flake8, mypy, darglint, black

change imports
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
