Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

no need to fix these extensions
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer

no need for PDF
  bliss/generate.py
  case_studies/sdss_galaxies/plots.py
  tests/case_studies/sdss_galaxies/test_generate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add new improvements from VAE
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

we need to retrain bc of bug in GalaxyPrior
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_sleep.pt
  case_studies/sdss_galaxies/models/sdss_sleep.pt.log.json
Due: none

add more to make clean
  case_studies/sdss_galaxies/Makefile
Due: trailing-whitespace, end-of-file-fixer

makme alpha accessible
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

set a seed
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

retrain pareto autoencoder
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
Due: none

retrain with pareto
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_sleep.pt
  case_studies/sdss_galaxies/models/sdss_sleep.pt.log.json
Due: none

cleanup plots
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add a warning when generating latents
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix plotting bug in plot_locs()
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix plotting bug in plot_locs() (#492)
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

be explicit about which one is used
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

class implemented elsewhere
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use frames in FullCatalog in plots.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

try pareto as prior of galaxy fluxes (#463)
  .pre-commit-config.yaml
  bliss/datasets/galsim_galaxies.py
  bliss/generate.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/reporting.py
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_generate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

try pareto as prior of galaxy fluxes (#463)
  .pre-commit-config.yaml
  bliss/datasets/galsim_galaxies.py
  bliss/generate.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  bliss/reporting.py
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_sleep.pt
  case_studies/sdss_galaxies/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.pdf
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_generate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

two important corrects
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix two important errors indexing
  bliss/catalog.py
  bliss/inference.py
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

set mag_slack to 1.0
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix two important errors in indexing when computing metrics (#497)
  bliss/catalog.py
  bliss/inference.py
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added logging and scatter probability plot
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

finished retraining
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
Due: none

retrained vae
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
Due: none

Make accuracy pandas table
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Switch VAE config to pareto
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
Due: trailing-whitespace, end-of-file-fixer

updated real encoder
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
Due: trailing-whitespace, end-of-file-fixer

added function to collect metrics
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Retrain VAE on dim galaxies (#493)
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Retrain VAE on dim galaxies (#493)
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae_flow.pt
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add flux-flux scatter
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add probability vs magnitude scatter and mag_true vs mag_est plot (#499)
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix typo
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

linting
  bliss/catalog.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add number of sources per-bin
  bliss/reporting.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Replace mag_cut with mag_bin
  bliss/catalog.py
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
