Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

added training time to output JSON (#544)
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

test_location_encoder.py passes
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Passing test_encoder_forward()
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

updated results
  case_studies/sdss_galaxies_vae/output-with-photo/results.txt
  case_studies/sdss_galaxies_vae/output-with-photo/sdss_figures/sdss_recon_all_stats_by_threshold.csv
  case_studies/sdss_galaxies_vae/output-with-photo/sdss_figures_noadj/sdss_recon_all_stats_by_threshold.csv
  case_studies/sdss_galaxies_vae/output-with-photo/semisynthetic_figures/sdss_recon_all_stats_by_threshold.csv
  case_studies/sdss_galaxies_vae/output-with-photo/simulated_figures/sdss_recon_all_stats_by_threshold.csv
Due: trailing-whitespace, end-of-file-fixer

retrained with training times
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
Due: none

don't really need non-adjusted figures anymore
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_noadj.yaml
  case_studies/sdss_galaxies_vae/output-with-photo/sdss_figures_noadj/sdss_recon_all_stats_by_threshold.csv
Due: trailing-whitespace, end-of-file-fixer

added .gitignore
  case_studies/sdss_galaxies_vae/.gitignore
Due: trailing-whitespace, end-of-file-fixer

VAE Case Study: Retrain to get training times in JSON (#546)
  case_studies/sdss_galaxies_vae/.gitignore
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_noadj.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/output-with-photo/results.txt
Due: trailing-whitespace, end-of-file-fixer

VAE Case Study: Retrain to get training times in JSON (#546)
  case_studies/sdss_galaxies_vae/.gitignore
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_noadj.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/output-with-photo/results.txt
  case_studies/sdss_galaxies_vae/output-with-photo/sdss_figures/sdss_recon_all_stats_by_threshold.csv
  case_studies/sdss_galaxies_vae/output-with-photo/sdss_figures_noadj/sdss_recon_all_stats_by_threshold.csv
  case_studies/sdss_galaxies_vae/output-with-photo/semisynthetic_figures/sdss_recon_all_stats_by_threshold.csv
  case_studies/sdss_galaxies_vae/output-with-photo/simulated_figures/sdss_recon_all_stats_by_threshold.csv
Due: trailing-whitespace, end-of-file-fixer

Move Frame classes into their own file
  bliss/datasets/frame.py
  bliss/inference.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Add asserts for type stability
  bliss/datasets/frame.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Initial sketch of what an optimization procedure could look like
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: isort, pylint, flake8, black

added more pseudocode of another approach
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: isort, pylint, flake8, black

m2 results
  bliss/models/location_encoder.py
  case_studies/starnet/decaps/decaps_results.ipynb
  case_studies/starnet/m2_results-pcat.ipynb
  case_studies/starnet/scripts/train_sleep.sh
  case_studies/starnet/starnet_utils/starnet_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

m2 figures
  case_studies/starnet/figures/m2_results/example_subimages_pcat.png
  case_studies/starnet/figures/m2_results/example_subimages_starnet.png
  case_studies/starnet/figures/m2_results/luminosity_fun.png
  case_studies/starnet/figures/m2_results/summary_statistics_m2.png
Due: none

decaps figures
  case_studies/starnet/decaps/decaps_results.ipynb
  case_studies/starnet/figures/decaps/summary_statistics_m2.png
Due: trailing-whitespace, end-of-file-fixer

decaps figure
  case_studies/starnet/figures/decaps/example_subimage_decaps.png
Due: none

decaps figures
  case_studies/starnet/figures/decaps/decaps_cmd.png
Due: none

have pre-commit run mypy; upgrade pytorch dependency
  .pre-commit-config.yaml
  bliss/catalog.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

always a bug
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

upgrade pytorch; pre-commit runs mypy (#550)
  .pre-commit-config.yaml
  bliss/catalog.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

got rudimentary loglik algorithm working I think
  bliss/catalog.py
  bliss/inference.py
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

seems to work, but likelihood dominates
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

the most sensitive model in the world
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

breakthrough!
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/output-debug/results.txt
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor
  .github/workflows/tests.yml
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove mag_slack
  bliss/reporting.py
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing whitespace
  case_studies/sdss_galaxies_vae/config/training/sdss_location_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

Got MLE background training working
  bliss/datasets/sdss_blended_galaxies.py
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

MLE test
  bliss/datasets/sdss_blended_galaxies.py
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/output-debug/results.txt
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Different background settings
  bliss/datasets/sdss_blended_galaxies.py
  case_studies/sdss_galaxies_vae/output-debug/results.txt
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

change bg
  case_studies/sdss_galaxies_vae/padded_tile_optimization.py
Due: isort, pylint, flake8, black

remove confusing comment
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove mag_slack (#551)
  .github/workflows/tests.yml
  bliss/reporting.py
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/config/training/sdss_location_encoder.yaml
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove mag_slack (#551)
  .github/workflows/tests.yml
  bliss/reporting.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/config/training/sdss_location_encoder.yaml
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

now results agree with the full scene
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

now results agree with the full scene (#554)
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

now results agree with the full scene (#554)
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

galaxy parameters are useful to check against truth later
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
