Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

give up and go back to original
  .github/workflows/case_studies.yml
Due: trailing-whitespace, end-of-file-fixer

fix python version in case studies ci
  .github/workflows/case_studies.yml
Due: trailing-whitespace, end-of-file-fixer

refactoring in preparation to remove tiling
  .gitignore
  .pre-commit-config.yaml
  bliss/catalog.py
  bliss/encoder.py
  bliss/inference.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/prior.py
  bliss/plotting.py
  bliss/reporting.py
  bliss/train.py
  case_studies/coadds/__init__.py
  case_studies/coadds/get_results.py
  poetry.lock
  pyproject.toml
  tests/case_studies/galsim_galaxies/test_reporting.py
  tests/case_studies/m2/test_m2.py
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

black
  case_studies/galsim_galaxies/get_figures.py
  case_studies/sdss_galaxies/get_figures.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/starnet/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactoring in preparation to remove tiling (#717)
  .gitignore
  .pre-commit-config.yaml
  bliss/catalog.py
  bliss/encoder.py
  bliss/inference.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/prior.py
  bliss/plotting.py
  bliss/reporting.py
  bliss/train.py
  case_studies/coadds/__init__.py
  case_studies/coadds/get_results.py
  case_studies/galsim_galaxies/get_figures.py
  case_studies/sdss_galaxies/get_figures.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/starnet/plotting.py
  poetry.lock
  pyproject.toml
  tests/case_studies/galsim_galaxies/test_reporting.py
  tests/case_studies/m2/test_m2.py
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new fully convolutional detection encoder
  bliss/train.py
  case_studies/new_detection_encoder/__init__.py
  case_studies/new_detection_encoder/config/__init__.py
  case_studies/new_detection_encoder/config/config.yaml
  case_studies/new_detection_encoder/main.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix tests
  case_studies/coadds/config/config.yaml
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/config/training/sdss_binary.yaml
  case_studies/galsim_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder_full_decoder.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae_flow.yaml
  case_studies/strong_lensing/config/config.yaml
  case_studies/strong_lensing/config/training/binary.yaml
  case_studies/strong_lensing/config/training/detection_encoder.yaml
  case_studies/strong_lensing/config/training/galaxy_encoder.yaml
  case_studies/strong_lensing/config/training/lens_encoder.yaml
  case_studies/strong_lensing/config/training/lensing_binary_encoder.yaml
  tests/case_studies/m2/m2.yaml
  tests/conftest.py
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix documentation
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

set snr draft
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

additional figures that are interesting to include in presentation
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new figures
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_residuals.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separation.png
  case_studies/galsim_galaxies/figures/toy_separation_measurements.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

add snr from estimated catalog
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update bins and figures with snr
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove magnitude in AE measurements; changes names
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_bin_residuals.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

labels update
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small figure improvements
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

organize pyproject toml
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

black
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

black
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

python3.10 typing correction
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix galsim_galaxies case studies and rerun figures
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

changes based on code review
  case_studies/new_detection_encoder/config/config.yaml
  case_studies/new_detection_encoder/main.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fully convolutional detection encoder (#718)
  bliss/train.py
  case_studies/coadds/config/config.yaml
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/config/training/sdss_binary.yaml
  case_studies/galsim_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/new_detection_encoder/__init__.py
  case_studies/new_detection_encoder/config/__init__.py
  case_studies/new_detection_encoder/config/config.yaml
  case_studies/new_detection_encoder/main.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_autoencoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder_full_decoder.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_vae_flow.yaml
  case_studies/strong_lensing/config/config.yaml
  case_studies/strong_lensing/config/training/binary.yaml
  case_studies/strong_lensing/config/training/detection_encoder.yaml
  case_studies/strong_lensing/config/training/galaxy_encoder.yaml
  case_studies/strong_lensing/config/training/lens_encoder.yaml
  case_studies/strong_lensing/config/training/lensing_binary_encoder.yaml
  poetry.lock
  pyproject.toml
  tests/case_studies/m2/m2.yaml
  tests/conftest.py
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use flux not magnitude add seed true - recon everywhere
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

increase blending
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

recreate figures
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

need decoder here for tests
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

BL presentation figures 01/23/23 (#716)
  bliss/catalog.py
  bliss/models/decoder.py
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/figures/ae_bin_hists.png
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_bin_residuals.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/blendsim_classification.png
  case_studies/galsim_galaxies/figures/blendsim_detection.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/blendsim_hists.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separation.png
  case_studies/galsim_galaxies/figures/toy_separation_measurements.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/models/simulated_blended_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/galsim_galaxies/models/simulated_sdss_individual_galaxies_images.png
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

BL presentation figures 01/23/23 (#716)
  bliss/catalog.py
  bliss/models/decoder.py
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/get_figures.py
  case_studies/galsim_galaxies/notebooks/toy-separation-test.ipynb
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small fixes on figures for paper
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

small fixes on figures for paper
  case_studies/galsim_galaxies/figures/ae_bin_measurements.png
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/figures/blendsim_gal_meas.png
  case_studies/galsim_galaxies/figures/toy_measurements.png
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix toy residual figure
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix toy residual figure
  case_studies/galsim_galaxies/figures/toy_residuals.png
  case_studies/galsim_galaxies/figures/toy_separations.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix label
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix label
  case_studies/galsim_galaxies/figures/ae_recon_random.png
  case_studies/galsim_galaxies/figures/ae_recon_worst.png
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
