Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

update config
  case_studies/coadds/config/config.yml
Due: trailing-whitespace, end-of-file-fixer

update coadd_decoder and add test_notebook
  case_studies/coadds/coadd_decoder.py
  case_studies/coadds/config/config.yml
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update render_galaxy in coadd_decoder, still need to fix render_catalog
  case_studies/coadds/coadd_decoder.py
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove test_notebook from this branch
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer

fixed render_catalog
  case_studies/coadds/coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

adding align_single_exposures function, snr function and galsim_galaxy dataset
  case_studies/coadds/align_single_exposures.py
  case_studies/coadds/datasets.galsim_galaxies.py
  case_studies/coadds/signal_noise_ratio
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update signal_noise_ratio
  case_studies/coadds/signal_noise_ratio.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add cropping to align_single_exposures
  case_studies/coadds/coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update notebook
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer

branch with only align and snr
  case_studies/coadds/coadd_decoder.py
  case_studies/coadds/config/config.yml
  case_studies/coadds/datasets.galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update formatting
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix scale in test_
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added bandpass
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

adding assert shape to test, fix naming conventions in align_, and change formula for snr
  case_studies/coadds/align_single_exposures.py
  case_studies/coadds/examples_align_single_exposure.ipynb
  case_studies/coadds/signal_noise_ratio.py
  case_studies/coadds/test_notebook.ipynb
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update formatting per black
  case_studies/coadds/signal_noise_ratio.py
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update snr
  case_studies/coadds/signal_noise_ratio.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Update case_studies/coadds/align_single_exposures.py
  case_studies/coadds/align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

cleaned up align_
  case_studies/coadds/align_single_exposures.py
  case_studies/coadds/examples_align_single_exposure.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove test_notebook
  case_studies/coadds/test_notebook.ipynb
Due: trailing-whitespace, end-of-file-fixer

SNR fixes
  case_studies/coadds/signal_noise_ratio.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

align single exposures fix
  case_studies/coadds/align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Mallory/align (#652)
  case_studies/coadds/align_single_exposures.py
  case_studies/coadds/config/config.yml
  case_studies/coadds/examples_align_single_exposure.ipynb
  case_studies/coadds/signal_noise_ratio.py
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/decals.ipynb
  tests/case_studies/coadds/test_align_single_exposures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add icml reference
  README.md
Due: trailing-whitespace, end-of-file-fixer

add icml reference (#654)
  README.md
Due: trailing-whitespace, end-of-file-fixer

filter
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Mallory/align (#646)
  case_studies/sdss_galaxies/notebooks/frame-plotly.ipynb
  case_studies/sdss_galaxies/notebooks/full-galsim-decoder.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/decals.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/frame-plotly-decals.ipynb
  case_studies/sdss_galaxies_vae/Galaxy_Flow_and_Flux.ipynb
  case_studies/sdss_galaxies_vae/MSSISS_Presentation_Images.ipynb
  case_studies/starnet/m2_results.ipynb
Due: trailing-whitespace, end-of-file-fixer

fix name
  bliss/catalog.py
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

actually fluxes is OK
  bliss/inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

error
  bliss/models/detection_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

consisting naming of star fluxes to avoid confusion
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/inference.py
  bliss/models/decoder.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/prior.py
  case_studies/starnet/plotting.py
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix mistake on semisynthetic frame
  bliss/inference.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update figures, investigate change??
  case_studies/sdss_galaxies/figures/blend_detection_metrics.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

add coadd_decoder, test_, and example_
  case_studies/coadds/coadd_decoder.py
  case_studies/coadds/examples_coadd_decoder.ipynb
  tests/case_studies/coadds/test_coadd_decoder
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
