Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort --line-length 100
  language: system
  args:
  - --profile black
  - --line-length 100

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.8
  args:
  - --line-length=100

Fix matching algorithm by adding sharp penalty for points far away
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Make comment more clear
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fix matching algorithm by adding sharp penalty for points far away (#519)
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add bin magnitude plots for detection and classification metrics, also f1 score
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

a couple of bugs when adding bins
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add counts
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update bin figures
  case_studies/sdss_galaxies/figures/flux-comparison.png
  case_studies/sdss_galaxies/figures/random_reconstructions.png
  case_studies/sdss_galaxies/figures/sdss-classification-acc-bins.png
  case_studies/sdss_galaxies/figures/sdss-classification-acc-cuts.png
  case_studies/sdss_galaxies/figures/sdss-classification-acc.png
  case_studies/sdss_galaxies/figures/sdss-mag-class-scatter.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall-bins.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall-cuts.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall.png
  case_studies/sdss_galaxies/figures/single_galaxy_measurements_contours.png
  case_studies/sdss_galaxies/figures/single_galaxy_scatter_bins.png
Due: none

fix star counts
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added rest of models
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
Due: none

updated VAE model
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
Due: none

retrained models
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
Due: none

adjust star fluxes
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
Due: trailing-whitespace, end-of-file-fixer

adjust minimum of flux to be 622 (mag=23)
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

updated results
  case_studies/sdss_galaxies_vae/output-with-photo/results.txt
Due: trailing-whitespace, end-of-file-fixer

update results file
  case_studies/sdss_galaxies_vae/output-with-photo/results.txt
Due: trailing-whitespace, end-of-file-fixer

VAE: Set minimum galaxy flux to 622 (23 magnitude) (#516)
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/output-with-photo/results.txt
Due: trailing-whitespace, end-of-file-fixer

VAE: Set minimum galaxy flux to 622 (23 magnitude) (#516)
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt
  case_studies/sdss_galaxies_vae/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt
  case_studies/sdss_galaxies_vae/models/sdss_galaxy_encoder_real.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt
  case_studies/sdss_galaxies_vae/models/sdss_sleep.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt
  case_studies/sdss_galaxies_vae/models/sdss_vae.pt.log.json
  case_studies/sdss_galaxies_vae/output-with-photo/results.txt
Due: trailing-whitespace, end-of-file-fixer

change to more standard name
  bliss/reporting.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactoring and histograms plots added
  case_studies/sdss_galaxies/figures/sdss-classification-acc-bins.png
  case_studies/sdss_galaxies/figures/sdss-classification-acc-cuts.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall-bins.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall-cuts.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add gaalxy coadd matches
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added matched counts and fix colors
  case_studies/sdss_galaxies/figures/sdss-classification-acc-bins.png
  case_studies/sdss_galaxies/figures/sdss-classification-acc-cuts.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall-bins.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall-cuts.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

simplify fignames (whatever is returned) and allow for any image format
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix error in reconstruction test
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update figures and rename
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/sdss_classification_bins.png
  case_studies/sdss_galaxies/figures/sdss_classification_cuts.png
  case_studies/sdss_galaxies/figures/sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/sdss_mag_comparison.png
  case_studies/sdss_galaxies/figures/sdss_scatter_class_prob.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/single_galaxy_measurements_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
Due: none

add histogram of n_sources to metrics plots (#520)
  bliss/reporting.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add histogram of n_sources to metrics plots (#520)
  bliss/reporting.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/flux-comparison.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/random_reconstructions.png
  case_studies/sdss_galaxies/figures/sdss-classification-acc.png
  case_studies/sdss_galaxies/figures/sdss-mag-class-scatter.png
  case_studies/sdss_galaxies/figures/sdss-precision-recall.png
  case_studies/sdss_galaxies/figures/sdss_classification_bins.png
  case_studies/sdss_galaxies/figures/sdss_classification_cuts.png
  case_studies/sdss_galaxies/figures/sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/sdss_mag_comparison.png
  case_studies/sdss_galaxies/figures/sdss_scatter_class_prob.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/single_galaxy_measurements_contours.png
  case_studies/sdss_galaxies/figures/single_galaxy_scatter_bins.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Added mypy and fixed up inference.py
  bliss/inference.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

mypy on catalog.py
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix most issues in train.py
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

figured out how to make mypy happy with omegaconf
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

make mypy happy with register_buffer
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

refactor background into its own file
  bliss/datasets/background.py
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/simulated.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add runtime checks of background
  bliss/datasets/background.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Fixed most of mypy errors
  bliss/generate.py
  bliss/models/galaxy_net.py
  bliss/models/prior.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

no more mypy errors
  bliss/datasets/sdss_blended_galaxies.py
  bliss/models/binary.py
  bliss/models/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

flake8
  bliss/datasets/galsim_galaxies.py
  bliss/inference.py
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix tests
  bliss/datasets/background.py
  bliss/models/decoder.py
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix call to background
  bliss/datasets/background.py
  bliss/datasets/galsim_galaxies.py
  bliss/inference.py
  bliss/models/decoder.py
  bliss/models/prior.py
  case_studies/sdss_galaxies_vae/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add mypy to github actions
  .github/workflows/tests.yml
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
