Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - "--ignore-missing-imports"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.10
        types: [python]
        args:
          - "--line-length=100"

one more useless dependency
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Plot images every 10th epoch during validation; plot regions as grid
  bliss/encoder.py
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

no darglint
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer

update packages (pin at least by major version)
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

update poetry
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

no need for profiler
  bliss/train.py
  case_studies/coadds/config/config.yaml
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  tests/conftest.py
  tests/star_basic/star_basic.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

remove lensing, galsim encoder for now
  bliss/catalog.py
  bliss/encoder.py
  bliss/models/decoder.py
  bliss/models/galsim_decoder.py
  bliss/models/galsim_encoder.py
  bliss/models/lens_encoder.py
  bliss/models/lensing_binary_encoder.py
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix pl hooks
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/psf_decoder.py
  bliss/models/vae/galaxy_flow.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix after package updates
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  bliss/models/galaxy_encoder.py
  bliss/models/galaxy_net.py
  bliss/models/vae/galaxy_flow.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

use latest packages everywhere
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

ignore warnings from torchmetrics and pl
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

one more warning
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Region loss bug fixes; add initial variational_mode
  bliss/plotting.py
  case_studies/prob_tile_suppression/region_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Move get_pos_for_new_loc directly into conversion
  case_studies/prob_tile_suppression/region_catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

rolling z-score model standard + unalign-realign case study
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/transforms.py
  case_studies/unalign_realign/alignment.ipynb
  case_studies/unalign_realign/config.yaml
  data/pretrained_models/rolling_z_10x10.pt
  data/tests/test_image/dataset_0.pt
  tests/test_sdss_reconstruct.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

updated mock predict output
  data/tests/sdss_preds.pt
Due: none

Custom fig size in plot_detections
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update profiler import
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

removing unnecessary transforms
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/transforms.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix to test_predict
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

#829 input transforms (#878)
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/transforms.py
  case_studies/unalign_realign/alignment.ipynb
  case_studies/unalign_realign/config.yaml
  data/pretrained_models/rolling_z_10x10.pt
  data/tests/sdss_preds.pt
  data/tests/test_image/dataset_0.pt
  tests/test_predict.py
  tests/test_sdss_reconstruct.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

#829 input transforms (#878)
  bliss/conf/base_config.yaml
  bliss/encoder.py
  bliss/transforms.py
  case_studies/unalign_realign/alignment.ipynb
  case_studies/unalign_realign/config.yaml
  tests/test_predict.py
  tests/test_sdss_reconstruct.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Model PSF manually following DECaLS docs desc
  bliss/simulator/psf.py
  bliss/surveys/decals.py
  case_studies/decals_e2e_871/decals_background.ipynb
  case_studies/decals_e2e_871/decals_download.ipynb
  case_studies/decals_e2e_871/decals_psf.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Construct per-DECam image PSF, bg
  bliss/conf/base_config.yaml
  bliss/surveys/decals.py
  case_studies/decals_e2e_871/decals_background.ipynb
  case_studies/decals_e2e_871/decals_coadd.ipynb
  case_studies/decals_e2e_871/decals_psf.ipynb
  case_studies/decals_e2e_871/des_psf_and_background.ipynb
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Coadd via depth-wise image unalign/realign
  bliss/conf/base_config.yaml
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  tests/test_metrics.py
  tests/test_predict.py
  tests/test_sdss.py
  tests/test_train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Jitter images (depth, band)-wise via WCS unalignment
  bliss/conf/base_config.yaml
  bliss/predict.py
  bliss/simulator/decoder.py
  bliss/simulator/simulated_dataset.py
  bliss/surveys/decals.py
  bliss/surveys/des.py
  bliss/surveys/sdss.py
  bliss/surveys/survey.py
  tests/test_metrics.py
  tests/test_predict.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix bugs with corner aux vars and add tile suppression to variational_mode
  case_studies/adaptive_tiling/region_catalog.py
  case_studies/adaptive_tiling/region_encoder.py
  tests/test_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Revert name change from true_tile_cat -> true_cat
  bliss/encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black
