Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

add more useful defaults
  case_studies/galsim_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

saved autoencoder model
  case_studies/galsim_galaxies/models/autoencoder.pt
  case_studies/galsim_galaxies/models/autoencoder.pt.log.json
Due: none

small bug in `to_tile_params`
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

slight improve on text
  tests/test_catalogs.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

no more coadd tests
  tests/case_studies/coadds/conftest.py
  tests/case_studies/coadds/test_align_single_exposures.py
  tests/case_studies/coadds/test_coadd_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

no more simulated dataset
  tests/star_basic/conftest.py
  tests/star_basic/star_basic.yaml
  tests/star_basic/test_sleep_star.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

we don't need this
  tests/case_studies/galsim_galaxies/test_galaxy_prior.py
  tests/case_studies/galsim_galaxies/test_generate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Basic principle verfication.
  case_studies/galaxy_clustering/verfication.ipynb
Due: trailing-whitespace, end-of-file-fixer

upon inspecting many noiseless images it seems like we had a small miscentering bug that this fixes, we should still have a rigorous test that catches this
  bliss/datasets/blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Update README.md
  case_studies/galaxy_clustering/README.md
Due: trailing-whitespace, end-of-file-fixer

L1 and Gaussian NLL for location.
  case_studies/galaxy_clustering/encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

Fix broken notebook.
  case_studies/galaxy_clustering/encoder.ipynb
Due: trailing-whitespace, end-of-file-fixer

refactor slightly
  bliss/datasets/stars.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

change config names slightly
  case_studies/galsim_galaxies/config/config.yaml
  case_studies/galsim_galaxies/get_datasets.py
  case_studies/galsim_galaxies/get_figures.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

* refactor into smaller functions * fix error on galaxy locs (offset by half a pixel) * split up image generation from catalog preparation
  bliss/datasets/blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

new tests on locations and total number of stars
  tests/case_studies/galsim_galaxies/test_galaxy_blend.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

correct name
  tests/case_studies/galsim_galaxies/test_binary.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

we won't use this
  tests/case_studies/galsim_galaxies/test_full_galsim_decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

moved notebooks into own directory
  case_studies/redshift_estimation/notebooks/FullPipelineExample.ipynb
  case_studies/redshift_estimation/notebooks/ImageGeneration.ipynb
  case_studies/redshift_estimation/notebooks/VarDists.ipynb
  case_studies/redshift_estimation/notebooks/playground.ipynb
Due: trailing-whitespace, end-of-file-fixer

added example notebook for reading DC2 Truth
  case_studies/redshift_estimation/notebooks/ReadingTruthParquets.ipynb
Due: trailing-whitespace, end-of-file-fixer

image generation by sampling fluxes
  bliss/simulator/decoder.py
  bliss/simulator/prior.py
  bliss/simulator/simulated_dataset.py
  case_studies/redshift_estimation/Image.py
  case_studies/redshift_estimation/ImageGeneration.ipynb
  case_studies/redshift_estimation/simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

tweaks to file paths; updated config; added commands cheat sheet
  case_studies/redshift_estimation/commands.txt
  case_studies/redshift_estimation/redshift.yaml
  case_studies/redshift_estimation/simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

fix a few places where it was assumed band 2 should always be reference band
  bliss/encoder/encoder.py
  bliss/encoder/metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Toy simulater that is roughly 11,000 times faster than galsim
  bliss/simulator/toy_simulated_dataset/__init__.py
  tests/test_toy_simulator.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Black fix
  tests/test_toy_simulator.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

prior
  AcessingPhotometricMagnitudes&Redshifts.ipynb
  case_studies/Distribution_tes.ipynb
  case_studies/get_redshift.py
  case_studies/redshift_estimation/VarDists.ipynb
  case_studies/redshift_estimation/prior.py
  case_studies/redshift_estimation/redshift.yaml
  case_studies/truth_gcr_intro.ipynb
  scripts/.generate_data_in_parallel.sh.swp
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

pylint fixes
  bliss/simulator/toy_simulated_dataset.py
  tests/test_toy_simulator.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

black
  bliss/simulator/toy_simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

darglint
  bliss/simulator/toy_simulated_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update packages
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

black
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

more flexibility in generator used
  bliss/datasets/blends.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

black
  bliss/datasets/stars.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

isort moved to pyproject toml
  .isort.cfg
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

update precommit
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer

import from functional directly
  bliss/catalog.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

slightly improve naming and linting
  bliss/plotting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

update poetry
  poetry.lock
Due: trailing-whitespace, end-of-file-fixer

linting
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
