Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

notebook for outline got deleted :'( will backup from now on
  case_studies/sdss_galaxies/notebooks/outline.ipynb
Due: trailing-whitespace, end-of-file-fixer

one line is better
  bliss/models/prior.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

correct flux min
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

GPU si more flexible
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer

temporary notebook
  case_studies/sdss_galaxies/notebooks/scratch/curr.ipynb
Due: trailing-whitespace, end-of-file-fixer

first attempt and notebooks
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/notebooks/outline.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/curr.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

function to automatically recover BLISS HO
  case_studies/sdss_galaxies/test.sh
Due: trailing-whitespace, end-of-file-fixer

fix validation dataset for autoencoder
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

deprecated
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

increase number of examples per epoch by a factor of 4
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

scratch notebook
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
Due: trailing-whitespace, end-of-file-fixer

more batches and checkpoint correction
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies/test.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new results and checkpoints
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

fix files precommit
  .devcontainer/devcontainer.json
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add fluxes contours + scatter bins
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

fix mean_sources for binary
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
Due: trailing-whitespace, end-of-file-fixer

update figures one last time
  case_studies/sdss_galaxies/figures/flux_vs_snr.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

fix tests
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
Due: trailing-whitespace, end-of-file-fixer

Retrain AE with fixed validation dataset and larger batches (#622)
  .devcontainer/devcontainer.json
  bliss/datasets/galsim_galaxies.py
  bliss/models/prior.py
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_binary.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder.yaml
  case_studies/sdss_galaxies/config/training/sdss_galaxy_encoder_real.yaml
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies/notebooks/outline.ipynb
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

First Sub
  bliss/datasets/homogenization.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added homogenization.py
  bliss/datasets/homogenization.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

case_studies/psf_homogenization/main.py
  case_studies/psf_homogenization/__init__.py
  case_studies/psf_homogenization/homogenization.py
  case_studies/psf_homogenization/main.py
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

main.py
  case_studies/psf_homogenization/main.py
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

rename LocationEncoder -> DetectionEncoder; and location_encoder -> detection_encoder
  .github/workflows/tests.yml
  bliss/datasets/sdss_blended_galaxies.py
  bliss/encoder.py
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/MSSISS_Presentation_Images.ipynb
  case_studies/sdss_galaxies_vae/Makefile
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies_vae/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/starnet/m2_results.ipynb
  case_studies/starnet/plotting.py
  tests/case_studies/m2/m2.yaml
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_galaxy_prior.py
  tests/case_studies/sdss_galaxies/test_location_encoder.py
  tests/star_basic/star_basic.yaml
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

rename LocationEncoder -> DetectionEncoder; and location_encoder -> detection_encoder (#625)
  .github/workflows/tests.yml
  bliss/datasets/sdss_blended_galaxies.py
  bliss/encoder.py
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/MSSISS_Presentation_Images.ipynb
  case_studies/sdss_galaxies_vae/Makefile
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies_vae/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/starnet/m2_results.ipynb
  case_studies/starnet/plotting.py
  tests/case_studies/m2/m2.yaml
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_galaxy_prior.py
  tests/case_studies/sdss_galaxies/test_location_encoder.py
  tests/star_basic/star_basic.yaml
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

rename LocationEncoder -> DetectionEncoder; and location_encoder -> detection_encoder (#625)
  .github/workflows/tests.yml
  bliss/datasets/sdss_blended_galaxies.py
  bliss/encoder.py
  bliss/models/binary.py
  bliss/models/detection_encoder.py
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/MSSISS_Presentation_Images.ipynb
  case_studies/sdss_galaxies_vae/Makefile
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/training/sdss_detection_encoder.yaml
  case_studies/sdss_galaxies_vae/models/sdss_detection_encoder.pt
  case_studies/sdss_galaxies_vae/models/sdss_detection_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/models/sdss_location_encoder.pt.log.json
  case_studies/sdss_galaxies_vae/reconstruction.py
  case_studies/starnet/m2_results.ipynb
  case_studies/starnet/plotting.py
  tests/case_studies/m2/m2.yaml
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies/test_galaxy_prior.py
  tests/case_studies/sdss_galaxies/test_location_encoder.py
  tests/star_basic/star_basic.yaml
  tests/test_encoder_forward.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

PSF homogenization (#624)
  case_studies/psf_homogenization/__init__.py
  case_studies/psf_homogenization/homogenization.py
  case_studies/psf_homogenization/main.py
  case_studies/psf_homogenization/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add slen to blend sim dataset
  bliss/datasets/galsim_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update git ignore
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

change galsim sim blend config dataset defaults
  case_studies/sdss_galaxies/config/config.yaml
Due: trailing-whitespace, end-of-file-fixer

automatically set star_bools in TileCatalog PhotFullCatalog lives in catalog.py
  bliss/catalog.py
  bliss/datasets/sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

start evaluation on galsim blends figure
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add types
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

tests
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

simplify get_single_galaxy_measurements
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

change name to GalsimBlends, start figure for metrics
  bliss/datasets/galsim_galaxies.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/plots.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

finished testing
  .gitignore
Due: trailing-whitespace, end-of-file-fixer

not used arguments
  bliss/inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
