Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        args:
          - "--maxkb=15000"
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy)
      - id: isort
        name: isort
        entry: isort --line-length 100
        language: system
        types: [python]
        args: [--profile black, --line-length 100]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        language_version: python3.8
        types: [python]
        args:
          - "--line-length=100"
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
      - id: darglint

Revert "Enable sampling from variational distribution (#556)" (#569)
  bliss/catalog.py
  bliss/encoder.py
  bliss/inference.py
  bliss/models/galaxy_encoder.py
  bliss/models/location_encoder.py
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/m2/test_m2.py
  tests/case_studies/sdss_galaxies_vae/test_sdss_blended_galaxies.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

variational -> distribution; and some other minor changes
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove calls to _sample_gated_normal from the sample function
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

quit sampling from delta functions; delete _sample_gated_normal
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

use self.device when possible
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

minor
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

less mysterious unflattening
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

some comments; less nesting; changed clamp call that seemed unnecessary into an assertion
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

avoid some nesting
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

spelling
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

added a comment
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

layers -> layer, to avoid having to re-train, even though the plural is better
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

add epsilon to loc_sd (resp log_flux_sd) easlier, so it's used consistently everywhere
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

more location encoder refactoring (#570)
  bliss/models/location_encoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

models retrained
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt.log.json
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt.log.json
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt.log.json
Due: none

retraining AE case study
  case_studies/sdss_galaxies/Makefile
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/models/README.md
  case_studies/sdss_galaxies/models/latents_simulated_sdss_galaxies.pt
  case_studies/sdss_galaxies/models/sdss_autoencoder.pt
  case_studies/sdss_galaxies/models/sdss_binary.pt
  case_studies/sdss_galaxies/models/sdss_galaxy_encoder.pt
  case_studies/sdss_galaxies/models/sdss_location_encoder.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.pdf
  case_studies/sdss_galaxies/run_experiment.sh
Due: trailing-whitespace, end-of-file-fixer

results are mixed, not sure wheter merging is good
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/random_recon.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/figures/worst_recon.png
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies.pt
  case_studies/sdss_galaxies/models/simulated_sdss_individual_galaxies_images.png
Due: none

Shift PHOTO plocs by 0.5 to be consistent
  bliss/datasets/sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Shift PHOTO plocs by 0.5 to be consistent (#575)
  bliss/datasets/sdss.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

mention git-lfs in the readme
  README.md
Due: trailing-whitespace, end-of-file-fixer

maintain conversational tone
  README.md
Due: trailing-whitespace, end-of-file-fixer

oops
  README.md
Due: trailing-whitespace, end-of-file-fixer

mention git-lfs in the readme (#576)
  README.md
Due: trailing-whitespace, end-of-file-fixer

mention pytest in the readme
  README.md
Due: trailing-whitespace, end-of-file-fixer

mention pytest in the readme (#577)
  README.md
Due: trailing-whitespace, end-of-file-fixer

rerun but same results
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
Due: trailing-whitespace, end-of-file-fixer

calculate mag using modelMag_r
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

new coadd catalog and how to download
  data/coadd_catalog_94_1_12.fits
  data/psField-000094-1-0012-PSF-image.npy
  data/sdss/README.md
  data/sdss/coadd_catalog_94_1_12.fits
  data/sdss/psField-000094-1-0012-PSF-image.npy
Due: trailing-whitespace, end-of-file-fixer

move to correct directory
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/semisynthetic_figures.yaml
  tests/case_studies/sdss_galaxies_vae/test_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove useless functions in reporting, now need wcs to create coadd catalog class
  bliss/inference.py
  bliss/reporting.py
  tests/case_studies/sdss_galaxies/test_reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

remove hlr key
  bliss/datasets/sdss.py
  bliss/reporting.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

update images
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
Due: none

fix small errror
  bliss/inference.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Code to download coadd (#579)
  bliss/datasets/sdss.py
  bliss/inference.py
  bliss/reporting.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/semisynthetic_figures.yaml
  data/sdss/README.md
  data/sdss/coadd_catalog_94_1_12.fits
  tests/case_studies/sdss_galaxies/test_reporting.py
  tests/case_studies/sdss_galaxies_vae/test_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black

Code to download coadd (#579)
  bliss/datasets/sdss.py
  bliss/inference.py
  bliss/reporting.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/bliss_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/bliss_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/bliss_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_class_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_bins.png
  case_studies/sdss_galaxies/figures/photo_sdss_detection_cuts.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_mag_scatter.png
  case_studies/sdss_galaxies/figures/photo_sdss_mag_prob_scatter.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies_vae/config/config.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/sdss_figures_real.yaml
  case_studies/sdss_galaxies_vae/config/reconstruct/semisynthetic_figures.yaml
  data/coadd_catalog_94_1_12.fits
  data/psField-000094-1-0012-PSF-image.npy
  data/sdss/README.md
  data/sdss/coadd_catalog_94_1_12.fits
  data/sdss/psField-000094-1-0012-PSF-image.npy
  tests/case_studies/sdss_galaxies/test_reporting.py
  tests/case_studies/sdss_galaxies_vae/test_reconstruction.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, black
