Repository prob-ml/bliss: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

trailing-whitespace:
  name: trailing-whitespace
  entry: trailing-whitespace-fixer
  language: python

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

darglint:
  name: darglint
  entry: darglint
  language: system

black:
  name: black
  entry: black
  language: python
  language_version: python3.10
  args:
  - --line-length=100

Add basic tests
  case_studies/721_decoder_speedup/main.py
  conf/base_config.yaml
  tests/test_cached_dataset.py
  tests/test_end_to_end.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix formatting
  case_studies/summer_template/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Refactor to make more readable as per comments
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  bliss/train.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Decouple SimulatedDataset from CachedSD
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Generate test cached data in pytest tmpdir
  bliss/simulator/simulated_dataset.py
  case_studies/721_decoder_speedup/config.yaml
  conf/base_config.yaml
  tests/conftest.py
  tests/test_cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Disable pylint error from main.py for now
  case_studies/summer_template/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add pretrained_weights to config
  case_studies/721_decoder_speedup/config.yaml
Due: trailing-whitespace, end-of-file-fixer

Avg 4it/s; make CachedSD IterableDataset
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  case_studies/721_decoder_speedup/config.yaml
  conf/base_config.yaml
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Set num_workers=0 for data loading
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  case_studies/721_decoder_speedup/config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix flaky cached dataset test due to test order
  tests/test_cached_dataset.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Rename case_studies folder
  case_studies/721_diskrw_gsimages/config.yaml
  case_studies/721_diskrw_gsimages/main.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Use fixed valid/test set; nits
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  case_studies/721_diskrw_gsimages/config.yaml
  conf/base_config.yaml
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

R/W generated dataset to/from disk (#738)
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  bliss/train.py
  case_studies/721_diskrw_gsimages/config.yaml
  case_studies/721_diskrw_gsimages/main.py
  conf/base_config.yaml
  tests/conftest.py
  tests/test_cached_dataset.py
  tests/test_end_to_end.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix metrics bug when 0 true or estimated sources
  bliss/metrics.py
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Fix metrics bug when 0 sources (#754)
  bliss/metrics.py
  tests/test_metrics.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add bliss main executable
  case_studies/721_diskrw_gsimages/main.py
  case_studies/diskrw_gsimages_721/__init__.py
  case_studies/diskrw_gsimages_721/config.yaml
  main.py
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Add bliss main executable (#756)
  case_studies/721_diskrw_gsimages/main.py
  case_studies/diskrw_gsimages_721/__init__.py
  case_studies/diskrw_gsimages_721/config.yaml
  main.py
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Decouple generate config from training
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  case_studies/diskrw_gsimages_721/config.yaml
  conf/base_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Cleanup; decouple cached_data_path
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  case_studies/diskrw_gsimages_721/config.yaml
  conf/base_config.yaml
  tests/test_cached_dataset.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Decouple generate config from training (#755)
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  case_studies/diskrw_gsimages_721/config.yaml
  conf/base_config.yaml
  tests/test_cached_dataset.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Save/load data with torch to reduce size
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  conf/base_config.yaml
  tests/test_cached_dataset.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Save/load data with torch to reduce size (#757)
  bliss/generate.py
  bliss/simulator/simulated_dataset.py
  conf/base_config.yaml
  tests/test_cached_dataset.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

overlap notebooks
  case_studies/overlap/Overlapping Tiles Demo - Middle of Subtile (Dec 2).ipynb
  case_studies/overlap/Overlapping Tiles Demo - SDSS.ipynb
  case_studies/overlap/Overlapping Tiles Demo Meeting Nov 17.ipynb
Due: trailing-whitespace, end-of-file-fixer

update the docs
  docs/docsrc/api/bliss.datasets.rst
  docs/docsrc/api/bliss.models.rst
  docs/docsrc/api/bliss.rst
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

restore poetry versioning
  poetry.lock
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

update docs (#758)
  docs/docsrc/api/bliss.datasets.rst
  docs/docsrc/api/bliss.models.rst
  docs/docsrc/api/bliss.rst
Due: trailing-whitespace, end-of-file-fixer

added band-backgrounds - input for model set
  bliss/encoder.py
  bliss/simulator/decoder.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

predict function improvement needed
  bliss/predict.py
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add test image
  data/test_image/sim_tile0.pt
  data/test_image/sim_tile1.pt
  data/test_image/sim_tile2.pt
  data/test_image/sim_tile3.pt
Due: none

improve code style
  bliss/predict.py
  main.py
  tests/test_end_to_end.py
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add test image
  data/test_image/sim_tile11.pt
  data/test_image/sim_tile19.pt
  data/test_image/sim_tile27.pt
  data/test_image/sim_tile8.pt
Due: none

include two tests one works
  tests/test_sdss_reconstruct.py
  tests/test_simulate.py
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

add predict_sdss function
  bliss/predict.py
  conf/base_config.yaml
  main.py
  tests/test_end_to_end.py
  tests/test_sdss_reconstruct.py
  tests/testing_config.yaml
Due: trailing-whitespace, end-of-file-fixer, isort, pylint, flake8, mypy, darglint, black

Path conditions:
  trailing-whitespace: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  end-of-file-fixer: any file but: ^(.*fits|.*pt|.*npz|.*ckpt|.*png|.*inv|.*npy|.*pdf|.*jpg)
  isort: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  darglint: any of: \.py$
  black: any of: \.py$
